.botonesApI {
    padding-bottom: 3%;
}

.detalleApI {
    padding-left: 3%;
}

.formPreasignacion {
    padding-left: 3%;
}

.tablaApropiacion td {

    vertical-align: middle;
}

.spacingValorAp {
    padding-top: 3%;
}

