  <div class="container-fluid">
    <nb-card>
      <nb-card-header>
        {{"APROPIACION.title_gestion_preasignacion" | translate }} -
        <strong>{{ "GLOBAL.vigencia" | translate }}: {{VigenciaActual}}</strong>
      </nb-card-header>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-lg-8 col-xxxl-8">
              <ngx-arbol (rubroSeleccionado)="receiveMessage($event)" [updateSignal]="eventChange"
                [vigencia]="vigenciaSel" [optionSelect]="optionView"></ngx-arbol>
              <ngx-comprobacion-apropiacion-inicial (comprobacion)='checkComprobacion($event)' [vigencia]="vigenciaSel"
                [updateSignal]="eventChange">
              </ngx-comprobacion-apropiacion-inicial>
              <div class="col-md-12 spacingValorAp">
                <button *ngIf="balanceado" type="submit" style="margin-bottom: 3%;" class="btn btn-success btn-block"
                  (click)="aprobarApropiacion()" [hidden]="allApproved">
                  {{ "GLOBAL.aprobar-apropiacion-inicial" | translate }}
                </button>
              </div>
            </div>
            <div *ngIf="isLeaf" class="col-md-4 col-lg-4 col-xxxl-4">
              <mat-tab-group>
                <mat-tab label="{{'GLOBAL.rubro' | translate }}">
                  <div class="container-fluid">
                    <nb-card>
                      <nb-card-header>{{"GLOBAL.detalle-rubro" | translate}}</nb-card-header>
                      <nb-card-body>
                        <form>
                          <div class="form-group">
                            <label>{{ "GLOBAL.nombre-rubro" | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'GLOBAL.nombre' | translate }}"
                              [value]="rubroSeleccionado.Nombre" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.codigo-rubro" | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'GLOBAL.codigo-rubro' | translate }}"
                              [value]="rubroSeleccionado.Codigo" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.unidad-ejecutora" | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'GLOBAL.unidad-ejecutora' | translate }}"
                              [value]="AreaFuncional || ''" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.centro_gestor" | translate }}</label>
                            <input [value]="CentroGestor || ''" type="text" class="form-control"
                              placeholder="{{ 'GLOBAL.centro_gestor' | translate }}" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.descripcion" | translate }}</label>
                            <textarea class="form-control" placeholder="{{ 'GLOBAL.descripcion' | translate }}"
                              [value]="rubroSeleccionado.Descripcion" readonly></textarea>
                          </div>
                        </form>
                      </nb-card-body>
                    </nb-card>
                  </div>
                  <div [hidden]="rubroSeleccionado.Estado === 'aprobada'" class="container-fluid">
                    <nb-card>
                      <nb-card-header>{{ "APROPIACION.detalle-apropiacion-inicial" | translate }}
                      </nb-card-header>
                      <nb-card-body>
                        <div class="row formPreasignacion">
                          <div class="form-group">
                            <label>{{ "APROPIACION.valor-apropiacion-inicial" | translate }}</label>
                            <input currencyMask type="text" min="1" step="any" class="form-control moneyField"
                              id="inputApropiacionI" placeholder="$" value="{{
                                      rubroSeleccionado.ApropiacionInicial
                                    }}" [(ngModel)]="valorApropiacion" />
                            <div class="spacingValorAp">
                              <button type="submit" class="btn btn-info btn-block" (click)="preAsignarApropiacion()">
                                {{ "APROPIACION.pre-asignar-apropiacion-inicial" | translate }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </nb-card-body>
                    </nb-card>
                  </div>
                </mat-tab>
                <mat-tab *ngIf="productos " label="{{'GLOBAL.productos' | translate }}">
                  <!-- productos -->
                  <div class="row" *ngIf="true">
                    <div class="col-md-12">
                      <ngx-productos-rubro [productosAsignados]="listaProductosAsignados" [rubroInfo]="rubroSeleccionado"
                        (cambioListaProductosAsignados)="cambioProductosAsignados($event)"></ngx-productos-rubro>
                      <!-- <pre>{{listaProductosAsignados | json}}</pre> -->
                    </div>
                  </div>
                </mat-tab>
                <mat-tab *ngIf="planAdquisicionesRubro" label="{{'GLOBAL.fuentes' | translate }}">
                  <!-- Plan de Adquisiciones -->
                  <div class="row" *ngIf="true">
                    <div class="col-md-12">
                      <div class="moneyField">
                        <strong>{{ "APROPIACION.total-actividades" | translate }}</strong>
                          {{totalValorActividades | currency:'COP':'symbol':'4.2-2':'co'}}
                        </div>
                      <div *ngIf="diferenciaActividadApropiacion">
                        <p class="moneyField error">
                          {{ "ACTIVIDAD.comprobacion-diferencia" | translate }}{{diferenciaActividadApropiacion | currency:'COP':'symbol':'4.2-2':'co'}}
                        </p>
                      </div>
                      <div class="moneyField">
                        <strong>{{ "APROPIACION.total-fuentes" | translate }}</strong>
                          {{totalValorFuentes | currency:'COP':'symbol':'4.2-2':'co'}}
                        </div>
                      <div *ngIf="diferenciaFuentesApropiacion">
                        <p class="moneyField error">
                          {{ "FUENTE_FINANCIAMIENTO.comprobacion-diferencia" | translate }}{{diferenciaFuentesApropiacion | currency:'COP':'symbol':'4.2-2':'co'}}
                        </p>
                      </div>
                      <nb-card *ngFor="let actividad of planAdquisicionesRubro">

                        <ul>
                          <li><strong>{{ "APROPIACION.actividad" | translate }}</strong> {{actividad.actividad}}
                            <ul>
                              <li><strong>{{ "APROPIACION.valor-actividad" | translate }}</strong>
                                {{actividad.valor_actividad | currency:'COP':'symbol':'4.2-2':'co'}}</li>
                              <li><strong>{{ "APROPIACION.meta" | translate }}</strong> {{actividad.meta}}</li>
                              <li><strong>{{ "APROPIACION.fuente" | translate }}</strong><span>
                                  {{actividad.fuente_financiamiento}}</span> -
                                {{actividad.fuente_financiamiento_nombre?actividad.fuente_financiamiento_nombre:'No Asignada'}}
                                <ul>
                                  <li><strong>{{ "APROPIACION.dependencia" | translate }}</strong> {{actividad.dependencia}}</li>
                                  <li><strong>{{ "APROPIACION.valor-fuente" | translate }}</strong>
                                    {{actividad.valor_fuente_presupuesto | currency:'COP':'symbol':'4.2-2':'co'}}</li>
                                  <li><strong>{{ "APROPIACION.valor-dependencia" | translate }}</strong>
                                    {{actividad.valor_dependencia | currency:'COP':'symbol':'4.2-2':'co'}}</li>
                                </ul>
                              </li>

                            </ul>
                          </li>
                        </ul>
                      </nb-card>

                    </div>
                  </div>
                </mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
    </nb-card>
  </div>