.botonesApI {
    padding-bottom: 3%;
}

.detalleApI {
    padding-left: 3%;
}

.formPreasignacion {
    padding-left: 3%;
}

.tablaApropiacion td {

    vertical-align: middle;
}

.spacingValorAp {
    padding-top: 3%;
}

.moneyField {
    text-align: right;
}

.form-control {
    display: inline;
}
.error {
    color: red;
    font-size: 15px;
}