  <div class="container-fluid">
    <nb-card>
      <nb-card-header>
        {{"APROPIACION.title_gestion_preasignacion" | translate }} -
        <strong>{{ "GLOBAL.vigencia" | translate }}: {{VigenciaActual}}</strong>
      </nb-card-header>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8 col-lg-8 col-xxxl-8">
              <!-- Arbol de apropiaciones -->
              <ngx-arbol (rubroSeleccionado)="receiveMessage($event)" [updateSignal]="eventChange"
                [vigencia]="vigenciaSel" [optionSelect]="optionView">
              </ngx-arbol>
              <!-- Fin Arbol de apropiaciones -->
              <!-- Componente comprobación inicial -->
              <ngx-comprobacion-apropiacion-inicial (comprobacion)='checkComprobacion($event)' [vigencia]="vigenciaSel"
                [updateSignal]="eventChange">
              </ngx-comprobacion-apropiacion-inicial>
              <!-- Fin Componente comprobación inicial -->
              <!-- Boton aprobar comprobación inicial -->
              <div class="col-md-12 spacingValorAp">
                <button *ngIf="balanceado" type="submit" style="margin-bottom: 3%;" class="btn btn-success btn-block"
                  (click)="aprobarApropiacion()" [hidden]="allApproved">
                  {{ "GLOBAL.aprobar-apropiacion-inicial" | translate }}
                </button>
              </div>
              <!-- Fin Boton aprobar comprobación inicial -->
            </div>
            <!-- Detalle del rubro -->
            <div *ngIf="isLeaf" class="col-md-4 col-lg-4 col-xxxl-4">
              <mat-tab-group>
                <mat-tab label="{{'GLOBAL.rubro' | translate }}">
                  <!-- Detalle del rubro : detalle -->
                  <div class="container-fluid">
                    <nb-card>
                      <nb-card-header>{{"GLOBAL.detalle-rubro" | translate}}</nb-card-header>
                      <nb-card-body>
                        <form>
                          <div class="form-group">
                            <label>{{ "GLOBAL.nombre-rubro" | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'GLOBAL.nombre' | translate }}"
                              [value]="rubroSeleccionado.Nombre" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.codigo-rubro" | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'GLOBAL.codigo-rubro' | translate }}"
                              [value]="rubroSeleccionado.Codigo" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.unidad-ejecutora" | translate }}</label>
                            <input type="text" class="form-control" placeholder="{{ 'GLOBAL.unidad-ejecutora' | translate }}"
                              [value]="AreaFuncional || ''" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.centro_gestor" | translate }}</label>
                            <input [value]="CentroGestor || ''" type="text" class="form-control"
                              placeholder="{{ 'GLOBAL.centro_gestor' | translate }}" readonly />
                          </div>
                          <div class="form-group">
                            <label>{{ "GLOBAL.descripcion" | translate }}</label>
                            <textarea class="form-control" placeholder="{{ 'GLOBAL.descripcion' | translate }}"
                              [value]="rubroSeleccionado.Descripcion" readonly></textarea>
                          </div>
                        </form>
                      </nb-card-body>
                    </nb-card>
                  </div>
                  <!-- Fin Detalle del rubro : detalle -->
                  <!-- Detalle del rubro : Valor Apropiacion inicial -->
                  <div [hidden]="rubroSeleccionado.Estado === 'aprobada'" class="container-fluid">
                    <nb-card>
                      <nb-card-header>{{ "APROPIACION.detalle-apropiacion-inicial" | translate }}
                      </nb-card-header>
                      <nb-card-body>
                        <div class="row formPreasignacion">
                          <div class="form-group">
                            <label>{{ "APROPIACION.valor-apropiacion-inicial" | translate }}</label>
                            <input currencyMask type="text" min="1" step="any" class="form-control moneyField"
                              id="inputApropiacionI" placeholder="$" value="{{
                                      rubroSeleccionado.ApropiacionInicial
                                    }}" [(ngModel)]="valorApropiacion" />
                            <div class="spacingValorAp">
                              <button type="submit" class="btn btn-info btn-block" (click)="preAsignarApropiacion()">
                                {{ "APROPIACION.pre-asignar-apropiacion-inicial" | translate }}
                              </button>
                            </div>
                          </div>
                        </div>
                      </nb-card-body>
                    </nb-card>
                  </div>
                  <!-- Fin Detalle del rubro : Valor Apropiacion inicial -->
                </mat-tab>
                <!-- Detalle del rubro : Productos por rubro -->
                <mat-tab *ngIf="productos " label="{{'GLOBAL.productos' | translate }}">
                  <div class="row" *ngIf="true">
                    <div class="col-md-12">
                      <ngx-productos-rubro [productosAsignados]="listaProductosAsignados" [rubroInfo]="rubroSeleccionado"
                        (cambioListaProductosAsignados)="cambioProductosAsignados($event)"></ngx-productos-rubro>
                      <!-- <pre>{{listaProductosAsignados | json}}</pre> -->
                    </div>
                  </div>
                </mat-tab>
                <!-- fin Detalle del rubro : Productos por rubro -->
              </mat-tab-group>
            </div>
            <!-- Fin Detalle del rubro -->
          </div>
        </div>
      </div>
    </nb-card>
  </div>