<div class="row">
    <div class="col-md-4">{{etiqueta}}: {{requerido ? '*':''}}</div>
    <div class="col-md-8" [formGroup]="grupo">
        <nb-radio-group 
            [status]="grupo.get(nombreInput).invalid && grupo.get(nombreInput).dirty || validar && grupo.get(nombreInput).invalid ? 'danger': ''" 
            name={{nombreInput}} 
            fullWidth 
            [formControlName]="nombreInput" 
            [required]="requerido"
            [(ngModel)]="modelo"
            (ngModelChange)=" inputTieneErrores(); modeloChange.emit(modelo);"
            [disabled]="deshabilitado"
            >
            <nb-radio  *ngFor="let objeto of objetos"  [value]="objeto[campoCodigo]">{{objeto[campoValor] | titlecase }}</nb-radio>
        </nb-radio-group>
        <span class="message-error" *ngIf="grupo.get(nombreInput).invalid && grupo.get(nombreInput).dirty || validar && grupo.get(nombreInput).invalid">Campo no válido</span>
    </div>
</div>