<!-- <div class="container-fluid">
  <div class="row">
    <nb-card>
      <nb-card-header>
        <h1>
          {{ "GLOBAL.gestion-titulo" | translate }} {{ selectedOption.option }}
        </h1>
      </nb-card-header>
      <nb-card-body>
        <nb-select id="select_vigencia" placeholder="Vigencia" outline status="success" [(ngModel)]="VigenciaActual">
          <nb-option *ngFor="let v of vigencias" [value]="v" (click)="onSelect(v.vigencia)">{{ v.vigencia }}</nb-option>
        </nb-select>
        <nb-tabset fullWidth (changeTab)="onChangeTab($event)">

          <nb-tab tabTitle="Rubros">
            <ngx-rubros [optionPlanCuentas]="selectedOption"> </ngx-rubros>
          </nb-tab>
          <nb-tab tabTitle="Apropiaciones" >
            <ngx-apropiaciones [optionPlanCuentas]="selectedOption" [vigenciaSeleccionada]="VigenciaActual">
            </ngx-apropiaciones>
          </nb-tab>
          <nb-tab tabTitle="Fuentes">
            <ngx-fuentes></ngx-fuentes>
          </nb-tab>
          <nb-tab tabTitle="Productos" >
         <ngx-productos></ngx-productos>
            </nb-tab>
        </nb-tabset>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->