<div class="logo-container">
        <div class="logo">
          <img class="logo-ud" src="../../../../assets/images/logo_horizontal_ud.png">
        </div>
      </div>

<span class="created-by">Creado con ♥ by <b>Oficina Asesora de Sistemas</b></span>
    <div class="socials">
      <a href="#" target="_blank" class="ion ion-social-github"></a>
      <a href="#" target="_blank" class="ion ion-social-facebook"></a>
      <a href="#" target="_blank" class="ion ion-social-twitter"></a>
      <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
    </div>