<div class="row">
    <div class="logo-container col">
        <div class="logo">
            <img class="logo-ud" src="../../../../assets/images/logo_horizontal_ud.png">
        </div>
    </div>

    <!-- <div class="col">
        <span class="limit">Oficina Asesora de Sistemas</span>
    </div> -->

<div class="col">
        <div class="widgets_div">
                <div class="icon_div">
                    <mat-icon class="mat-icon" svgIcon="clock-outline" inline="true"></mat-icon>
                </div>
                <div class="text_div">
                    <span>Lunes a Viernes</span><br>
                    <span>8am a 5pm</span>
                </div>
            </div>
</div>

<div class="col">
        <div class="widgets_div">
                <div class="icon_div">
                    <mat-icon class="mat-icon" svgIcon="globe-outline" inline="true"></mat-icon>
                </div>
                <div class="text_div">
                    <span>Lunes a Viernes</span><br>
                    <span>8am a 5pm</span>
                </div>
            </div>
</div>

<div class="col">
        <div class="widgets_div">
                <div class="icon_div">
                    <mat-icon class="mat-icon" svgIcon="phone-outline" inline="true"></mat-icon>
                </div>
                <div class="text_div">
                    <span>Lunes a Viernes</span><br>
                    <span>8am a 5pm</span>
                </div>
            </div>
</div>

<div class="col">
        <div class="widgets_div">
                <div class="icon_div">
                    <mat-icon class="mat-icon" svgIcon="pin-outline" inline="true"></mat-icon>
                </div>
                <div class="text_div">
                    <span>Lunes a Viernes</span><br>
                    <span>8am a 5pm</span>
                </div>
            </div>
</div>

<div class="col">
        <div class="widgets_div">
                <div class="icon_div">
                    <mat-icon class="mat-icon" svgIcon="at-outline" inline="true"></mat-icon>
                </div>
                <div class="text_div">
                    <span>Lunes a Viernes</span><br>
                    <span>8am a 5pm</span>
                </div>
            </div>
</div>


<!-- <div class="col">
        <div class="widgets_div">
                <div class="icon_div">
                    <mat-icon class="mat-icon" svgIcon="globe-outline" inline="true"></mat-icon>
                </div>
                <div class="text_div">
                    <span>Sistema Integrado de </span><br>
                    <span> Informática y Comunicaciones</span>
                </div>
            </div>
</div> -->
    
<!--
    <div class="col widgets_div">
        <div class="icon_div">
            <mat-icon class="mat-icon" svgIcon="phone-outline" inline="true"></mat-icon>
        </div>
        <div class="text_div">
            <span class="limit">3239300</span><br>
            <span class="limit">Ext. 1112</span>
        </div>
    </div>

    <div class="col widgets_div">
        <div class="icon_div">
            <mat-icon class="mat-icon" svgIcon="pin-outline" inline="true"></mat-icon>
        </div>
        <div class="text_div">
            <span class="limit">Cra 8 #40-7B</span><br>
            <span class="limit">Piso 1</span>
        </div>
    </div>

    <div class="col widgets_div">
        <div class="icon_div">
            <mat-icon class="mat-icon" svgIcon="at-outline" inline="true"></mat-icon>
        </div>
        <div class="text_div">
            <span class="limit">computo@udistrital.edu.co</span>
        </div>
    </div> -->

</div>



<!-- <span class="created-by">Creado con ♥ by <b>Oficina Asesora de Sistemas</b></span>
    <div class="socials">
      <a href="#" target="_blank" class="ion ion-social-github"></a>
      <a href="#" target="_blank" class="ion ion-social-facebook"></a>
      <a href="#" target="_blank" class="ion ion-social-twitter"></a>
      <a href="#" target="_blank" class="ion ion-social-linkedin"></a>
    </div> -->