<div class="container pt-4">
    <div class="row">
        <div class="col-lg-7 col-md-7 offset-lg-3"> 
            <div class="card text-center">
                <div class="card-body">
                    <h3>
                       Crear Grupo Cultural
                    </h3>
                    <form [formGroup]="crearGrupo" (ngSubmit)="agregarGrupo()">
                        <mat-form-field appearance="outline" class="select-group" class="col-md-6">
                            <mat-label>Nombre Grupo Cultural</mat-label>
                            <input matInput type="text" formControlName="nombre">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="select-group" class="col-md-6">
                            <mat-label>Correo del grupo</mat-label>
                            <input matInput type="text" formControlName="correo">
                        </mat-form-field>
                        
                        <mat-form-field appearance="outline" class="form-control" class="col-md-12">
                            <mat-label>Descripcion</mat-label>
                            <textarea matInput type="text" formControlName="descripcion" rows="3"></textarea>
                        </mat-form-field>


                        <div formArrayName="reuniones">

                            <div *ngFor="let reunion of reuniones.controls; let i = index" [formGroupName]="i">
                                <mat-form-field appearance="outline" class="select-group" class="col-md-3">
                                    <mat-label>Dia</mat-label>
                                    <input matInput type="text" formControlName="dia">
                                </mat-form-field>
    
                                <mat-form-field appearance="outline" class="select-group" class="col-md-3">
                                    <mat-label>Hora</mat-label>
                                    <input matInput type="text" formControlName="hora">
                                </mat-form-field>
    
                                <mat-form-field appearance="outline" class="select-group" class="col-md-4">
                                    <mat-label>Lugar</mat-label>
                                    <input matInput type="text" formControlName="lugar">
                                </mat-form-field>
    
                                <button mat-raised-button color="primary" (click)="agregarFila()">+</button>
                                <button mat-raised-button color="warn" (click)="quitarFila(i)">-</button>
                            </div>

                        </div>

                        <mat-checkbox class="example-margin" [checked]="optInscripcion" (change)="onChange($event.checked)">
                            ¿Necesita inscripción?</mat-checkbox>

                        <mat-form-field appearance="outline" class="select-group col-sm-12">
                            <mat-label>Enlace de inscripción</mat-label>
                            <input matInput type="text" formControlName="enlaceInscripcion">
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-6">
                            <mat-label>Fecha de inicio de inscripción</mat-label>
                            <input matInput formControlName="fechaIniInscripcion" [matDatepicker]="picker1" [min]="fechaActual">
                            <mat-datepicker-toggle matSuffix [for]="picker1" [disabled]="!disableDateIni"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-hint>Ingrese la fecha de inicio de inscripción</mat-hint>
                            <mat-error>La fecha es obligatoria</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="col-sm-6">
                            <mat-label>Fecha de finalización de inscripción</mat-label>
                            <input matInput formControlName="fechaFinInscripcion" [matDatepicker]="picker2" [min]="fechaActual">
                            <mat-datepicker-toggle matSuffix [for]="picker2" [disabled]="!disableDateFin"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-hint>Ingrese la fecha de finalización de inscripción</mat-hint>
                            <mat-error>La fecha es obligatoria</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="select-group" class="col-md-8">
                            <mat-label>Imagen</mat-label>
                            <input matInput type="text" formControlName="imagen">
                        </mat-form-field>

                        <mat-card-actions class="form-action" fxLayoutAlign="center" fxLayout.lt-sm="column">
                            <button class="card-button" class="col-md-2" type="button" mat-raised-button routerLink="../../../cultura/grupo-cultural">
                              <mat-icon>arrow_back</mat-icon>Regresar
                            </button>
                            <button class="card-button" class="col-md-2" type="submit" mat-raised-button> <!--[disabled]="!crearCita.valid">-->
                              <mat-icon>save</mat-icon> Guardar
                            </button>
                            <!-- <mat-spinner *ngIf="crearCita.invalid"></mat-spinner> -->
                          </mat-card-actions>
                    </form>
                     
                </div>

            </div>

        </div> 
    </div>
</div>