@import '../@theme/styles/themes';
:host {

  background: nb-theme(slide-out-background);
}
@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
.fc .fc-button-primary {
  background-color: #E1AD01 !important; 
}

.fc-h-event {
 border: 1px solid #E1AD01 !important;
 background-color: #E1AD01 !important;
}
.fc-daygrid-event-dot {
 border: 4px solid #E1AD01 !important;
}

.fc table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  background: white !important;
  
}

.fc-theme-standard .fc-scrollgrid {
  
  border: 1px solid !important;
    border-right-width: 1px;
    border-bottom-width: 1px;
}