<div class="home-div">
    <div class="card text-center">
        <div class="card-body">
            <div class="d-grid gap-2 justify-content-center">
                <h4 class="card-title">Citas Médicas</h4>
                <button type="button" class="btn btn-primary mt-1 me-2 ms-2" (click)="navigateCrearCita()">Crear cita</button>
                <button type="button" class="btn btn-primary mt-1 me-2 ms-2" (click)="navigateCitaPaciente()">Cita Paciente</button>
                <button type="button" class="btn btn-primary mt-1 me-2 ms-2" (click)="navigateHorarios()">Horarios</button>
                <button type="button" class="btn btn-primary mt-1 me-2 ms-2" (click)="navigateListarCita()">Listar cita</button>
                <button type="button" class="btn btn-primary mt-1 me-2 ms-2" (click)="navigateListarPaciente()">Listar Paciente</button>
                <button type="button" class="btn btn-primary mt-1 me-2 ms-2 mb-1" (click)="navigateHistoriaClinica()">Historia Clínica</button>
            </div>
        </div>
    </div>
</div>