<div class="home-div">
    <div class="card text-center">
        <div class="card-body">
            <div class="d-grid gap-2 justify-content-center">
                <h4 class="card-title">Citas Médicas</h4>
                <div class="row mt-2 me-4 ms-4">
                    <button type="button" class="btn btn-primary" (click)="navigateCrearCita()">Crear
                        cita</button>
                </div>
                <div class="row mt-2 me-4 ms-4">
                    <button type="button" class="btn btn-primary" (click)="navigateCitaPaciente()">Cita
                        Paciente</button>
                </div>
                <div class="row mt-2 me-4 ms-4">
                    <button type="button" class="btn btn-primary" (click)="navigateHorarios()">Horarios</button>
                </div>
                <div class="row mt-2 me-4 ms-4">
                    <button type="button" class="btn btn-primary" (click)="navigateListarCita()">Listar
                        cita</button>
                </div>
                <div class="row mt-2 me-4 ms-4">
                    <button type="button" class="btn btn-primary" (click)="navigateListarPaciente()">Listar
                        Paciente</button>
                </div>
              </div>
        </div>
    </div>
</div>