.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

@mixin md-icon-size($size: 5px) {
  font-size: $size;
  padding: 2rem;
  height: 200px;
}

:host {
  .option-icon {
    .mat-icon {
      @include md-icon-size(200px);
    }
    text-align: center;
  }
}
.secDashboard {
  margin: 0 1%;
}
.secDashboard nb-card {
  padding-bottom: 28px !important;
  padding-top: 28px !important;
}
.secDashboard nb-card {
  border-radius: 3%;
}
.secDashboard .option-icon {
  justify-content: center;
  align-items: center;
  color: #17a2b8;
}
.secDashboard h4 {
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #17a2b8;
  max-width: 75%;
}
.secDashboard mat-icon {
  max-width: 50%;
}
.secDashboard nb-card:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(23, 162, 184, 0.5);
}
.secDashboard nb-card:hover h4 {
  color: #fff;
}
