<div class="col-2 col-sm-6 col-md-2" *ngIf="opcionSeleccionada">
    <button type="submit" class="btn btn-info btn-block "
    (click)="backView()">
    {{
            "GLOBAL.regresar" | translate
          }}
  </button>
</div>
<br/>
<div class="col-12 col-sm-6 col-md-8">
  <div class="row" *ngIf="!opcionSeleccionada">
    <div class="card-col">
      <nb-card size="medium">
        <nb-card-body >
          <div class="option-icon">
            <mat-icon  svgIcon="consulta_apropiacion" inline="true"></mat-icon>
          </div>
        </nb-card-body>
        <nb-card-footer status="info" type="submit" class="btn btn-info btn-block "
            (click)="routeView('apropiacion')">
            {{
                    "GLOBAL.consulta-vigencia-actual" | translate
                  }}
          </nb-card-footer>
      </nb-card>
    </div>
    <div class="card-col">
      <nb-card size="medium">
        <nb-card-body >
          <div class="option-icon">
            <mat-icon  svgIcon="preasignacion" inline="true"></mat-icon>
          </div>
        </nb-card-body>
        <nb-card-footer status="info" type="submit" class="btn btn-info btn-block "
            (click)="routeView('preasignacion')">
            {{
                        "GLOBAL.preasignacion-apropiacion-inicial" | translate
                      }}
          </nb-card-footer>
      </nb-card>
    </div>
  </div>
</div>
    <div *ngIf="opcionSeleccionada && opcion=='apropiacion'" class="row">
      <ngx-consulta-vigencia></ngx-consulta-vigencia>
    </div>
    <div *ngIf="opcionSeleccionada && opcion=='preasignacion'" class="row">
      <ngx-apropiaciones></ngx-apropiaciones>
    </div>