table {
    border-collapse: collapse;
    width: 80%;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
    vertical-align: middle;
  }