<nb-card>
  <nb-card-body
    *ngIf="modificationData"
    class="mod-registration-container"
  >
    <div class="mod-registration-container">
      <mat-form-field
        class="mod-registration-input-item"
        class="mod-registration-input-item"
      >
        <input
          matInput
          placeholder="{{ 'GLOBAL.numero_documento' | translate }}"
          value="{{ modificationData['NumeroDocumento'] }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.tipo_documento' | translate }}"
          value="{{ modificationData['TipoDocumento'] }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.fecha_documento' | translate }}"
          value="{{ modificationData['FechaDocumento'] | date: 'dd-MM-yyyy' }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.fecha_registro' | translate }}"
          value="{{ modificationData['FechaRegistro'] | date: 'dd-MM-yyyy' }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.organismo_emisor' | translate }}"
          value="{{ modificationData['OrganismoEmisor'] }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.centro_gestor' | translate }}"
          value="Rector"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.descripcion' | translate }}"
          value="{{ modificationData['Descripcion'] }}"
          disabled="true"
        />
      </mat-form-field>
     
      <mat-form-field class="mod-registration-input-item" floatLabel="always">
        <mat-label>{{ "CDP.valor_actual" | translate }}</mat-label>
        <input
          matInput
          currencyMask
          placeholder="{{ 'CDP.valor_actual' | translate }}"
          class="moneyField"
          type="text"
          value="{{
            modificationData['ValorActual']
              | currency: 'COP':'symbol':'4.2-2':'co'
          }}"
          disabled
        />
      </mat-form-field>
      <br>
      <ng2-smart-table class="mod-registration-input-item" [settings]="settings" [source]="source"> </ng2-smart-table>
      <div *ngFor="let id of movIDS" class="mod-registration-input-item">
        <ngx-list-anulacion-documento [vigencia]="modificationData['Vigencia']" [movID]="id" [centroGestor]="modificationData['CentroGestor']"></ngx-list-anulacion-documento>

      </div>
    </div>

  </nb-card-body>
</nb-card>
