<button (click)="cambioTab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
  {{ 'GLOBAL.regresar' | translate}}
</button>
<nb-card>
  <nb-card-body
    *ngIf="modificationData"
    class="mod-registration-container"
  >
    <div class="mod-registration-container">
      <mat-form-field
        class="mod-registration-input-item"
        class="mod-registration-input-item"
      >
        <input
          matInput
          placeholder="{{ 'GLOBAL.numero_documento' | translate }}"
          value="{{ modificationData['NumeroDocumento'] }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.tipo_documento' | translate }}"
          value="{{ modificationData['TipoDocumento'] }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.fecha_documento' | translate }}"
          value="{{ modificationData['FechaDocumento'] | date: 'yyyy-MM-dd' }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.fecha_registro' | translate }}"
          value="{{ modificationData['FechaRegistro'] | date: 'yyyy-MM-dd' }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.organismo_emisor' | translate }}"
          value="{{ modificationData['OrganismoEmisor'] }}"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.centro_gestor' | translate }}"
          value="Rector"
          disabled="true"
        />
      </mat-form-field>
      <mat-form-field class="mod-registration-input-item">
        <input
          matInput
          placeholder="{{ 'GLOBAL.descripcion' | translate }}"
          value="{{ modificationData['Descripcion'] }}"
          disabled="true"
        />
      </mat-form-field>
      <!-- <mat-form-field class="mod-registration-input-item" floatLabel="always">
        <mat-label>{{ "GLOBAL.valor" | translate }}</mat-label>
        <input
          matInput
          currencyMask
          placeholder="{{ 'GLOBAL.valor' | translate }}"
          class="moneyField"
          type="text"
          value="{{
            modificationData['ValorInicial']
              | currency: 'COP':'symbol':'4.2-2':'co'
          }}"
          disabled
        />
      </mat-form-field> -->
      <br>
      <ng2-smart-table class="mod-registration-input-item" [settings]="settings" [source]="source"> </ng2-smart-table>
    </div>

  </nb-card-body>
</nb-card>
