<nb-card *ngIf="loadData">
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Cargando formulario
                </h1>
                <br>
            </div>
        </div>
    </nb-card-header>
</nb-card>

<div *ngIf="!loadData">

    <nb-card>
        <nb-card-header>
            <div class="text-center pt-2">
                <div *ngIf="solicitud!=null" class="menu-header">
                    <h1>
                        Editando Solicitud # {{solicitud.Id}} apoyo alimentario {{ periodo?.Nombre }}
                    </h1>
                </div>
                <div *ngIf="!extraSolicitud && solicitud==null" class="menu-header">
                    <h1>
                        Solicitud apoyo alimentario {{ periodo?.Nombre }}
                    </h1>
                </div>
                <div *ngIf="extraSolicitud && solicitud==null" class="menu-header">
                    <h1>
                        Nueva solicitud apoyo alimentario periodo {{ periodo?.Nombre }}
                    </h1>
                </div>
                <br>
                <small>
                    Si se desea modificar la informacion de un campo no editable, se debe hacer desde el Sistema de
                    Gestión Académica
                    <br>
                    Los campos con <span class="oas-asterisk">*</span>, se diligenciaran dependiendo su respuesta.
                    <br>
                    Los campos con <span class="required-asterisk">*</span>, traen información ya existente pero se
                    puede cambiar dependiendo de su situación actual.
                    <br>
                </small>
            </div>
        </nb-card-header>
        <hr>
        <nb-card-body>
            <nb-accordion>
                <!-- Informacion basica -->
                <nb-accordion-item expanded>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información básica</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="registro">
                            <div class="row item-list">
                                <div class="col-md-4">Nombres y apellidos: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="nombres">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Codigo: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="codigo">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Documento: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="documento">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Tipo documento: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="tipoDocumento">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Proyecto: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="proyecto">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Facultad: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="facultad">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Fecha de Nacimiento: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="fechaNacimiento">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Correo Institucional: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="email_institucional">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Correo Personal: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="email">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Genero: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="genero">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Celular: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="celular">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">
                                    <label>Antiguedad:
                                        <span class="required-asterisk">*</span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" formControlName="programa">
                                        <nb-option value="nuevo">Nuevo en el programa</nb-option>
                                        <nb-option value="antiguo">Antiguo en el programa</nb-option>
                                    </nb-select>
                                </div>
                            </div>
                        </form>

                    </nb-accordion-item-body>
                </nb-accordion-item>

                <!-- Inforamcion de residencia -->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información de residencia</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <p>En el siguiente apartado, se deben llenar los datos relacionados con el lugar de residencia.
                        </p>
                        <form [formGroup]="residencia">
                            <div class="row item-list">
                                <div class="col-md-4">Localidad: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="localidad">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Municipio: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="municipio">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Dirección: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="direccion">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Barrio:
                                    <!-- Si se logra conectar con datos de CONDOR, dejarlo desactivado -->
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="barrio" required>
                                    <!-- <input *ngIf="estudiante.InfoResidencia.Barrio==null || estudiante.InfoResidencia.Barrio==''" nbInput fullWidth formControlName="barrio" required>
                                    <input *ngIf="estudiante.InfoResidencia.Barrio!=null && estudiante.InfoResidencia.Barrio!=''" nbInput fullWidth formControlName="barrio" disabled> -->
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Teléfono: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="telefono">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>


                <!-- Inforamcion académica-->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información académica</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>

                        <form [formGroup]="academica">
                            <div class="row text-center pb-1 mb-1">
                                <div class="col-md-12"><small class="small-info-ud">
                                    El punto "." y la coma"," solo son necesarios para expresar decimales, no miles o millones.
                                </small></div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Valor Matricula:
                                    <span class="required-asterisk">*</span>
                                    <p class="line"></p>
                                    <small class="small-info-ud">
                                        Si el valor de la matricula es 0, agregar el valor del seguro.
                                    </small>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="valorMatricula" pattern="[0-9]{1,10}" required>
                                    <small *ngIf="academica.controls.valorMatricula.value<0 " class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">
                                    Número de creditos inscritos para el semestre actual:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <!-- required> -->
                                    <input type="number" nbInput fullWidth formControlName="numeroCreditos" pattern="[0-9]{1,2}" required>
                                    <small *ngIf="academica.controls.numeroCreditos.value<0 || academica.controls.numeroCreditos.value>21" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Promedio:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="promedio" pattern="[0-9.,]{1,5}" required>
                                    <small *ngIf="academica.controls.promedio.value<0 || academica.controls.promedio.value>5" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto (Entre 0.0 y 5.0)
                                    </small>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Número de Matriculas:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="matriculas" pattern="[0-9]{1,2}" required>
                                    <small *ngIf="academica.controls.matriculas.value<0" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                    <small *ngIf="academica.controls.matriculas.value>15" class="form-text text-danger mt-2">
                                        Lo sentimos, ya sobrepaso el número máximo de matriculas
                                    </small>
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <!-- Informacion Socioeconomica -->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información socioeconómica</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="socioeconomica">
                            <div class="row item-list">
                                <div class="col-md-4">Estado civil: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="estadocivil">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Estrato: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="estrato">
                                </div>
                            </div>


                            <div class="row item-list">
                                <div class="col-md-4">
                                    Valor de ingresos mensuales:
                                    <br>
                                    <small class="small-info-ud">
                                        Propios o familiares
                                    </small>
                                </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="ingresosMensuales">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Sostiene el lugar en que vive: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="cabezaFamilar">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Dependencia economica: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="dependenciaEconomica">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Nucleo familiar con el que reside actualmente:
                                    <!-- <span class="required-asterisk">*</span> -->
                                </div>
                                <div class="col-md-8">

                                    <input fullWidth nbInput formControlName="conQuienVive">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Tipo colegio: </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="tipoColegio">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Lugar de vivienda:
                                </div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="tipoVivienda">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Carta o contrato de arrendamiento:
                                    <span class="oas-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <p class="label-color-ud small-info-ud">Dependiendo su respuesta deberá cargar el Documento mas adelante.</p>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Zona de Vulnerabilidad:
                                    <span class="required-asterisk">*</span>
                                    <hr>
                                    <small class="small-info-ud">
                                        Reside en zonas de alto grado de vulnerabilidad SOCIAL Y ECONÓMICA.
                                        Incluye Zona rural, municipios aledaños a la capital
                                    </small>
                                </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="zonaVulnerabilidad" required>
                                        <nb-radio value="true">
                                            Si
                                        </nb-radio>
                                        <nb-radio value="false">
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <!-- Personas a cargo -->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información de personas a cargo</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="personasacargo" #f="ngForm">
                            <div class="row item-list">
                                <div class="col-md-4">
                                    <label>¿ Tiene personas a cargo ? :
                                        <span class="required-asterisk">*</span>
                                        <hr>
                                        <small class="small-info-ud">
                                            Como estudiante, tiene cónyuge, hijos u otras personas a su cargo
                                        </small>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="tieneperacargo" name="tieneperacargo" required>
                                        <nb-radio value="Si">
                                            Si
                                        </nb-radio>
                                        <nb-radio value="No">
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">¿ Tiene Hijos ? : <span class="required-asterisk">*</span> </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="hijos" name="hijos" required>
                                        <nb-radio value="Si">
                                            Si
                                        </nb-radio>
                                        <nb-radio value="No">
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Número de Hijos: <span class="required-asterisk">*</span> </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="numeroHijos" name="numeroHijos" pattern="[0-9]" required>
                                    <small *ngIf="personasacargo.controls.numeroHijos.value<0" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Registro Civil Hijos:
                                    <span class="oas-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <p class="label-color-ud small-info-ud mt-3">Dependiendo de su respuesta deberá cargar el Documento más adelante.</p>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Numero de menores de edad con los que vive:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="menoresEdad" pattern="[0-9]" required>
                                    <small *ngIf="personasacargo.controls.menoresEdad.value<0" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Numero de menores en edad de acceder a la educación:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="menoresEstudiantes" pattern="[0-9]" required>
                                    <small *ngIf="personasacargo.controls.menoresEstudiantes.value<0" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    De los que tienen acceso a la educación. ¿Cúantos están matriculados?:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <input type="number" nbInput fullWidth formControlName="menoresMatriculados" pattern="[0-9]" required>
                                    <small *ngIf="personasacargo.controls.menoresMatriculados.value<0" class="form-text text-danger mt-2">
                                        Tienes que ingresar un número correcto
                                    </small>
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <!-- Informacion Sisben -->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información sisben</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="sisben">
                            <div class="row item-list">
                                <div class="col-md-4">¿Tiene sisben?: </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="tieneSisben" id="tieneSisben">
                                        <nb-radio *ngIf="this.estudiante.InfoResidencia.Sisben=='NO'" value="SI" disabled>
                                            Si
                                        </nb-radio>
                                        <nb-radio *ngIf="this.estudiante.InfoResidencia.Sisben=='NO'" value="NO" checked>
                                            No
                                        </nb-radio>
                                        <nb-radio *ngIf="this.estudiante.InfoResidencia.Sisben=='SI'" value="SI" checked>
                                            Si
                                        </nb-radio>
                                        <nb-radio *ngIf="this.estudiante.InfoResidencia.Sisben=='SI'" value="NO" disabled>
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4"> Puntaje Sisben: </div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="puntaje_Sisben">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4"> Grupo de Sisben:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <!-- required> -->
                                    <nb-select fullWidth size="large" placeholder="Grupo sisben" formControlName="grupo" required>
                                        <nb-option value="A">Grupo A</nb-option>
                                        <nb-option value="B">Grupo B</nb-option>
                                        <nb-option value="C">Grupo C</nb-option>
                                        <nb-option value="D">Grupo D</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Soporte Sisben:
                                    <span class="oas-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <p class="label-color-ud small-info-ud mt-3">Dependiendo de su respuesta deberá cargar el Documento más adelante.</p>
                                </div>
                            </div>

                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <!-- Informacion Necesidades Básicas -->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información necesidades básicas</h4>
                    </nb-accordion-item-header>

                    <nb-accordion-item-body>
                        <form [formGroup]="necesidades">
                            <div class="row item-list">
                                <div class="col-md-4">
                                    Calidad de la Vivienda:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" placeholder="Calidad Vivienda" formControlName="calidadVivienda" required>
                                        <!-- <nb-option *ngFor="let item of materialVivienda" value="{{item}}">{{item}}</nb-option> -->
                                        <nb-option value="ladrillo"> Ladrillo </nb-option>
                                        <nb-option value="madera"> Madera </nb-option>
                                        <nb-option value="tela-asfaltica"> Tela asfáltica </nb-option>
                                        <nb-option value="lamina-metalica"> Lamina metálica </nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Número de cuartos para dormir:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" placeholder="Cuartos para Dormir" formControlName="cuartosDormir" required>
                                        <nb-option value="1">1</nb-option>
                                        <nb-option value="2">2</nb-option>
                                        <nb-option value="3">3</nb-option>
                                        <nb-option value="4">4</nb-option>
                                        <nb-option value="+">Más de 4</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Número de personas en el hogar:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" placeholder="Personas en el hogar" formControlName="personasHogar" required>
                                        <nb-option value="1">1</nb-option>
                                        <nb-option value="2">2</nb-option>
                                        <nb-option value="3">3</nb-option>
                                        <nb-option value="4">4</nb-option>
                                        <nb-option value="5">5</nb-option>
                                        <nb-option value="6">6</nb-option>
                                        <nb-option value="7">7</nb-option>
                                        <nb-option value="8">8</nb-option>
                                        <nb-option value="9">9</nb-option>
                                        <nb-option value="+">Más de 10</nb-option>
                                    </nb-select>
                                    <!-- <input nbInput fullWidth formControlName="personasHogar" required> -->
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Servicios Públicos:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <form [formGroup]="serviciosPublicos">
                                        <nb-checkbox formControlName="luz" [checked]="allServicesP" (change)="oneSelected($event)"> Luz </nb-checkbox>
                                        <nb-checkbox formControlName="gas" [checked]="allServicesP" (change)="oneSelected($event)"> Gas </nb-checkbox>
                                        <nb-checkbox formControlName="telefono" [checked]="allServicesP" (change)="oneSelected($event)"> Teléfono </nb-checkbox>
                                        <nb-checkbox formControlName="tv" [checked]="allServicesP" (change)="oneSelected($event)"> Televisión por cable </nb-checkbox>
                                        <nb-checkbox [checked]="oneServicesP" (checkedChange)="allSelected($event)">
                                            Todos los servicios </nb-checkbox>
                                    </form>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Agua para consumo proviene de:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" placeholder="Origen Agua" formControlName="origenAgua" required>
                                        <nb-option value=""></nb-option>
                                        <nb-option value="acueducto">Acueducto</nb-option>
                                        <nb-option value="lluvias">Aguas Lluvias</nb-option>
                                        <nb-option value="poso">Poso o aljibe </nb-option>
                                        <nb-option value="carro-tanques">Suministro de carro tanques </nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Eliminación de aguas negras:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="aguasNegras" name="aguasNegras">
                                        <nb-radio value="alcantarillado">
                                            Alcantarillado
                                        </nb-radio>
                                        <nb-radio value="poso-septico">
                                            Poso séptico
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <!-- Información Adicional -->
                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información adicional</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="especial">
                            <div class="row item-list">
                                <div class="col-md-4">
                                    Usted o su grupo familiar esta certificado como:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" placeholder="Población Especial" formControlName="condicionEspecial" required>
                                        <nb-option value="victima-violencia">Victima de violencia</nb-option>
                                        <nb-option value="desplazado">Desplazado</nb-option>
                                        <nb-option value="indigena">Indigena</nb-option>
                                        <nb-option value="afrodescendiente">Afrodescendiente</nb-option>
                                        <nb-option value="desmovilizado">Desmovilizado</nb-option>
                                        <nb-option value="ninguna">Ninguna</nb-option>
                                        <nb-option value="otro">Otro</nb-option>
                                    </nb-select>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Certificado población especial:
                                    <span class="oas-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <p class="label-color-ud small-info-ud mt-3">Dependiendo de su respuesta deberá cargar el Documento más adelante.</p>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Presenta algún tipo de discapacidad:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="discapacidad" name="discapacidad" required>
                                        <nb-radio value="si">
                                            Si
                                        </nb-radio>
                                        <nb-radio value="no">
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Documento soporte de la discapacidad:
                                    <span class="oas-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <p class="label-color-ud small-info-ud mt-3">Dependiendo de su respuesta deberá cargar el Documento más adelante.</p>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Presenta alguna patología asociada con la nutrición y la alimentación:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="patologia" name="patologia" required>
                                        <nb-radio value="Si">
                                            Si
                                        </nb-radio>
                                        <nb-radio value="No">
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Certificado médico:
                                    <span class="oas-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <p class="label-color-ud small-info-ud mt-3">Dependiendo de su respuesta deberá cargar el Documento más adelante.</p>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">
                                    Qué tipo de seguridad social tiene:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth size="large" placeholder="Seguridad Social" formControlName="seguridadSocial" required>
                                        <nb-option value="sisben">Sisben</nb-option>
                                        <nb-option value="eps">EPS</nb-option>
                                        <nb-option value="prepagada">Prepagada</nb-option>
                                        <nb-option value="ninguna">Ninguna</nb-option>
                                    </nb-select>
                                </div>
                            </div>


                            <div class="row item-list">
                                <div class="col-md-4">
                                    Pertenece al programa ser pilo paga:
                                    <span class="required-asterisk">*</span>
                                </div>
                                <div class="col-md-8">
                                    <nb-radio-group formControlName="serPiloPaga" name="serPiloPaga" required>
                                        <nb-radio value="si">
                                            Si
                                        </nb-radio>
                                        <nb-radio value="no">
                                            No
                                        </nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Documentos</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <ngx-cargar-doc-pb [solicitud]="solicitud" (disparadorDeValidacion)="validarDocs = $event" (disparadorDeDocumentos)="cargarDocumentos($event)"></ngx-cargar-doc-pb>
                    </nb-accordion-item-body>
                </nb-accordion-item>

            </nb-accordion>

            <mat-label>Enviar documentación &nbsp; </mat-label>
            <mat-hint>El envío de documentos solo puede realizarse una vez.<br> Si usted diligencia nuevamente este formulario adjuntando los documentos solo se tendrá en cuenta el primer envío, se realizará la validación y dará respuesta únicamente basándose en
                el primer diligenciamiento.
                <br> Si está seguro(a) de enviar los documentos presione el botón enviar.<br>

                <p class="line"></p>
                <!-- Cambiar por save() -->
                <!-- Cambiar por actualizarInfoEstudiante() -->
                <!-- Cambiar por cargarDocumentos() -->

                <div *ngIf="solicitud==null" class="form-group">
                    <button nbButton fullWidth hero shape="semi-round" status="warning" (click)="save()" class="submit-button">
                        <i class="fas fa-save mr-1"></i>
                        Registrar
                    </button>
                </div>
                <div *ngIf="solicitud!=null" class="form-group">
                    <button nbButton fullWidth hero shape="semi-round" status="warning" (click)="save()" class="submit-button">
                        <i class="fas fa-share-square mr-1"></i>
                        Actualizar
                    </button>
                </div>

            </mat-hint>

        </nb-card-body>
    </nb-card>

    <ng-template #dialogo>
        <p>¡Sus datos han sido enviados!</p>
    </ng-template>
</div>