<div class="col-md-12 col-lg-12 ">
  <nb-card status="warning">
    <nb-card-header>
        <div *ngIf="!viewItemSelected">
          {{ 'MENU.gestion_plan_cuentas.gestion_fuentes' | translate }}
        </div>
        <div *ngIf="viewItemSelected">
          {{ 'FUENTE_FINANCIAMIENTO.select_fuente' | translate }}
        </div>
      </nb-card-header>
      <nb-card-body>
      <div *ngIf="!disabledVigencia && !viewItemSelected">
          {{ 'FUENTE_FINANCIAMIENTO.descripcion' | translate }}
          <div align="right">
              {{
                "GLOBAL.vigencia" | translate
              }}
              <nb-select nbTooltip="seleccione la vigencia" nbTooltipPlacement="top" id="select_vigencia" placeholder={{vigenciaSel}} [(selected)]="vigenciaSel" hero status="info">
                <nb-option value="vigenciaSel" (click)="onSelect('all')">Todas</nb-option>
                <nb-option *ngFor="let v of vigencias" value={{vigenciaSel}} (click)="onSelect(v.vigencia)">{{ v.vigencia }}</nb-option>
              </nb-select>
            </div>
        </div>
        
            <ngx-list-entity *ngIf="!auxcambiotab && !viewTab"
            [listSettings]="listSettings"
            [isOnlyCrud]="isOnlyCrud" 
            [uuidReadFieldName]="uuidReadFieldName"
            [paramsFieldsName] ="paramsFieldsName"
            [uuidDeleteFieldName]="uuidDeleteFieldName"
            [listColumns]="listColumns"
            [deleteConfirmMessage]="deleteConfirmMessage"
            [deleteMessage]="deleteMessage"
            [loadDataFunction]="loadDataFunction"
            [deleteDataFunction]="deleteDataFunction"
            [formEntity]="formEntity"
            [formTittle]="formTittle"
            [updateMessage]="updateMessage"
            [createMessage]="createMessage"
            [updateConfirmMessage]="updateConfirmMessage"
            [createConfirmMessage]="createConfirmMessage"
            [loadFormDataFunction]="loadFormDataFunction"
            [updateEntityFunction]="updateEntityFunction"
            [createEntityFunction]="createEntityFunction"
            [viewItemSelected]="viewItemSelected"
            (infooutput)="receiveMessage($event)"
            (eventChange)="onChange($event)"
            (crudcambiotab)="onFirstTab($event)"
            (auxcambiotab)="onChangeTab($event)"
            (externalTabActive)="onChangeExternalTab($event)"
            (externalTabActivator)="onExternalTabActivator($event)"
            >
          </ngx-list-entity>
          <button *ngIf="localtabActived" (click)="returnToList()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
            {{
              "GLOBAL.regresar" | translate
            }}</button>
          <ngx-dependencias (auxcambiotab)="onChangeTab($event)" [paramsFieldsName] ="paramsFieldsName" *ngIf="auxcambiotab" [infoinput]="fuenteInfo" ></ngx-dependencias>
          <ngx-rubros-fuente  *ngIf="viewTab" [infoinput]="fuenteInfo" ></ngx-rubros-fuente>
    </nb-card-body>
  </nb-card>
</div>