<nb-card status="warning">
    <nb-card-header>CONSULTAR DOCUMENTO</nb-card-header>
    <nb-card-body>
        <div class="row justify-content-center">
          <div class="col-4">
            <form [formGroup]="docSearch"  #formDoc="ngForm" (ngSubmit)="buscarDocumento()">
                <div class="custom-search">
                    <input type="text" id="nombre" name="nombre" class="custom-search-input" placeholder="Nombre" formControlName="Nombre">
                    <button class="custom-search-botton" type="submit" >Buscar</button>  
                </div>
                <nb-card class="nb-card">
                    <nb-card-header class="search-nb-card" [nbSpinner]="loading" nbSpinnerMessage="Cargando resultados" nbSpinnerStatus="info">
                        <div class="container">
                            <div class="row justify-content-md-center">
                                <button nbButton [status]="activo" type="button" size="small" style="display: block;margin: 1em;" (click)="onClick()">Busqueda avanzada</button>
                            </div>
                        </div>
                    </nb-card-header>
                    <nb-card-body *ngIf='busquedaAvanzada'>
                            <div class="form-group">
                                <label for="tiposDocumento" style="display: block;">Tipo de documento</label>
                                <nb-select id="tipoDocumento" name="tipoDocumento" class="selector"
                                placeholder="Tipo de Documento" filled status="warning" formControlName="Tipo" required>
                                    <nb-option *ngFor="let tipoDocumento of tiposDocumento | keyvalue" [value]="tipoDocumento.value" >{{ tipoDocumento.key }}</nb-option>
                                    <nb-option [value]="undefined">Todos</nb-option>                         
                                </nb-select>
                            </div>
                            <div class="form-group">
                                <label for="serie">Serie</label>
                                <input type="text" id="serie" name="serie" class="form-control" placeholder="Serie" formControlName="Serie" required>    
                            </div>
                            <div class="form-group">
                                <label for="subSerie">SubSerie</label>
                                <input type="text" id="subSerie" name="subSerie" class="form-control" placeholder="SubSerie" formControlName="SubSerie" required>
                            </div>
                            <div class="form-group">
                                <label for="Fecha">Fecha desde:</label>
                                <input type="date" [(ngModel)]="fechaInicio" (change)="actualizarFecha()" id="fechaInicio" name="fechaInicio" class="form-control" placeholder="fechaInicio" max="{{fechaFin}}" 
                                            style="text-align: center; padding: 8px 12px; font-size: 14px;" formControlName="FechaInicio" required>
                                <label for="Fecha">Fecha hasta</label>
                                <input type="date" [(ngModel)]="fechaFin" (change)="actualizarFecha()" id="fechaFin" name="fechaFin" class="form-control" placeholder="FechaFin" min="{{fechaInicio}}"
                                            style="text-align: center; padding: 8px 12px; font-size: 14px;" formControlName="FechaFin" required>
                            </div>
                            <div class="form-group">
                                <label for="facultad" style="display: block;">Facultad</label>
                                <div class="selector">
                                  <nb-select multiple id="facultad" name="facultad" class="selector"
                                    placeholder="Facultad" filled status="warning" formControlName="Facultad">
                                      <nb-option *ngFor="let facultad of facultades" [value]="facultad" >{{ facultad }}</nb-option>                            
                                  </nb-select>
                                </div>
                            </div>
                            <button nbButton [status]="activo" type="button" size="small" style="display: block;margin: 1em;" (click)="this.iniciarFormulario()">Limpiar filtros</button>
                    </nb-card-body>
                </nb-card>
            </form>
          </div>
        </div>
        <div #resultados>
            <ngx-resultados  [documentos]="documentos"></ngx-resultados>
        </div>
    </nb-card-body>
</nb-card>
