<div class="col-md-12 col-lg-12 col-xxxl-12">
      <h5>
        {{'FUENTE_FINANCIAMIENTO.agregar_vigencia' | translate }}
    </h5>
  <div class="row">
    <div *ngIf="!editValueFF" class="col-md-12 col-lg-12 col-xxxl-12">
        <label for="valorfuente" class="form-control-label">
            <h6> {{infoinput.Nombre}} - {{infoinput.Codigo}} <span class="moneyField"> {{infoinput.ValorInicial| currency:'COP':'symbol':'4.2-2':'co'}} </span> </h6>
        </label>
    </div>
  </div>
        <div class="row">
          <div class="col-md-12 col-lg-12 col-xxxl-12" >
            <nb-card  class="col-md-12" ><nb-card-body>
                <ngx-dinamicform [normalform]="formValueFuente" [modeloData]="info_fuente"
                (result)="validarForm($event)" [clean]="clean">
              </ngx-dinamicform>
          </nb-card-body></nb-card>              
        </div>
      </div>
    </div>