<div class="col-md-12 col-lg-12 ">
  <nb-card>
    <nb-card-header>
        {{ 'MENU.aplicaciones' | translate }}
    </nb-card-header>
    <nb-card-body>
      <toaster-container [toasterconfig]="config"></toaster-container>
        <ng2-smart-table *ngIf="!cambiotab" [settings]="settings" [source]="source" (delete)="onDelete($event)"
          (rowSelect)="itemselec($event)" (edit)="onEdit($event)" (create)="onCreate($event)">
        </ng2-smart-table>
        <ngx-crud-aplicacion *ngIf="cambiotab" [aplicacion_id]="uid" (eventChange)="onChange($event)"></ngx-crud-aplicacion>
        <button *ngIf="cambiotab" (click)="activetab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
          {{ 'GLOBAL.regresar' | translate }}</button>
    </nb-card-body>
  </nb-card>
</div>
