<form [formGroup]="fisioterapiaForm" (ngSubmit)="guardarHistoriaFisioterapia()">
    <h5 class="titulo mt-4 mb-4"> Fisioterapia</h5>
    <hr />
    <div class="text-right" [hidden]="hideHistory">
        <button class="card-button m-2" type="button" mat-raised-button color="primary" (click)="crearNuevaHoja()" [disabled]="superAdmin">
            <mat-icon>add</mat-icon> Añadir nueva hoja
        </button>
        <mat-form-field appearance="outline" class="select-group">
            <mat-label>Historial</mat-label>
            <mat-select (selectionChange)="cambiarHoja($event.value)" [(value)]="firstOne">
                <mat-option [value]="usuario.Id" *ngFor="let usuario of listaHojas">
                    {{usuario.FechaConsulta | date: 'dd-MM-yyyy HH:mm': '+0000'}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <div class="col md-12 mt-4 mb-4 me-4">
            <div class="form-floating">
                <textarea class="form-control textArea-big" formControlName="motivoConsultaFisio"
                    placeholder="Motivo de consulta y enfermedad actual" id="motivoFisio"></textarea>
                <label for="motivoFisio"> Motivo de consulta y enfermedad actual</label>
            </div>
        </div>
        <h6 class="titulo mt-2">Valoración</h6>
        <div class="col md-12 mb-4 me-4 mt-4">
            <div class="form-floating">
                <textarea class="form-control textArea-big" formControlName="valoracion" placeholder="Valoración"
                    id="valoracion"></textarea>
                <label for="valoracion">Valoración</label>
            </div>
        </div>
        <h6 class="titulo mt-2">Diagnóstico (Código CIE-10)</h6>
        <div class="col md-12 mb-4 me-4 mt-4">
            <div class="form-floating">
                <textarea class="form-control textArea-big" formControlName="diagnostico" placeholder="Diagnóstico"
                    id="valoracion"></textarea>
                <label for="valoracion">Diagnóstico</label>
            </div>
        </div>
        <a href="https://eciemaps.mscbs.gob.es/ecieMaps/browser/index_10_mc.html" target="_blank">Buscador CIE-10</a> <a
        href="https://www.sanidad.gob.es/estadEstudios/estadisticas/normalizacion/CIE10/CIE10ES_2016_norm_Manual_codificacion_Diagnosticos.pdf" target="_blank"> Manual CIE-10</a>
        <h6 class="titulo mt-2">Plan de Manejo</h6>
        <div class="col md-12 mb-4 me-4 mt-4">
            <div class="form-floating">
                <textarea class="form-control textArea-big" formControlName="planDeManejoFisio"
                    placeholder="Plan de Manejo" id="planDeManejoFisio"></textarea>
                <label for="planDeManejoFisio">Plan de Manejo</label>
            </div>
        </div>
        
    </div>
    <h6 class="titulo mt-2">Evolución</h6>
    <div class="row mt-4 mb-4">
        <div class="col md-6 me-4 mb-4">
            <div class="input-group">
                <!--<input type="text"--> <textarea class="form-control" (keyup.enter)="agregarEvolucionFisio()"
                    placeholder="Agregar" [formControl]="nuevaEvolucionFisio" [readonly]="superAdmin"></textarea> <!--/>-->
                <button class="btn btn-outline-primary" type="button" (click)="agregarEvolucionFisio()" [disabled]="superAdmin">
                    Agregar
                </button>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col md-6 me-4 mb-4" formArrayName="evolucionFisio">
                <div class="input-group mb-1" *ngFor="let evolucion of evolucionFisioArr.value; let i = index">
                    <!--<input--> <textarea class="form-control" *ngIf="evolucionFisioArr.length > 0" [formControlName]="i" readonly ></textarea> <!--/>-->
                    <button class="btn btn-outline-danger" type="button" (click)="borrarEvolucionFisio(i)" [disabled]="superAdmin">
                        Borrar
                    </button>
                </div>
            </div>
        </div>
        <h6 class="titulo mt-2">Para Imprimir</h6>
        <div class="col md-12 mb-4 me-4 mt-4">
            <div class="input-group">
                <input type="text" class="form-control"
                    placeholder=" " formControlName="medicamento" />
                <button class="btn btn-outline-primary" type="button" (click)="openPdf()">
                    Ver PDF
                </button>
            </div>
        </div>
        <h6 class="titulo mt-4">Observaciones</h6>
        <div class="row mt-4">
            <div class="col md-12 me-4">
                <div class="form-floating">
                    <textarea class="form-control textArea-big" formControlName="observacionesFisioterapia"
                        placeholder="Observaciones" id="observacionesFisioterapia"></textarea>
                    <label for="observacionesFisioterapia"> Observaciones</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col titulo">
            <label><strong>Realizó: </strong>{{ nombreEspecialista }}</label>
            <button class="card-button m-2 mt-4 float-end" type="submit" mat-raised-button
                [disabled]="!fisioterapiaForm.valid || superAdmin">
                <mat-icon>save</mat-icon> Guardar
            </button>
        </div>
    </div>
</form>
