<nb-card *ngIf="opcionSeleccionada=='Rubros'">
  <nb-card-body>
    <label class="search-label" for="search">{{
      "GLOBAL.buscar" | translate
    }}</label>
    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" [(ngModel)]="searchValue"  />
    <table  [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" [nbSpinner]="loading" nbSpinnerStatus="primary">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr #nebularTree class="table-row" [class.highlight]="validHighlight(row, nebularTree)" (click)="onSelect(row, nebularTree);" nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [attr.data-picker]="row.data.Codigo"></tr>
      <ng-container [nbTreeGridColumnDef]="customColumn" >
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{ customColumn }}
        </th>
        <td class="aligned-code" nbTreeGridCell *nbTreeGridCellDef="let row">
           <ngx-nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></ngx-nb-fs-icon>
          <span [ngClass]="{
              'nb-chevron-down': row.expanded,
              'nb-chevron-right': !row.expanded
            }" aria-hidden="true">
          </span>{{ row.data[customColumn] }}
        </td>
      </ng-container>
      <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{ column }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{ row.data[column] || "-" }}
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>
<!-- ArbolApropiaciones -->
<nb-card *ngIf="opcionSeleccionada=='Apropiaciones' || opcionSeleccionada=='ApropiacionesEstado' ">
  <nb-card-body>
    <!-- Buscador -->
    <label class="search-label" for="search">{{
      "GLOBAL.buscar" | translate
    }}</label>
    <input nbInput [nbFilterInput]="dataSource2" id="search" class="search-input" [(ngModel)]="searchValue" />
    <!-- Tabla ArbolApropiaciones -->
    <table [nbTreeGrid]="dataSource2" [nbSort]="dataSource2" (sort)="updateSort($event)" [nbSpinner]="loading" nbSpinnerStatus="primary">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr #nebularTree class="table-row" [class.highlight]="validHighlight(row, nebularTree)" (click)="onSelect(row, nebularTree);" nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" [attr.data-picker]="row.data.Codigo"></tr>
      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{ customColumn | translate }}
        </th>
        <td class="aligned-code" nbTreeGridCell *nbTreeGridCellDef="let row">
          <!-- <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon> -->
          <nb-tree-grid-row-toggle
          [expanded]="row.expanded"
          *ngIf="row.data.kind === 'dir'">
        </nb-tree-grid-row-toggle>
          <span [ngClass]="{
              'nb-chevron-down': row.expanded,
              'nb-chevron-right': !row.expanded
            }" aria-hidden="true">
          </span>{{ row.data[customColumn] }}
        </td>
      </ng-container>
      <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{ column | translate }}
        </th>
        <td [class.moneyField]="index === 1 || index === 2" nbTreeGridCell *nbTreeGridCellDef="let row">
          <div *ngIf="index !== 1 && index !== 2">
            {{ row.data[column] || "-" }}
          </div>
          <div *ngIf="index === 1">
              {{ row.data[column] | currency:'COP':'symbol':'4.2-2':'co' }}
          </div>
          <div *ngIf="index === 2">
              {{ row.data[column] | currency:'COP':'symbol':'4.2-2':'co' }}
          </div>
        </td>
      </ng-container>
    </table>
    <!-- Fin Tabla ArbolApropiaciones -->
  </nb-card-body>
</nb-card>
<!-- Fin ArbolApropiaciones -->