<nb-card *ngIf="opcionSeleccionada=='Rubros'">
  <nb-card-body>
    <label class="search-label" for="search">{{
      "GLOBAL.buscar" | translate
    }}</label>

    <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input" />

    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr (click)="onSelect(row)" nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{ customColumn }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <!-- <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon> -->
          <span [ngClass]="{
              'nb-chevron-down': row.expanded,
              'nb-chevron-right': !row.expanded
            }" aria-hidden="true">
          </span>{{ row.data[customColumn] }}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{ column }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{ row.data[column] || "-" }}
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>

<!-- ArbolApropiaciones -->
<nb-card *ngIf="opcionSeleccionada=='Apropiaciones'">
  <nb-card-body>
    <label class="search-label" for="search">{{
      "GLOBAL.buscar" | translate
    }}</label>

    <input nbInput [nbFilterInput]="dataSource2" id="search" class="search-input" />

    <table [nbTreeGrid]="dataSource2" [nbSort]="dataSource2" (sort)="updateSort($event)">
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr (click)="onSelect(row)" nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
          {{ customColumn | translate }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          <!-- <nb-fs-icon [kind]="row.data.kind" [expanded]="row.expanded"></nb-fs-icon> -->
          <span [ngClass]="{
              'nb-chevron-down': row.expanded,
              'nb-chevron-right': !row.expanded
            }" aria-hidden="true">
          </span>{{ row.data[customColumn] }}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)">
        <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
          {{ column | translate}}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{ row.data[column] || "-" }}
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>