button[nbTreeGridRowToggle] {
  background: transparent;
  border: none;
  padding: 0;
}

.table-row {
  &:hover {
    background: #e6e6e6;
  }

}
:host ::ng-deep table tr td {
  padding: -0.125rem 1.25rem !important;
  font-size: 12px !important;
}
.aligned-code {
  padding-left: 8px;
}
.search-label {
  display: block;
}
.search-input {
  margin-bottom: 1rem;
}

.nb-column-name {
  width: 100%;
}

@media screen and (min-width: 400px) {
  .nb-column-name,
  .nb-column-size {
    width: 50%;
  }
}

@media screen and (min-width: 500px) {
  .nb-column-name,
  .nb-column-size,
  .nb-column-kind {
    width: 33.333%;
  }
}

@media screen and (min-width: 600px) {
  .nb-column-name {
    width: 31%;
  }
  .nb-column-size,
  .nb-column-kind,
  .nb-column-items {
    width: 23%;
  }
}


.moneyField {
  text-align: right;
}

