.selector {
    // overwrite width of select
    width: 100% !important;
    display: block !important;
    max-width: 100% !important;
}

.btn.btn-rounded {
    border-radius: 50px;
    margin: 1em;
} 
.custom-file-label::after {
    content: "Seleccionar";
}

.button-cargar {
    margin: 1em;
}

.btn-icon{
    margin: 1em;
    border-radius: 50px;
}

// .material-symbols-outlined {
//   font-variation-settings:
//   'FILL' 0,
//   'wght' 400,
//   'GRAD' 200,
//   'opsz' 24
// }

// .mat-dialog-container {
//     // display: block;
//     padding: 1px !important;
//     // border-radius: 4px;
//     // box-sizing: border-box;
//     // overflow: auto;
//     // outline: 0;
//     // width: 100%;
//     // height: 100%;
//     // min-height: inherit;
//     // max-height: inherit;
// }