<nb-card status="warning">
    <nb-card-header>CARGAR DOCUMENTO</nb-card-header>
    <nb-card-body>

        <div class="row justify-content-center">
          <div class="col-4">

            <form [formGroup]="docForm"  #formDoc="ngForm" (ngSubmit)="cargarFormulario()">
              <div class="form-group">
                    <label for="tiposDocumento" style="display: block;">Tipo de documento</label>
                    <nb-select id="tipoDocumento" name="tipoDocumento" style="display: block;"
                      placeholder="Tipo de Documento" filled status="warning" formControlName="tipoDocumento" required>
                        <nb-option *ngFor="let tipoDocumento of tiposDocumento" [value]="tipoDocumento" >{{ tipoDocumento }}</nb-option>                            
                    </nb-select>
                    <small *ngIf="validateInput('tipoDocumento')" class="form-text text-danger">Campo requerido</small>
              </div>

              <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Titulo" formControlName="titulo" required>
                <small *ngIf=" validateInput('titulo')" class="form-text text-danger">Campo requerido</small>    
              </div>
              
              <div class="form-group">
                <label for="serie">Serie</label>
                <input type="text" id="serie" name="serie" class="form-control" placeholder="Serie" formControlName="serie" required>
                <small *ngIf="validateInput('serie')" class="form-text text-danger">Campo requerido</small>    
              </div>

              <div class="form-group">
                <label for="subSerie">SubSerie</label>
                <input type="text" id="subSerie" name="subSerie" class="form-control" placeholder="SubSerie" formControlName="subSerie" required>
                <small *ngIf="validateInput('subSerie')" class="form-text text-danger">Campo requerido</small>
              </div>

              <div class="form-group">
                
                <label for="Fecha">Fecha</label>
                <!-- Se comenta por que nbDatepicker usa formato mm/dd/aaaa y el <input/> usa dd/mm/aaaa-->
                <!-- <input nbInput [nbDatepicker]="datepicker" type="date" datetime="dd-MM-yyyy HH:mm:ss" ng-model="myDate" id="fecha" name="fecha" class="form-control" placeholder="Fecha" 
                (change)="onData()" formControlName="fecha" required>
                <nb-datepicker #datepicker  [min]="min" [max]="max"></nb-datepicker> -->
                <input type="date"  id="fecha" name="fecha" class="form-control" placeholder="Fecha" 
                              style="text-align: center; padding: 8px 12px; font-size: 14px;" formControlName="fecha" required>
                <small *ngIf="validateInput('fecha')" class="form-text text-danger">Fecha no válida</small>
              </div>
              
              <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <textarea id="Descripcion" name="descripcion" class="form-control" placeholder="Descripcion del documento" formControlName="descripcion" required></textarea>
                <small *ngIf="validateInput('descripcion')" class="form-text text-danger">Campo requerido</small>
              </div>

              <div class="form-group">
                <label for="archivo">Archivo</label>
                <div class="custom-file">
                  <input class="custom-file-input" multiple type="file" id="archivo" 
                          (change)="onChange($event.target.files)" formControlName="archivo" required>
                  <label class="custom-file-label" #labelImport for="archivo"><i class="fas fa-search"></i>Seleccione Archivo</label>
                  <small *ngIf="validateInput('archivo')" class="form-text text-danger">Campo requerido</small>
                </div>
              </div>
              <button type="submit" class="btn btn-warning" (click)="clickeado= true">Subir</button>
              <small *ngIf="!validado && (docForm.invalid && clickeado)" class="form-text text-danger">Complete los campos</small>
            </form>
          </div>
        </div>
    </nb-card-body>
    <!-- <nb-card-footer>Pie de pagina</nb-card-footer> -->
</nb-card>