@import "../../apoyo-alimentario.component.scss";
.label-color-ud {
    color: #4c1818;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    margin-right: 2px;
    margin-left: -12px;
}

.form-control {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.form-control input select {
    width: 83%;
}

.input-group-prepend {
    width: 18%;
}

@media (max-width: 770px) {
    .input-group-prepend {
        width: 30%;
    }
    .form-control input select {
        width: 70%;
    }
    .small-ud {
        margin-left: 28%;
    }
}

@media (max-width: 575px) {
    .input-group-prepend,
    .form-control input select {
        width: 55%;
    }
    .small-ud {
        margin-left: 1%;
    }
}
.item-list {
    align-items: center;
    margin-bottom: 10px;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
   nb-accordion {
     box-shadow: none;
   }
  