<!-- Mostrar mientras carga -->
{{estudiante | json}}

<h1 *ngIf="loading">Cargando......</h1>

<div *ngIf="!loading">
    <!-- Caso que no se pueda cargar periodo -->
    <nb-card *ngIf="periodo==null">
        <div class="menu-header">
            <h1>
                No hay un periodo activo para inscripcioes
            </h1>
            <button class="btn back-button" routerLink="../../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>

        </div>
    </nb-card>

    <!-- Caso que no se pueda cargar tercero -->
    <nb-card *ngIf="periodo!=null && tercero==null">
        <div class="menu-header">
            <h1>
                Hubo un error con tus credenciales, intenta logear de nuevo.
            </h1>
            <button class="btn back-button" routerLink="../../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>

        </div>
    </nb-card>


    <!-- Caso que exista solicitud -->
    <nb-card *ngIf="solicitud!=null && periodo!=null">
        <div class="container">
            <div class="menu-header">
                <h1>
                    DATOS SOLICITUD
                </h1>
                <button class="btn back-button" routerLink="../../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>
            </div>
            <hr>
            <div class="menu-list">
                <div class="item form-group ">
                    <label class="sub-item label-color-ud">
                        ID :
                    </label>
                    <label class="sub-item">
                        {{solicitud.Id}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Estado :
                    </label>
                    <label class="sub-item">
                        {{solicitud.Activo}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Fecha Radicación :
                    </label>
                    <label class="sub-item">
                        {{solicitud.FechaRadiacion}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Fecha Creación :
                    </label>
                    <label class="sub-item">
                        {{solicitud.FechaCreacion}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Fecha Modificación :
                    </label>
                    <label class="sub-item">
                        {{solicitud.FechaModificacion}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Solicitud Finalizada :
                    </label>
                    <label class="sub-item">
                        {{solicitud.SolicitudFinalizada}}
                    </label>

                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Referencia :
                    </label>
                    <label class="sub-item">

                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Tipo Solicitud :
                    </label>
                    <label class="sub-item">
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Estado Solicitud :
                    </label>
                    <label class="sub-item">
                    </label>
                </div>
            </div>
        </div>
    </nb-card>

    <!-- Formulario nueva solicitud --------------------------------->

    <nb-card *ngIf="tercero!=null && solicitud==null">
        <nb-card-header>
            <div class="text-center pt-2">
                <div class="menu-header">
                    <h1>
                        Solicitud apoyo alimentario {{ periodo?.Nombre }}
                    </h1>
                    <button class="btn back-button" routerLink="../../">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Regresar
                    </button>
                </div>
            </div>
        </nb-card-header>
        <hr>
        <nb-card-body>
            <nb-accordion>
                <nb-accordion-item expanded>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información básica</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="registro">
                            <div class="row item-list">
                                <div class="col-md-4">Nombres y apellidos:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="nombres">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Codigo:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="codigo">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Documento:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="documento">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Tipo documento:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="tipoDocumento">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Proyecto:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="proyecto">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Facultad:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="facultad">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Fecha de Nacimiento:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput formControlName="fechaNacimiento">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Correo Institucional:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="email_institucional">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Correo Personal:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="email">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Genero:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="genero">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Celular:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="celular">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">
                                    <label>Antiguedad:
                                        <span class="required-asterisk">*</span>
                                    </label>
                                </div>
                                <div class="col-md-8">
                                    <nb-select fullWidth class="" size="large" placeholder="Vigencia en el programa" formControlName="programa" #required>
                                        <nb-option value=""></nb-option>
                                        <nb-option value="1">Nuevo en el programa</nb-option>
                                        <nb-option value="2">Antiguo en el programa</nb-option>
                                    </nb-select>
                                </div>
                            </div>


                        </form>

                    </nb-accordion-item-body>
                </nb-accordion-item>


                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información de residencia</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <p>En el siguiente apartado, se deben llenar los datos relacionados con el lugar de residencia.
                        </p>
                        <form [formGroup]="residencia">
                            <div class="row item-list">
                                <div class="col-md-4">Localidad:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="localidad">
                                </div>
                            </div>
                            <div class="row item-list">
                                <div class="col-md-4">Municipio:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="municipio">
                                </div>
                            </div>

                            <div class="row item-list" *ngIf="residencia.get('municipio')?.value === 'Otros'">
                                <div class="col-md-4">¿Cuál?:</div>
                                <div class="col-md-8">
                                    <input fullWidth nbInput placeholder="Otro municipio">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Dirección:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="direccion">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Barrio:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="barrio">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Teléfono:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth formControlName="telefono">
                                </div>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿Tiene sisben?" nombreInput="sisben" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.POSEE_SISBEN" campoCodigo="Id" campoValor="Nombre"
                                    [grupo]="residencia">

                                </ngx-radio-select-generico>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información socioeconómica</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="socioeconomica">
                            <div class="row item-list">
                                <ngx-combo-generico class="col-12" etiqueta="Estado civil" nombreInput="estadocivil" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.TIPO_ESTADO_CIVIL" campoCodigo="Id"
                                    campoValor="Nombre" [grupo]="socioeconomica">
                                </ngx-combo-generico>
                            </div>
                            <div class="row item-list">
                                <ngx-combo-generico class="col-12" etiqueta="Estrato" nombreInput="estrato" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.ESTRATO" campoCodigo="Id" campoValor="Nombre"
                                    [grupo]="socioeconomica">
                                </ngx-combo-generico>
                            </div>
                            <div class="row">
                                <ngx-radio-select-generico class="col-12" etiqueta="Dependecia económica" nombreInput="dependenciaEconomica" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.DEPENDENCIA_ECONOMICA"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="socioeconomica">

                                </ngx-radio-select-generico>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <input nbInput placeholder="Ingresos mensuales" type="number" formControlName="ing_mesual">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <textarea rows="4" nbInput placeholder="Discapacidad" maxlength="500" formControlName="descDis"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información acceso escolar a la educación</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="colegio">
                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="Tipo de colegio" nombreInput="tipoColegio" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.TIPO_COLEGIO" campoCodigo="Id"
                                    campoValor="Nombre" [grupo]="socioeconomica">

                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Pensión:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth type="number" formControlName="pension">
                                </div>
                            </div>

                            <div>
                                <p>Certificado del valor cancelado por pensión del último año de bachillerato aclarando alor mensual, si el (la) estudiante fue becado debe especificarlo en la certificación.
                                </p>
                                <ul>
                                    <li>Egresado de Colegio Privado: Anexar Certificación del colegio donde se determine el valor cancelado en el último año de Bachillerato.
                                    </li>
                                    <li>Egresado de Colegio público: Anexar acta y diploma de grado.</li>
                                </ul>
                                <p><b>Nota: No anexar recibos de pago ni notas adicionales.</b></p>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Adjuntar:</div>
                                <div class="col-md-8">
                                    <input nbInput fullWidth type="file">
                                </div>
                            </div>

                            <div class="d-flex justify-content-end">
                                <button nbButton>Continuar</button>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información necesidades básicas</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="vivienda">
                            <div class="flex-container">
                                <label>VIVIENDA DEL ESTUDIANTE Y SU FAMILIA</label>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="Lugar de residencia del estudiante" nombreInput="lugarResidencia" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.TIPO_VIVIENDA"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="vivienda">

                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿Con quién vive?" nombreInput="convive" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.CONVIVe_CON" campoCodigo="Id"
                                    campoValor="Nombre" [grupo]="vivienda">
                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="Lugar de residencia de la Familia" nombreInput="lugarResidenciaFamilia" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.LUGAR_RES_FAM"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="vivienda">
                                </ngx-radio-select-generico>
                            </div>

                            <div class="flex-container">
                                <label>Adjuntar el soporte arriendo</label>
                                <input nbInput type="file">
                            </div>

                            <div class="flex-container">
                                <label>Adjuntar el soporte de hipoteca</label>
                                <input nbInput type="file">
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Información población especial</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="futurofort">
                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿Responsable de la matricula desempleado?" nombreInput="responsableMatDesempleado" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.RES_MAT_DESEMPLEADO"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="futurofort">
                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿El estudiante es desplazado político?" nombreInput="desplazadoPolitico" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.DESPLAZADO_POLITICO"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="futurofort">
                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿Falleció responsable de la matricula?" nombreInput="resFallecio" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.RES_FALLECIO"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="futurofort">
                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿El estudiante es madre o padre cabeza de familia?" nombreInput="resCabezaHogar" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.RES_CABEZA_HOGAR"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="futurofort">
                                </ngx-radio-select-generico>
                            </div>

                            <div class="row item-list">
                                <ngx-radio-select-generico class="col-12" etiqueta="¿El estudiante cambio de estrato después de su ingreso en la Universidad?" nombreInput="detCambioEstrato" [servicio]="inscripcionEstudianteService" metodo="obtenerGrupoInfoComplementaria" [parametros]="APP_CONSTANTS.INFO_COMPLEMENTARIA.RES_CABEZA_HOGAR"
                                    campoCodigo="Id" campoValor="Nombre" [grupo]="futurofort">
                                </ngx-radio-select-generico>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Documentos</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="documentos">
                            <div class="row item-list">
                                <div class="col-md-4">FORMULARIO RELIQUIDACIÓN</div>
                                <div class="col-md-8">
                                    <label>Formulario de Reliquidación Matrícula completamente diligenciado, firmado y
                                        escaneado.
                                    </label>
                                    <input nbInput type="file">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">CARTA DE SOLICITUD A BIENESTAR</div>
                                <div class="col-md-8">
                                    <label>Carta Dirigida al Director del Centro de Bienestar Institucional TITO ERNESTO
                                        GUTIERREZ DAZA
                                        Explicando los
                                        motivos por los cuales solicita la Reliquidación (elaborada y firmada por el
                                        (la)
                                        estudiante).
                                    </label>
                                    <input nbInput type="file">
                                </div>
                            </div>


                            <div class="row item-list">
                                <div class="col-md-4">CERTIFICADO ESTRATIFICACIÓN</div>
                                <div class="col-md-8">
                                    <label>Certificado de estratificación del lugar de residencia del estudiante -
                                        Estudiantes
                                        que
                                        residen en Bogotá expedido por Catastro o Supercade
                                        (no superior a 1 año) - Para estudiantes que residen fuera de Bogotá anexar
                                        Certificado
                                        de
                                        estratificación por las Alcaldías Municipales (no superior a 1 año).
                                    </label>
                                    <input nbInput type="file">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">RECIBO PÚBLICO</div>
                                <div class="col-md-8">
                                    <label>Fotocopia de un recibo de Servicio Público (agua, luz, gas) del lugar de
                                        residencia
                                        del
                                        estudiante donde
                                        se especifique la dirección y estrato, con una vigencia de tres (3) meses.
                                    </label>
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Certificado de ingresos</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="doccertificadoingreso">
                            <label>Documento - Certificado de Ingresos</label><br>
                            <label>Continúe adjuntando los documentos

                                Señor estudiante NO se acepta el Formato de certificado de no declarante o certificado
                                de no
                                contribuyente, que adjunto en el momento de ingresar a la universidad.<br>


                                Tenga en cuenta cuál es su caso con el fin de adjuntar el documento correspondiente:<br>

                                • Para Independientes: Si la persona de quién depende económicamente el estudiante es
                                trabajador
                                independiente o el (la) estudiante trabaja como independiente,
                                debe presentar una carta donde especifique la labor que desempeña y los ingresos que
                                recibe
                                mensualmente, debe venir firmada, con número de Cédula, número de teléfono y
                                dirección.<br>

                                • Para Empleados: Si la persona de quien depende el (la) estudiante es empleado o el
                                (la)
                                estudiante es
                                empleado, debe presentar una carta laboral vigente, especificando los ingresos mensuales
                                y
                                la
                                actividad,
                                con número de teléfono y dirección del empleador.<br>

                                • Si presenta Certificado de ingresos y retenciones debe corresponder al año 2018.<br>

                                • Cabeza de familia: Si el (la) estudiante depende únicamente de madre o padre cabeza de
                                familia
                                debe
                                anexar fotocopia del documento de identidad del Padre o Madre del Estudiante y Registro
                                civil de
                                Nacimiento del Estudiante.<br>

                            </label>

                            <div class="row item-list">
                                <div class="col-md-4">CERTIFICADO DE INGRESOS</div>
                                <div class="col-md-8">
                                    <label>Certificado de ingresos de la persona de quien depende el (la)
                                        estudiante</label>
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Personas a cargo</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="peracargo">
                            <div class="row item-list">
                                <div class="col-md-4">opciones</div>
                                <div class="col-md-8">
                                    <nb-radio-group>
                                        <label>Hijos a cargo</label>
                                        <label>Si el (la) estudiante tiene hijos y ellos dependen económicamente de él
                                        </label>
                                        <nb-radio value="si">SI</nb-radio>
                                        <nb-radio value="no">NO</nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Registro civil</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="registrocivil">
                            <div class="row item-list">
                                <div class="col-md-4">Numero de hijos</div>
                                <div class="col-md-8">
                                    <input nbInput type="number" formControlName="numero_hijos">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Edad</div>
                                <div class="col-md-8">
                                    <input nbInput type="number" formControlName="edad">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Edad</div>
                                <div class="col-md-8">
                                    <input nbInput type="number" formControlName="edad">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Adjuntar el registro civil</div>
                                <div class="col-md-8">
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Desplazado</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="desplazado">
                            <div class="row item-list">
                                <div class="col-md-4">DESPLAZADO</div>
                                <div class="col-md-8">
                                    <nb-radio-group>
                                        <label>Indique si el estudiante esta en condición de desplazado</label>
                                        <nb-radio value="si">SI</nb-radio>
                                        <nb-radio value="no">NO</nb-radio>
                                    </nb-radio-group>
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">DESPLAZADO</div>
                                <div class="col-md-8">
                                    <label>Adjuntar el soporte</label>
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Recibo de pago</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="recibopago">
                            <div class="row item-list">
                                <div class="col-md-4">Valor matricula</div>
                                <div class="col-md-8">
                                    <input nbInput type="number" formControlName="valor_matricula">
                                </div>
                            </div>

                            <div class="row item-list">
                                <div class="col-md-4">Adjuntar el recibo</div>
                                <div class="col-md-8">
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

                <nb-accordion-item>
                    <nb-accordion-item-header>
                        <h4 class="non-selectable">Otros Documentos</h4>
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <form [formGroup]="otrosdoc">
                            <label>Otros Documentos</label>
                            <label>Papeles que soporten la situación que describe en la carta dependiendo el caso
                                (Hipotecas,
                                acta de
                                defunción, demandas),<br>
                                Discapacidad física (si existe) del estudiante o acudiente certificada por la EPS o
                                SISBEN
                                donde
                                se
                                determina el porcentaje de la discapacidad, etc.
                            </label>
                            <div class="row item-list">
                                <div class="col-md-4">Otros documentos</div>
                                <div class="col-md-8">
                                    <input nbInput type="file">
                                </div>
                            </div>
                        </form>
                    </nb-accordion-item-body>
                </nb-accordion-item>

            </nb-accordion>

            <mat-label>Enviar documentación</mat-label>
            <mat-hint>El envío de documentos solo puede realizarse una vez.<br> Si usted diligencia nuevamente este formulario adjuntando los documentos solo se tendrá en cuenta el primer envío, se realizará la validación y dará respuesta únicamente basándose en
                el primer diligenciamiento.
                <br> Si está seguro(a) de enviar los documentos presione el botón enviar.<br>

                <hr>
                <div class="form-group">
                    <button nbButton fullWidth hero shape="semi-round" status="warning" (click)="llamardialogo()" class="submit-button">

                        <i class="fas fa-save mr-1"></i>
                        Registrar
                    </button>
                </div>

            </mat-hint>

        </nb-card-body>
    </nb-card>

    <ng-template #dialogo>
        <p>¡Sus datos han sido enviados!</p>
    </ng-template>
</div>