<!-- <nb-card>
    <button class="btn back-button btn-block" routerLink="../../">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Regresar
    </button>
</nb-card> -->

<div *ngIf="loading">
    <nb-card>
        <div class="menu-header m-4">
            <h1 *ngIf="periodo==null">
                No hay un periodo activo
            </h1>
            <button class="btn back-button" routerLink="../../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>
        </div>
    </nb-card>
</div>


<div *ngIf="!loading">
    <!-- Caso que no se pueda cargar periodo -->
    <nb-card *ngIf="periodo==null">
        <div class="menu-header m-4">
            <h1>
                No hay un periodo activo para inscripciones
            </h1>
            <button class="btn back-button" routerLink="../../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>

        </div>
    </nb-card>

    <!-- Caso que no se encuentren documentos del estudiante -->
    <nb-card *ngIf="tercero!==null && (estudiante.Documento==null || estudiante.Carnet==null)">
        <div class="menu-header m-4">
            <h1>
                No se encontraron documentos de identificación del estudiante
            </h1>
            <button class="btn back-button" routerLink="../../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>

        </div>
    </nb-card>

    <!-- Caso que no se pueda cargar tercero -->
    <nb-card *ngIf="periodo!==null && tercero==null">
        <div class="menu-header m-4">
            <h1>
                Hubo un error con tus credenciales, intenta logear de nuevo.
            </h1>
            <button class="btn back-button" routerLink="../../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>

        </div>
    </nb-card>


    <!-- Caso que exista solicitud -->
    <nb-card *ngIf="solicitud!==null && periodo!==null ">
        <nb-card-header>
            <div class="menu-header m-3">
                <h1>
                    Solicitud apoyo alimentario {{ periodo?.Nombre }}
                </h1>
                <button class="btn back-button" routerLink="../../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>
            </div>
        </nb-card-header>
        <hr>
        <nb-card-body>
            <div class="menu-list">
                <div class="item form-group ">
                    <label class="sub-item label-color-ud">
                        ID Solicitud:
                    </label>
                    <label class="sub-item">
                        {{solicitud?.Id}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Estado :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.Activo}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Fecha Radicación :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.FechaRadicacion | fechaFormat}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Fecha Creación :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.FechaCreacion | fechaFormat}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Fecha Modificación :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.FechaModificacion | fechaFormat}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Solicitud Finalizada :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.SolicitudFinalizada}}
                    </label>

                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Referencia :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.Referencia}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Tipo Solicitud :
                    </label>
                    <label class="sub-item">
                        {{solicitud?.EstadoTipoSolicitudId.TipoSolicitud.Nombre}}
                    </label>
                </div>
                <div class="item">
                    <label class="sub-item label-color-ud">
                        Estado Solicitud :
                    </label>
                    <label class="sub-item">
                        <p>{{solicitud.EstadoTipoSolicitudId.EstadoId.Nombre}}</p>
                    </label>
                </div>
            </div>


            <div *ngIf="observaciones.length>0">
                <hr>
                <div class="container">
                    <h4>Observaciones</h4>
                    <div class="timeline">
                        <div *ngFor="let obs of observaciones" class="timeline__group">
                            <span class="timeline__year time" aria-hidden="true">{{ obs.FechaCreacion | fechaFormat:'medium' }}
                            </span>
                            <div class="timeline__cards">
                                <div class="timeline__card card">
                                    <header class="card__header">
                                        <b>{{obs.Titulo}}</b>
                                    </header>
                                    <div class="card__content">
                                        <p>{{obs.Valor.split('//')[0]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>

    <!-- Formulario nueva solicitud --------------------------------->
    <ngx-crear-solicitud *ngIf="tercero!=null && solicitud==null && (estudiante.Documento!==null || estudiante.Carnet!==null)" [tercero]="tercero" [solicitud]="solicitud" [periodo]="periodo" [estudiante]="estudiante"></ngx-crear-solicitud>

</div>