<div class="card text-center">
    <span class="h3">Grupos Culturales</span>
</div>
<nb-card>
    <nb-card-header>
        <div class="d-flex justify-content-between">     
          <button nbButton status="success" class="mx-2" type="button" routerLink='../grupo-cultural/crear_grup_cult'>Crear Grupo Cultural</button>
        </div>
    </nb-card-header> 
   
</nb-card>

<div class="card text-center">
    <div class="card-body" *ngIf="grupos">
      <mat-table [dataSource]="grupos_culturales" #sort="matSort" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Grupo</mat-header-cell>
          <mat-cell  *matCellDef="let gr">{{gr.nombre}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="estado">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Estado</mat-header-cell>
          <mat-cell *matCellDef="let gr">{{gr.estado}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Descripcion</mat-header-cell>
          <mat-cell *matCellDef="let gr">{{gr.descripcion}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let gr"><button class="btn" matTooltip="Ver más información" data-toggle="modal"
              data-target="#modalAditional" (click)="mostrarDialogo()">
              <mat-icon color="primary">remove_red_eye</mat-icon>
            </button>
            <button class="btn" [routerLink]="['../grupo-cultural/editar_grup_cult', gr.id]" matTooltip="Crear">
              <mat-icon color="warn">update</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnas;"></mat-row>

      </mat-table>
      <mat-paginator #paginator="matPaginator" [pageSize]="20" showFirstLastButtons></mat-paginator>
    </div>
    <div class="card-body" *ngIf="!grupos">
      <h5>No hay grupos creados por el momento</h5>
    </div>
  </div> 
  
  