<div class="col-md-12 col-lg-12 ">
    <nb-card>
        <nb-card-header>
            {{ 'CRP.solicitudes_crp' | translate }}
        </nb-card-header>
        <nb-card-body>

            <ng2-smart-table *ngIf="!cambiotab " [settings]="settings" [source]="source" (custom)="onCustom($event)">
            </ng2-smart-table>
            <!-- <ngx-ver-solicitud-cdp [solicitudcdp]="solicitudcdp"></ngx-ver-solicitud-cdp> -->
            <div class="wrapper">
                <br>
                <button  type="submit" class="btn btn-success ">
                    {{'CRP.solicitar-crp' | translate }}
                  </button>
            </div>
           
        </nb-card-body>
    </nb-card>
</div>