<div class="container-fluid">
  <nb-card>
    <nb-card-header>
      {{ "APROPIACION.consulta-apropiacion-title" | translate }}
    </nb-card-header>
    <!-- Descripcion consulta apropiacion por vigencia -->
    <div class="div-descripcion">
      {{ "APROPIACION.selecciona-ano-consulta" | translate }}
      <nb-select
      id="select_vigencia"
      placeholder="{{ vigenciaSel }}"
      hero
      status="info"
      [(ngModel)]="VigenciaActual"
      placeholder="--Selecciona--"
      >
        <nb-option
          *ngFor="let v of vigencias"
          [value]="v"
          (click)="onSelect(v.vigencia)"
          >{{ v.vigencia }}</nb-option
        >
      </nb-select>
      <p [innerHTML]="'APROPIACION.parrafo-intro-consulta-apro' | translate "></p>
      <div *ngIf="vigenciaSel == strVigenciaActual">
        <p>{{ "APROPIACION.texto-modificar-apro" | translate: {vigenciaSel:vigenciaSel} }}</p>
        <div class="col-md-4 col-lg-4 col-xxxl-4">
          <button
            *ngIf="optionView == 'ApropiacionesEstado'"
            type="submit"
            class="btn btn-info btn-block"
            (click)="changeView('Apropiaciones')"
          >
            {{ "GLOBAL.asignar-nueva-apropiacion-inicial" | translate }}
          </button>
          <button
            *ngIf="optionView == 'Apropiaciones'"
            type="submit"
            class="btn btn-info btn-block"
            (click)="changeView('ApropiacionesEstado')"
          >
            {{ "GLOBAL.regresar-consulta-apropiacion" | translate }}
          </button>
        </div>
      </div>
    </div>
    <!-- Fin Descripcion consulta apropiacion por vigencia -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <!-- Arbol rubros -->
          <div class="col-md-8 col-lg-8 col-xxxl-8">
            <ngx-arbol
              (rubroSeleccionado)="receiveMessage($event)"
              [updateSignal]="eventChange"
              [vigencia]="vigenciaSel"
              [optionSelect]="optionView"
            ></ngx-arbol>
          </div>
          <!-- Fin Arbol rubros -->
          <!-- Detalle del rubro -->
          <div class="col-md-4 col-lg-4 col-xxxl-4">
            <!-- Detalle del rubro : detalle -->
            <mat-tab-group>
              <mat-tab label="{{'GLOBAL.rubro' | translate }}">
                <div class="container-fluid">
                  <nb-card>
                    <nb-card-header>{{
                      "GLOBAL.detalle-rubro" | translate
                    }}</nb-card-header>
                    <nb-card-body>
                      <form>
                        <div class="form-group">
                          <label>{{ "GLOBAL.nombre-rubro" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Nombre"
                            [value]="rubroSeleccionado.Nombre"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>{{ "GLOBAL.codigo-rubro" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Codigo"
                            [value]="rubroSeleccionado.Codigo"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>{{ "GLOBAL.unidad-ejecutora" | translate }}</label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder=""
                            [value]="AreaFuncional || ''"
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>{{ "GLOBAL.centro_gestor" | translate }}</label>
                          <input
                            [value]="CentroGestor || ''"
                            type="text"
                            class="form-control"
                            placeholder=""
                            readonly
                          />
                        </div>
                        <div class="form-group">
                          <label>{{ "GLOBAL.descripcion" | translate }}</label>
                          <textarea
                            class="form-control"
                            placeholder="Descripción"
                            [value]="rubroSeleccionado.Descripcion"
                            readonly
                          ></textarea>
                        </div>
                      </form>
                    </nb-card-body>
                  </nb-card>
                </div>
                <!-- Fin Detalle del rubro : detalle -->
                <!-- Detalle del rubro (nuevo rubro): div nueva apropiacion -->
                <div
                  [hidden]= "
                    rubroSeleccionado.Codigo == '' ||
                    rubroSeleccionado.Estado === 'aprobada'
                  "
                  class="container-fluid" >
                  <nb-card>
                    <nb-card-header>{{ "APROPIACION.detalle-apropiacion-inicial" | translate }}
                    </nb-card-header>
                    <nb-card-body>
                      <div class="row formPreasignacion">
                        <div class="form-group">
                          <label>{{ "APROPIACION.valor-apropiacion-inicial" | translate }}</label>
                          <input
                            disabled
                            currencyMask
                            type="text"
                            min="1"
                            step="any"
                            class="form-control moneyField"
                            id="inputApropiacionI"
                            placeholder="$"
                            value="{{ rubroSeleccionado.ValorInicial }}"
                            [(ngModel)]="valorApropiacion"
                          />
                          <!-- Fin Detalle del rubro : Apropiacion inicial nuevo rubro -->
                          <div class="spacingValorAp">
                            <button
                              type="submit"
                              class="btn btn-info btn-block"
                              (click)="preAsignarApropiacion()"
                            >
                              {{ "APROPIACION.asignar-apropiacion-inicial" | translate }}
                            </button>
                          </div>
                          <!-- Fin Detalle del rubro : Apropiacion inicial nuevo rubro -->
                        </div>
                      </div>
                    </nb-card-body>
                  </nb-card>
                </div>
              </mat-tab>
              <!-- Detalle del rubro : Plan adquisiciones por rubro -->
              <mat-tab *ngIf="tabPlanAdquisicionesRubro" label="{{'GLOBAL.fuentes' | translate }}">
                <ngx-plan-adquisiciones-rubro
                  (eventChange)= "receiveMessagePlan($event)"
                  [vigenciaSel]= "vigenciaSel"
                  [rubroSeleccionado]="rubroSeleccionado" ></ngx-plan-adquisiciones-rubro>
              </mat-tab>
              <!-- Fin Detalle del rubro : Plan adquisiciones por rubro -->
            </mat-tab-group>
            <!-- Detalle del rubro (nuevo rubro): div nueva apropiacion -->
          </div>
          <!-- Fin Detalle del rubro -->
        </div>
      </div>
    </div>
  </nb-card>
</div>
