@import "../../apoyo-alimentario.component.scss";
.label-color-ud {
    color: #4c1818;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    margin-right: 2px;
    margin-left: -12px;
}

.input-group {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.input-group input select {
    width: 80%;
}

.input-group-prepend {
    width: 20%;
}

.radio-online {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.order-append {
    padding-left: 2px;
    margin-bottom: 1px;
}

.tipo-sol {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    text-align: center;
}

.large-input {
    margin-left: 0;
}

.btn-table {
    min-width: 505px;
}

@media (max-width: 1040px) {
    .input-group-prepend {
        width: 22%;
    }
    .input-group input select {
        width: 78%;
    }
    .small-ud {
        margin-left: 28%;
    }
}

@media (max-width: 950px) {
    .input-group-prepend {
        width: 25%;
    }
    .input-group input select {
        width: 75%;
    }
    .small-ud {
        margin-left: 28%;
    }
}

@media (max-width: 850px) {
    .order-append {
        margin-left: 27%;
    }
    .large-input {
        margin-left: 5%;
    }
}

@media (max-width: 695px) {
    .input-group-prepend {
        width: 35%;
    }
    .input-group input select {
        width: 65%;
    }
    .small-ud {
        margin-left: 1%;
    }
    .order-append {
        justify-self: stretch;
        text-align: center;
        justify-content: stretch;
        margin-left: 20%;
    }
    .large-input {
        margin-left: 9%;
    }
}

@media (max-width: 650px) {
    .fijo {
        margin-right: 12px;
    }
    .btn-table {
        min-width: 515px;
    }
}

@media (max-width: 550px) {
    .order-append {
        margin-left: 12%;
    }
    .large-input {
        margin-left: 13%;
    }
}

@media (max-width: 500px) {
    .order-append {
        margin-left: 10%;
    }
}

@media (max-width: 442px) {
    .input-group-prepend {
        width: 55%;
    }
    .input-group input select {
        width: 55%;
    }
    .small-ud {
        margin-left: 1%;
    }
    .large-input {
        margin-left: 20%;
    }
    .order-append {
        margin-left: 1%;
    }
}