<nb-card>
    <nb-card-body class="cards-container">
        <div *ngFor="let afetctaionItem of afectationData" class="cards-items">
            <div class="card">
                <div class="header-container card-header bg-warning text-white">
                    <b class="card-title">{{'GLOBAL.tipo' | translate }} : {{afetctaionItem.Tipo.Nombre}}</b>
                    <button *ngIf="!readonly" class="btn btn-danger"
                            (click)="removeAprData(afetctaionItem)">X</button>
                </div>
                <div class="card-body">
                    <b>{{'MODIF.cuenta_credito' | translate }}</b> : {{afetctaionItem.CuentaCredito.Codigo}} / {{afetctaionItem.CuentaCredito.Nombre}}
                        <br>
                        <span
                            *ngIf="afetctaionItem.CuentaContraCredito"><b>{{'MODIF.cuenta_contra_credito' | translate }}</b>
                            :
                            {{afetctaionItem.CuentaContraCredito.Codigo}}/{{afetctaionItem.CuentaContraCredito.Nombre}}</span>
                        <br>
                        <b>{{'GLOBAL.valor' | translate }} </b> :<span class="moneyField"> {{afetctaionItem.Valor | currency:'COP':'symbol':'4.2-2':'co' }}
                        </span>
                        <br>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>