<div class="home-div">
    <mat-card class="home-card center">
        <mat-card-header>
            <h3> Modulo Gestión documental</h3>
        </mat-card-header>
        <mat-card-content class="center">
            
            <button mat-raised-button color="primary" (click)="navigateCargar()">Cargar</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateConsultar()">Consultar</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateGestor()">Gestor Repositorios</button><br> <br>
        </mat-card-content>
    </mat-card>
</div>



