@import "../../apoyo-alimentario.component.scss";
.contain {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
    min-width: 75vh;
}

.contain .periodo {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
}

.contain .sedes {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
}

.contain .codigo {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
}

.contain .page {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 2/4;
    grid-row: 2;
}

.contain .offset {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 4/6;
    grid-row: 2;
}

@media (max-width: 800px) {
    .contain {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        min-width: 65vh;
    }
    .contain .periodo {
        grid-column: span 2;
        grid-row: 1;
    }
    .contain .sedes {
        grid-column: span 2;
        grid-row: 1;
    }
    .contain .page {
        grid-column: span 2;
        grid-row: 2;
    }
    .contain .offset {
        grid-column: span 2;
        grid-row: 2;
    }
    .contain .codigo {
        grid-column: span 4;
        grid-row: 3;
    }
}

nb-card.ng-star-inserted {
    padding-bottom: -5%;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

nb-card hr {
    overflow: hidden;
    margin: 0;
    margin-bottom: 0;
    border: 0;
}