@import "../../apoyo-alimentario.component.scss";
.contain {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-content: center;
}

.contain .periodo {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
    width: 90%;
}

.contain .sedes {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
    width: 90%;
}

.contain .codigo {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
    width: 95%;
}

.contain .fechaInicio {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 2;
    width: 90%;
}

.contain .fechaFin {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 2;
    grid-row: 2;
    width: 90%;
}

.contain .page {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 1;
    grid-row: 2;
    width: 90%;
}

.contain .offset {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: span 1;
    grid-row: 2;
    width: 90%;
}

@media (max-width: 950px) {
    .contain {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .contain .periodo {
        grid-column: span 2;
        grid-row: 1;
        width: 80%;
    }
    .contain .sedes {
        grid-column: span 2;
        grid-row: 1;
        width: 80%;
    }
    .contain .page {
        grid-column: span 2;
        grid-row: 2;
        width: 80%;
    }
    .contain .offset {
        grid-column: span 2;
        grid-row: 2;
        width: 80%;
    }
    .contain .fechaInicio {
        grid-column: span 2;
        grid-row: 3;
        width: 80%;
    }
    .contain .fechaFin {
        grid-column: span 2;
        grid-row: 3;
        width: 80%;
    }
    .contain .codigo {
        grid-column: span 4;
        grid-row: 4;
        width: 80%;
    }
}

@media (max-width: 500px) {
    .contain {
        min-width: 50vw;
    }
    .contain .periodo {
        width: 80%;
    }
    .contain .sedes {
        width: 80%;
    }
    .contain .page {
        width: 80%;
    }
    .contain .offset {
        width: 80%;
    }
    .contain .fechaInicio {
        width: 80%;
    }
    .contain .fechaFin {
        width: 80%;
    }
    .contain .codigo {
        width: 80%;
    }
}

nb-card.ng-star-inserted {
    padding-bottom: -5%;
}

.line {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-top: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

nb-card hr {
    overflow: hidden;
    margin: 0;
    margin-bottom: 0;
    border: 0;
}