<nb-card *ngIf="registros==null">
    <div class="text-center pt-2">
        <div class="menu-header">
            <h1>
                No hay registros para consultar
            </h1>
            <button class="btn back-button btn-block" routerLink="../../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>
        </div>
    </div>
</nb-card>

<nb-card *ngIf="registros!=null">
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Buscar Registro Diario
                </h1>
                <button class="btn back-button btn-block" routerLink="../../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <table *ngIf="registros.length>0" class="table">
            <thead class="bg-ud-table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">JSON</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody class="bg-ud-table-cell">
                <tr *ngFor="let item of registros; let i = index">
                    <!-- (pagina -1)*tamPag :  ((pagina)*tamPag) -->
                    <th scope="row">{{ (i+1) }}</th>
                    <td>{{ item | json }}</td>
                    <td>
                        <button class="btn init-icon " routerLink="./{{item.Id}}" title="Ver Registro">
                        <i class="fa fa-user" aria-hidden="true"></i>
                            Ver Registro    
                        </button>
                    </td>
                </tr>
            </tbody>

        </table>


        <div *ngIf="registros.length==0" class="alert alert-warning text-center mt-3">
            <h3 class="alert-heading">No hay registros</h3>
            <p>
                <i class="fa fa-exclamation fa-2x    "></i>
            </p>
        </div>
    </nb-card-body>
</nb-card>