<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Buscar atención</mat-card-title>
    <mat-card-subtitle
      >Ingrese todos los datos de la atención.</mat-card-subtitle
    >
  </mat-card-header>

  <mat-card-content>
    <div class="row">
      <div class="col col-5">
        <mat-form-field>
          <input
            matInput
            placeholder="Código de la atención"
            [(ngModel)]="codigo_atencion"
          />
        </mat-form-field>
      </div>
      <div class="col col-7">
        <button mat-raised-button color="primary" (click)="getAtencion()">
          Consultar atención
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Nueva atención</mat-card-title>
    <mat-card-subtitle
      >Ingrese todos los datos de la atención.</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col col-5">
        <mat-form-field>
          <input
            matInput
            placeholder="Código de estudiante"
            [(ngModel)]="codigo_estudiante"
          />
        </mat-form-field>
      </div>
      <div class="col col-7">
        <button mat-raised-button color="primary" (click)="getEstudiante()">
          Buscar estudiante
        </button>
      </div>
    </div>

    <!-- Información de estudiante -->
    <div class="row">
      <div class="col">
        <mat-form-field class="example-full-width">
          <input
            readonly="!nuevaAtencion"
            matInput
            placeholder="Código"
            [value]="estudiante.Carnet"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="example-full-width">
          <input
            readonly="!nuevaAtencion"
            matInput
            placeholder="Nombre completo"
            [value]="estudiante.Nombre"
          />
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="fecha_nacimiento"
            placeholder="Fecha de nacimiento"
            [(ngModel)]="estudiante.FechaNacimiento"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="fecha_nacimiento"
          ></mat-datepicker-toggle>
          <mat-datepicker #fecha_nacimiento></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker1"
            placeholder="Fecha de apertura"
            [(ngModel)]="fecha_apertura"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker1"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="picker"
            placeholder="Fecha de finalización"
            [(ngModel)]="fecha_finalizacion"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <mat-form-field>
          <mat-label>Tipo de servicio</mat-label>
          <mat-select [(ngModel)]="tipo_servicio">
            <mat-option
              *ngFor="let tipoServicio of tiposServicio"
              [value]="tipoServicio"
            >
              {{ tipoServicio }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Tipo de atención </mat-label>
          <mat-select [(ngModel)]="tipo">
            <mat-option
              *ngFor="let tipoAtencion of tiposAtenciones"
              [value]="tipoAtencion"
            >
              {{ tipoAtencion.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field>
          <mat-label>Estado de atención</mat-label>
          <mat-select [(ngModel)]="estado">
            <mat-option
              *ngFor="let estadoAtencion of estadosAtenciones"
              [value]="estadoAtencion"
            >
              {{ estadoAtencion.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-vertical-stepper
      [linear]="false"
      #stepper
      *ngIf="!emptyObservaciones(observaciones)"
    >
      <mat-step *ngFor="let observacion of observaciones; let i = index">
        <ng-template matStepLabel
          ><b> Creación:</b>
          {{ fullDate(observacion.FechaCreacion) | titlecase }} 
          | 
          <b>Última modificación:</b>
          {{ fullDate(observacion.FechaModificacion) | titlecase }}</ng-template
        >
        <div class="row">
          <div class="col col-9">
            <mat-form-field style="width: 100%">
              <textarea
                matInput
                placeholder="Escribe una observación"
                [(ngModel)]="observacion.Valor"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col col-3">
            <button
              mat-raised-button
              color="primary"
              (click)="deleteObservacion(i)"
            >
              Eliminar
            </button>
          </div>
        </div>
      </mat-step>
    </mat-vertical-stepper>
    <button mat-raised-button color="primary" (click)="addObservacion()">
      Nueva observación
    </button>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="handleClickSave()">
      Guardar y salir
    </button>
    <button mat-raised-button color="warn" (click)="limpiarFormulario()">
      Finalizar atención
    </button>
  </mat-card-actions>
</mat-card>
