<nb-card>
    <div class="container text-center pt-2">
        <div class="row justify-content-md-center">
            <h1>
                Registro diario
                <u *ngIf="inscritos">inscritos</u>
                <u *ngIf="!inscritos">no inscritos</u>
            </h1>
            <button class="btn back-button ml-5 mr-n5" routerLink="/apoyo-alimentario">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Regresar
        </button>
        </div>
    </div>
    <hr>

    <div class="row">
        <div class="col">
            <form (ngSubmit)="guardar( f )" #f="ngForm">


                <div class="form-group input-group">
                    <div class="label-color-ud input-group-prepend input-group-text">
                        <i class="fa fa-file-signature " aria-hidden="true"></i>
                        <span class="label-color-ud ml-1" id="inputGroup-sizing-default">Periodo</span>
                    </div>
                    <input type="text" [(ngModel)]="fechaActual.periodo" name="periodo" class="form-control" disabled>
                </div>

                <!-- [class.is-invalid]="fecha.invalid && fecha.touched" -->
                <div class="form-group input-group">
                    <div class="label-color-ud input-group-prepend input-group-text">
                        <i class="fa fa-calendar-day " aria-hidden="true"></i>
                        <span class="label-color-ud ml-2" id="inputGroup-sizing-default">Fecha</span>
                    </div>
                    <input type="date" placeholder="Fecha a registrar" [(ngModel)]="fechaActual.fechaDia" name="fechaDia" class="form-control" required #fechaDia="ngModel" disabled>
                </div>

                <div class="form-group input-group">
                    <div class="label-color-ud input-group-prepend input-group-text">
                        <i class="fa fa-university " aria-hidden="true"></i>
                        <span class="label-color-ud ml-2" id="inputGroup-sizing-default">Sede</span>
                    </div>
                    <select class="form-control custom-select input-text-ud" name="sede" [disabled]="sedesAccesso.length === 0" [class.is-invalid]="sede.invalid && sede.touched" [ngModel]="registroBase.sede" nombre="sede" required placeholder="Sede" required #sede="ngModel">
                    <option *ngFor="let sede of sedesAccesso" [value]="sede.id">{{sede.nombre}}</option>
                </select>
                </div>
                <div class="small-ud-sede">
                    <small *ngIf="sede.invalid && sede.touched" class="form-text text-danger mt-n3 mb-2">Tienes que seleccionar un sede</small>
                    <small *ngIf="sedesAccesso.length === 0" class="form-text text-danger mt-n3 mb-2">No hay sedes disponibles</small>
                </div>

                <div class="form-group input-group">
                    <div class="label-color-ud input-group-prepend input-group-text mt-1n">
                        <i class="fa fa-barcode mt-2n mr-1" aria-hidden="true"></i>
                        <span class="label-color-ud ml-1" id="inputGroup-sizing-default"> 
                        Codigo
                        <br>
                        Estudiante
                    </span>
                    </div>
                    <input class="form-control input-text-ud mt-3" type="number" name="codigo" placeholder="Codigo estudiante" [(ngModel)]="registroBase.codigo" #codigo="ngModel" [class.is-invalid]="codigo.invalid && codigo.touched" pattern="[0-9]{11}" required>
                </div>
                <div class="small-ud">
                    <small *ngIf="codigo.invalid && codigo.touched " class="form-text text-danger mt-n4 mb-2">Tienes que ingresar un codigo correcto</small>
                </div>
                <hr>
                <div class="form-group">
                    <button type="submit" class="btn btn-warning btn-block">
                    <i class="fas fa-save mr-1"></i>
                    Guardar
                </button>

                </div>
                <div *ngFor="let registoAprovado of registosAprovados.reverse();" class="alert alert-warning" role="alert">
                    Se registro el estudiante <strong> {{registoAprovado}} </strong>
                </div>
            </form>
        </div>
    </div>
</nb-card>