.label-color-ud {
    color: #4c1818;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
    margin-right: 2px;
}

.small-ud {
    margin-left: 12%;
}

.small-ud-sede {
    margin-left: 8.2%;
}

input {
    width: 20%;
    margin: auto;
}