<div align="top" align="center">

    <h1>{{grupo_cultural.Nombre}}</h1>
    <img [src]="imageSrc" alt="Imagen" style="width: 50%; height: auto;">
    <br><br>

    <h6>Nombre</h6>{{grupo_cultural.Nombre}}<br><br>

    <h6>Estado</h6>{{formatearEstado(grupo_cultural.Estado)}}<br><br>

    <h6>Descripcion</h6>{{grupo_cultural.Descripcion}}<br><br>

    <h6>Correo</h6>{{grupo_cultural.Email}}<br><br>

    <h6>¿Necesita inscripción?</h6> {{formatearNecesitaInscripcion(grupo_cultural.NecesitaInscripcion)}}<br><br>

    <h6>Enlace de inscripción</h6>  <a href="{{enlaceInscripcion}}" *ngIf="valInscripcion" target="_blank">{{enlaceInscripcion}}</a> 

    <h5 *ngIf="!valInscripcion">{{enlaceInscripcion}}</h5> <br><br>

    <h6>Fecha de inicio de inscripción</h6>{{obtenerFechaInicio()}}<br><br>

    <h6>Fecha de finalización de inscripción</h6>{{obtenerFechaFin()}}<br><br>

    <h6>Lider del grupo</h6>{{grupo_cultural.LiderGrupo}}<br><br>

    <h6>Horarios de reunion</h6><br>

    <table class="grid-table">

        <thead>
          <tr>
            <th>Dia</th>
            <th>Hora</th>
            <th>Lugar</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of horarios_gr">
            <td>{{ item.dia }}</td>
            <td>{{ item.hora }}</td>
            <td>{{ item.lugar }}</td>
          </tr>
        </tbody>

    </table>
    
    <br><br>

    <h6>Fecha Creación</h6>{{obtenerFechaCreacion()}}<br><br>

    <button class="btn btn-primary card-button m-2" mat-raised-button (click)="close()">Cerrar
    </button>
</div>