.panel-heading {
  padding: 15px;
  background-color: #DD9900;
  text-align: center;
  
  .panel-title {
    color: #fff;
  }
}

.panel-body {
  text-align: center;
}

.panel-body p {
  text-align: center;
  padding: 20px;
}

.form-group {
  display: flex;
  justify-content: center;
}

.col-md-1{ width: calc(100% / 12); }
.col-md-2{ width: calc(100% / 12 * 2); }
.col-md-3{ width: calc(100% / 12 * 3); }
.col-md-4{ width: calc(100% / 12 * 4); }
.col-md-5{ width: calc(100% / 12 * 5); }
.col-md-6{ width: calc(100% / 12 * 6); }
.col-md-7{ width: calc(100% / 12 * 7); }
.col-md-8{ width: calc(100% / 12 * 8); }
.col-md-9{ width: calc(100% / 12 * 9); }
.col-md-10{ width: calc(100% / 12 * 10); }
.col-md-11{ width: calc(100% / 12 * 11); }
.col-md-12{ width: calc(100% / 12 * 12); }