<div class="col-md-12 col-lg-12 ">
  <nb-card>
    <nb-card-header>
        {{ 'MENU.gestion_plan_cuentas.gestion_productos' | translate }}
    </nb-card-header>
    <nb-card-body>
      <ngx-list-entity
      [isOnlyCrud]="isOnlyCrud" 
      [uuidReadFieldName]="uuidReadFieldName"
      [uuidDeleteFieldName]="uuidDeleteFieldName"
      [listColumns]="listColumns"
      [deleteConfirmMessage]="deleteConfirmMessage"
      [deleteMessage]="deleteMessage"
      [loadDataFunction]="loadDataFunction"
      [deleteDataFunction]="deleteDataFunction"
      [formEntity]="formEntity"
      [formTittle]="formTittle"
      [updateMessage]="updateMessage"
      [createMessage]="createMessage"
      [updateConfirmMessage]="updateConfirmMessage"
      [createConfirmMessage]="createConfirmMessage"
      [loadFormDataFunction]="loadFormDataFunction"
      [updateEntityFunction]="updateEntityFunction"
      [createEntityFunction]="createEntityFunction"
      >
    </ngx-list-entity>
    </nb-card-body>
  </nb-card>
</div>
