@import "../../apoyo-alimentario.component.scss";
.pag ::ng-deep .ngx-pagination {
    background: #01579b;
    color: whitesmoke !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.pag ::ng-deep .ngx-pagination .pag {
    color: whitesmoke !important;
}

.pag ::ng-deep .ngx-pagination .current {
    background: whitesmoke;
    color: black;
}

.pag ::ng-deep .ngx-pagination a,
.ngx-pagination button {
    color: whitesmoke !important;
}

.pag ::ng-deep .ngx-pagination a:hover,
.ngx-pagination button:hover {
    background: #073355b4;
}

.contain {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    //justify-content: space-evenly;
}

.contain .search {
    justify-self: flex-start;
    align-self: center;
    text-align: left;
    grid-column: span 1;
    grid-row: 1;
}

.contain .page {
    justify-self: center;
    align-self: center;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1;
}

.contain .btn {
    justify-self: flex-end;
    align-self: center;
    text-align: center;
    grid-column: 3/4;
    grid-row: 1;
}