<nb-card>
    <div class="container">
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1 *ngIf="periodo!=null">
                    Listado de solicitudes radicadas {{periodo.Nombre}}"
                </h1>
                <button class="btn back-button" routerLink="../../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>
            </div>
        </div>

        <hr>

        <table *ngIf="solicitudes.length>0" class="table mt-3">
            <thead class="bg-ud-table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo solicitud</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha radicacion</th>
                    
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody class="bg-ud-table-cell">
                <tr *ngFor="let item of solicitudes; let i = index">
                    <th scope="row">{{ i +1 }}</th>
                    <td>{{ item.EstadoTipoSolicitudId.TipoSolicitud.Nombre }}</td>
                    <td>{{ item.EstadoTipoSolicitudId.EstadoId.Nombre }}</td>
                    <td>{{ item.FechaRadicacion | date: 'dd/MM/yyyy'}}</td>
                    <td>
                         <button class="btn init-icon " routerLink="./{{item.Id}}" title="Ver solicitante">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Evaluar solicitud
                        </button>
                        
                        <!-- <button *ngIf="mostrarIniciarInscripcion(i)" class="btn init-icon " (click)="iniciarParametro(i,'inscripciones')" title="Iniciar inscripciones">
                            <i class="fa fa-play " aria-hidden="true"></i>
                        </button>
                        <button *ngIf="mostrarDetenerInscripcion(i)" class="btn delete-icon " (click)="detenerParametro(i,'inscripciones')" title="Detener inscripciones">
                            <i class="fa fa-stop " aria-hidden="true"></i>
                        </button>
                        <button *ngIf="mostrarReactivarInscripcion(i)" class="btn student-icon" (click)="reactivarParametro(i,'inscripciones')" title="Reactivar periodo">
                            <i class="fa fa-redo-alt fa-lg " aria-hidden="true"></i>
                        </button>
                        <button *ngIf="mostrarIniciarServicio(i)" class="btn init-icon" (click)="iniciarParametro(i,'servicio')" title="Iniciar servicio">
                            <i class="fas fa-drumstick-bite fa-lg fa-rotate-270"></i>   
                        </button>
                        <button *ngIf="mostrarDetenerServicio(i)" class="btn init-icon" (click)="detenerParametro(i,'servicio')" title="Detener servicio">
                            <i class="fas fa-drumstick-bite fa-lg fa-rotate-270"></i>   
                        </button>
                        <button *ngIf="mostrarReactivarServicio(i)" class="btn init-icon" (click)="reactivarParametro(i,'servicio')" title="Reactivar servicio">
                            <i class="fas fa-drumstick-bite fa-lg fa-rotate-270"></i>   
                        </button> -->

                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="solicitudes.length==0" class="alert alert-warning text-center mt-3">
            <h3 class="alert-heading">No hay registros</h3>
            <p>
                <i class="fa fa-exclamation fa-2x    "></i>
            </p>
        </div>





    </div>
</nb-card>