/* Estilo para deshabilitar el enlace */
a{
    color:black
}
.disabled-link {
    pointer-events: none; /* Evita que se pueda hacer clic en el enlace */
    color: #999; /* Cambia el color del texto para indicar que está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor al icono "no permitido" */
    text-decoration: none; /* Elimina el subrayado del enlace */
  }