<button *ngIf="cambiotab" (click)="activetab('crud')" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
  {{ regresarLabel }}</button>


      
        <ng2-smart-table *ngIf="!cambiotab " [settings]="settings" [source]="source"
          (rowSelect)="itemselec($event)" (userRowSelect)="emitItemSelected($event)"	(custom)="onCustom($event)" (create)="onCreate($event)">
        </ng2-smart-table>
        <ngx-crud-entity *ngIf="cambiotab" 
          [entitiId]="uid"
          [formEntity]="formEntity"
          [formTittle]="formTittle"
          [paramsFieldsName]="paramsFieldsName"
          [updateMessage]="updateMessage"
          [createMessage]="createMessage"
          [updateConfirmMessage]="updateConfirmMessage"
          [createConfirmMessage]="createConfirmMessage"
          [loadFormDataFunction]="loadFormData"
          [updateEntityFunction]="updateEntityFunction"
          [createEntityFunction]="createEntityFunction"
          (eventChange)="onChange($event)">
        </ngx-crud-entity>