.content {
    min-width: 55vh;
    justify-content: center;
    text-align: center;
}

.menu-header {
    padding-top: 5px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    text-align: center;
}

.menu-header h1,
.menu-header h2 {
    margin: auto;
    flex: 80%;
}

.menu-header button {
    margin-top: 1px;
    flex: 12%;
}

.menu-list {
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 5px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.menu-list .item {
    //flex: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0 10px 0 10px;
}

.menu-list .item .sub-item {
    padding: 4px;
    size: 17px;
    text-transform: uppercase;
    word-break: break-word;
    border-radius: 5px;
}

.item .label-color-ud {
    font-weight: bold;
}

.item .field-color-ud {
    font-weight: 600;
    //border: 0.42px solid #e6b31c;
    background-color: #e0ad1215;
}

.big-text {
    margin-top: 1px;
    margin-left: 20px;
    color: #212529;
    font-size: 1.5rem;
    font-weight: bold;
}

.menu-button {
    align-items: center;
    justify-content: space-around;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 1px;
    text-align: center;
}

.menu-button .boton {
    margin-top: 2px;
    word-break: break-word;
    margin-bottom: 2px;
}

.small-ud {
    margin-left: 17%;
}

.bg-ud {
    background: #4c1818;
}

.bg-online-ud {
    color: #4c1818;
    border-color: #4c1818;
    background: white;
    margin-top: 8px;
    margin-bottom: 2px;
}

.bg-ud:hover {
    background: #3d1414;
}


/* fffcf2 , fdfcf6, dfd6ba*/

.input-query-ud {
    color: #212529;
    background-color: #edf5fc;
    border-color: #409ff7;
    /* margin-bottom: 6px; */
}

.input-query-ud:hover {
    border-color: #bddcfa;
}

.input-query-ud:focus {
    background-color: #dcedfc;
    box-shadow: 0 3px 3px rgba(229, 174, 23, 0.075)inset, 0 0 12px rgba(0, 180, 255, 0.6);
    border-color: #409ff7;
    border: 0;
}

.input-query-ud:disabled {
    background-color: #aab9c5;
}

.input-query-ud::placeholder {
    color: #064683;
}

.input-text-ud {
    color: #212529;
    background-color: #fdfdfd;
    border-color: #e6b31c;
    /* margin-bottom: 6px; */
}

.input-text-ud:focus {
    background-color: #fff4e0;
    box-shadow: 0 3px 3px rgba(229, 174, 23, 0.075)inset, 0 0 12px rgba(255, 208, 0, 0.6);
    border-color: #e6b31c;
    border: 0;
}

.input-text-ud:disabled {
    background-color: #e0d6bb83;
}

.input-text-ud::placeholder {
    color: #856404;
}

.form-control {
    border-color: #e6b31c;
}

.label-color-ud {
    color: #4c1818;
    font-weight: bold;
    background-color: white;
    margin-right: 2px;
}

.small-color-ud {
    color: red;
    font-weight: bold;
}

.small-info-ud {
    font-style: oblique;
}

.field-color-ud {
    color: #212529;
    font-weight: bold;
    background-color: white;
    margin-right: 2px;
}

.bg-ud-yell {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.bg-ud-yell:hover {
    background: #be951a;
}

.submit-button {
    color: #212529 !important;
}

.back-button {
    color: whitesmoke;
    background-color: #7a1616;
    border-color: #7a1616;
    //margin: auto;
}

.back-button:hover {
    color: whitesmoke;
    background: #691717;
}


/* Estilos de tabla Apoyo */

.bg-ud-table {
    background: #01579b;
    color: whitesmoke;
    min-width: 50vh;
    margin: auto;
    text-align: center;
}

.bg-ud-table-cell {
    color: #212529;
    background-color: #fbfbfb;
    border-color: #eeeeee;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.btn-table {
    min-width: 48vh;
    align-self: center;
    text-align: center;
}

.badge {
    color: white;
}


/* ICONOS */

.student-icon {
    color: #eef1ff;
    background-color: #2039aa;
    border-color: #2039aa;
    margin-right: 3px;
}

.student-icon:hover {
    color: #d6ddfd;
    background: #192766;
}


/* #28a745 */

.init-icon {
    color: #f2fff2;
    background-color: #236123;
    border-color: #236123;
    margin-right: 3px;
}

.init-icon:hover {
    color: #f2fff2;
    background: #1b441b;
}

.edit-icon {
    color: #fcfcfc;
    background-color: #978234d7;
    border-color: #978234d7;
    margin-right: 3px;
}

.edit-icon:hover {
    color: #faf7e9;
    background: #746531d7;
}

.delete-icon {
    color: #fdf2f2;
    background-color: #7a1616;
    border-color: #7a1616;
    margin-right: 3px;
}

.delete-icon:hover {
    color: #ffe6e6;
    background: #5a1717;
}

.required-asterisk {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

.oas-asterisk {
    color: blue;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #e6b31c;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(170, 133, 22, 0.493);
}


/*
Estilos de Time-Line de Observaciones
*/


/*
=====
DEPENDENCES
=====
*/

.r-title {
    margin-top: var(--rTitleMarginTop, 0) !important;
    margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

p:not([class]) {
    line-height: var(--cssTypographyLineHeight, 1.78);
    margin-top: var(--cssTypographyBasicMargin, 1em);
    margin-bottom: 0;
}

p:not([class]):first-child {
    margin-top: 0;
}


/*
  text component
  */

.text {
    display: var(--textDisplay, inline-flex);
    font-size: var(--textFontSize, 1rem);
}


/*
  time component
  */


/*
  core styles
  */

.time {
    display: var(--timeDisplay, inline-flex);
}


/*
  extensions
  */

.time__month {
    margin-left: var(--timelineMounthMarginLeft, .25em);
}


/*
  skin
  */

.time {
    padding: var(--timePadding, .25rem 1.25rem .25rem);
    background-color: var(--timeBackgroundColor, #f0f0f0);
    font-size: var(--timeFontSize, .75rem);
    font-weight: bold;
    text-transform: var(--timeTextTransform, uppercase);
    /* color: var(--timeColor, currentColor); */
    color: #222;
}


/*
  card component
  */


/*
  core styles
  */

.card {
    padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
}

.card__content {
    margin-top: var(--cardContentMarginTop, .5rem);
}


/*
  skin
  */

.card {
    border-radius: var(--timelineCardBorderRadius, 2px);
    border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
    box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24));
    background-color: var(--timelineCardBackgroundColor, #fff);
}


/*
  extensions
  */

.card__title {
    --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
    font-size: var(--cardTitleFontSize, 1.25rem);
}


/*
  =====
  CORE STYLES
  =====
  */

.timeline {
    display: var(--timelineDisplay, grid);
    grid-row-gap: var(--timelineGroupsGap, 2rem);
}


/*
  1. If timeline__year isn't displaed the gap between it and timeline__cards isn't displayed too
  */

.timeline__year {
    margin-bottom: 1.25rem;
    /* 1 */
}

.timeline__cards {
    display: var(--timeloneCardsDisplay, grid);
    grid-row-gap: var(--timeloneCardsGap, 1.5rem);
}


/*
  =====
  SKIN
  =====
  */

.timeline {
    --uiTimelineMainColor: var(--timelineMainColor, #ffc107);
    --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
    border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.timeline__year {
    --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
    --timeColor: var(--uiTimelineSecondaryColor);
    --timeBackgroundColor: var(--uiTimelineMainColor);
    --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline__card {
    position: relative;
    margin-left: var(--timelineCardLineGap, 1rem);
    color: #4c1818;
}


/*
  1. Stoping cut box shadow
  */

.timeline__cards {
    overflow: hidden;
    padding-top: .25rem;
    /* 1 */
    padding-bottom: .25rem;
    /* 1 */
}

.timeline__card::before {
    content: "";
    width: 100%;
    height: var(--timelineCardLineWidth, 2px);
    background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
    position: absolute;
    top: var(--timelineCardLineTop, 1rem);
    left: -50%;
    z-index: -1;
}


/*
  =====
  SETTINGS
  =====
  */


/**/

.timeline {
    --timelineMainColor: #4557bb;
}


/*
  =====
  DEMO
  =====
  */

.timeline body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
    color: #ffc107;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.timeline p {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.timeline p:last-child {
    margin-bottom: 0;
}

.timeline .page {
    max-width: 47rem;
    padding: 5rem 2rem 3rem;
    margin-left: auto;
    margin-right: auto;
}