.menu-header {
    padding-top: 5px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    text-align: center;
}

.menu-header h1 {
    margin: auto;
    flex: 80%;
}

.menu-header button {
    margin-top: 1px;
    flex: 12%;
}

.menu-list {
    padding-top: 5px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    text-align: center;
}

.menu-list .item {
    margin: auto;
    flex: 60%;
}

.menu-list .sub-item .label-color-ud {
    margin-top: 1px;
    flex: 42%;
    size: 18px;
    border-color: #4c1818;
}

.menu-list .sub-item .field-color-ud {
    margin-top: 1px;
    flex: 42%;
    size: 18px;
    border-color: #e6b31c;
}

.small-ud {
    margin-left: 17%;
}

.bg-ud {
    background: #4c1818;
}

.bg-online-ud {
    color: #4c1818;
    border-color: #4c1818;
    background: white;
    margin-top: 8px;
    margin-bottom: 2px;
}

.bg-ud:hover {
    background: #3d1414;
}


/* fffcf2 , fdfcf6, dfd6ba*/

.input-query-ud {
    color: #212529;
    background-color: #edf5fc;
    border-color: #409ff7;
    /* margin-bottom: 6px; */
}

.input-query-ud:hover {
    border-color: #bddcfa;
}

.input-query-ud:focus {
    background-color: #dcedfc;
    box-shadow: 0 3px 3px rgba(229, 174, 23, 0.075)inset, 0 0 12px rgba(0, 180, 255, 0.6);
    border-color: #409ff7;
    border: 0;
}

.input-query-ud:disabled {
    background-color: #aab9c5;
}

.input-query-ud::placeholder {
    color: #064683;
}

.input-text-ud {
    color: #212529;
    background-color: #fdfdfd;
    border-color: #e6b31c;
    /* margin-bottom: 6px; */
}

.input-text-ud:focus {
    background-color: #fff4e0;
    box-shadow: 0 3px 3px rgba(229, 174, 23, 0.075)inset, 0 0 12px rgba(255, 208, 0, 0.6);
    border-color: #e6b31c;
    border: 0;
}

.input-text-ud:disabled {
    background-color: #e0d6bb83;
}

.input-text-ud::placeholder {
    color: #856404;
}

.form-control {
    border-color: #e6b31c;
}

.label-color-ud {
    color: #4c1818;
    font-weight: bold;
    background-color: white;
    margin-right: 2px;
}

.small-color-ud {
    color: red;
    font-weight: bold;
}

.small-info-ud {
    font-style: oblique;
}

.field-color-ud {
    color: #212529;
    font-weight: bold;
    background-color: white;
    margin-right: 2px;
}

.bg-ud-yell {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.bg-ud-yell:hover {
    background: #be951a;
}

.submit-button {
    color: #212529 !important;
}

.back-button {
    color: whitesmoke;
    background-color: #7a1616;
    border-color: #7a1616;
    //margin: auto;
}

.back-button:hover {
    color: whitesmoke;
    background: #691717;
}

.bg-ud-table {
    background: #01579b;
    color: whitesmoke;
    min-width: 60%;
    margin: auto;
    text-align: center;
}

.bg-ud-table-cell {
    color: #212529;
    background-color: #fbfbfb;
    border-color: #eeeeee;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.badge {
    color: white;
}


/* ICONOS */

.student-icon {
    color: #eef1ff;
    background-color: #2039aa;
    border-color: #2039aa;
    margin-right: 3px;
}

.student-icon:hover {
    color: #d6ddfd;
    background: #192766;
}


/* #28a745 */

.init-icon {
    color: #f2fff2;
    background-color: #236123;
    border-color: #236123;
    margin-right: 3px;
}

.init-icon:hover {
    color: #f2fff2;
    background: #1b441b;
}

.edit-icon {
    color: #fcfcfc;
    background-color: #978234d7;
    border-color: #978234d7;
    margin-right: 3px;
}

.edit-icon:hover {
    color: #faf7e9;
    background: #746531d7;
}

.delete-icon {
    color: #fdf2f2;
    background-color: #7a1616;
    border-color: #7a1616;
    margin-right: 3px;
}

.delete-icon:hover {
    color: #ffe6e6;
    background: #5a1717;
}

.required-asterisk {
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

.oas-asterisk {
    color: blue;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.5em;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #e6b31c;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba(170, 133, 22, 0.493);
}