<div class="home-div">

    <mat-card class="home-card center">
        <mat-card-header>
            <h3> Modulos Apoyo</h3>
        </mat-card-header>
        <mat-card-content class="center">
            <h4>Registro diario</h4>
            <button mat-raised-button color="primary" (click)="navigateRegistroDiario()">Registrar</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateConsultar()">Consultar</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateFallasJustificadas()">Fallas justificadas</button><br> <br>

            <h4>Crear Solicitud estudiante</h4>
            <button mat-raised-button color="primary" (click)="navigateSolicitudTercero()">Crear solicitud</button>
            <br>
            <br>

            <h4>Inscripciones</h4>
            <button mat-raised-button color="primary" (click)="navigateSolicitudes()">Solicitudes</button><br> 
            <br>
            <button mat-raised-button color="primary" (click)="navigateBuscarSolicitud()">Buscar solicitud</button><br>
            <br>
            <button mat-raised-button color="primary" (click)="navigateEvaluacionMasiva()">Evaluacion
                masiva</button><br> <br>

            <h4>Reportes</h4>
            <button mat-raised-button color="primary" (click)="navigateReportes()">Reportes</button><br> <br>
            <h4>Administracion</h4>
            <button mat-raised-button color="primary" (click)="navigatePeriodos()">Periodos</button><br> <br>
        </mat-card-content>
    </mat-card>
</div>