
<div class="container-fluid bg-white mh-100 mw-100">

  <div class="d-flex p-2 flex-row">
      <div class="col-xs-12 col-md-6 col-lg-6">
          <h1>Atenciones y Servicios de la univeridad Distrital</h1>
          <br>
      </div>
  </div>
  <div class="row">

      <!-- esta es la parte donde estoy haciendo los filtros -->

    <div class=" col-md-12   align-items-end ">

        <button *ngIf="solicitudesExt.length>0" class="btn back-button btn-block" (click)="solicitudesExt=[]">
          <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i>
          Regresar
      </button>
      <nb-card>
          <nb-card-header>
              <div class="text-center pt-2">
                  <div class="menu-header">
                      <h1>
                          Gaficas de {{atencion}}
                      </h1>
                  </div>
                  <small>
                      Las solicitudes se cargan de la más reciente a la más antigua.
                  </small>
              </div>
          </nb-card-header>
          <hr>
          <nb-card-body *ngIf="solicitudesExt.length==0">
              <div class="contain">
          
                <mat-form-field class="finalizada">
                    <mat-label>Tipo de Atencion</mat-label>
                    <select matNativeControl [(ngModel)]="atencion">
                      <option *ngFor="let atencion of atenciones;" [ngValue]="atencion.id">
                        {{atencion.nombre }}
                      </option>
                      <option [ngValue]="null">Todos los periodos</option>
                    </select>
                </mat-form-field>
      
                  <!-- <button class="btn btn-success" routerLink="./0">
                      <i class="fa fa-plus" aria-hidden="true"></i>
                      Agregar solicitud
                  </button> -->
              </div>
              <p class="line"></p>
              <button nbButton fullWidth hero shape="semi-round" status="warning" type="submit" class="submit-button" (click)="buscarSolicitudes()">
                  <i class="fa fa-search mr-1" aria-hidden="true"></i>
                  Buscar solicitudes
              </button>
          </nb-card-body>

        <nb-card-body class="fijo" *ngIf="solicitudesExt.length>0">
          <!-- <ngx-base64images (onNewRevisor) = "onNewRevisor($event)" ></ngx-base64images> -->

          <ngx-atencion [atencion] = "atencion"></ngx-atencion>

        </nb-card-body>

      
      </nb-card>
      
      
      <nb-card *ngIf="periodos==[]">
          <div class="alert alert-warning text-center mt-3">
              <h3 class="alert-heading">No hay ningun periodo para consultar</h3>
              <p>
                  <i class="fa fa-exclamation fa-2x    "></i>
              </p>
          </div>
      </nb-card>

    </div>
  </div>

  <hr>



</div>
