.titulo {
    text-align: center;
}

.textArea-big {
    height: 50px;
}

.textArea-mid {
    height: 25px;
}

.textArea-sm {
    height: 10px;
}

.border-right {
    border-right: 1px solid #d0cccc;
}

.texto-vertical {
    width: 20px;
    word-wrap: break-word;
    text-align: center;
    text-transform: uppercase;
    font-size: 21px;
    position: relative;
}

.texto-horizontal {
    font-size: 21px;
    display: flex;
    justify-content: center;
}
.subtitulo {
    font-size: 0.9rem;
    font-weight: bold;
}