<div>
    <nb-card *ngIf="dataSource.filteredData.length > 0" [nbSpinner]="loading" nbSpinnerMessage="Cargando documento" nbSpinnerStatus="info">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
                <div *ngFor="let columna of columnas">
                    <ng-container matColumnDef={{columna}}>
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna }} </mat-header-cell>
                        <ng-container *ngIf="columna === 'Ver'">
                            <mat-cell *matCellDef="let documento">
                                <button type="button" nbButton status='info' class="btn btn-warning btn-rounded btn-icon" (click)="visualizar(documento)">
                                    <mat-icon>file_open</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container> 
                        <ng-container  *ngIf="columna === 'Editar'">
                            <mat-cell *matCellDef="let documento"> 
                                <button nbTooltip="Editar" nbButton nbTooltipStatus="danger" status='danger' type="button" class="btn btn-danger btn-rounded btn-icon" (click)="editar(documento)">
                                    <mat-icon>edit_square</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container> 
                        <ng-container  *ngIf="columna !== 'Ver' && columna !== 'Editar' ">
                            <mat-cell  *matCellDef="let documento"> {{ evaluar(documento,columna) }} </mat-cell>
                            </ng-container> 
                    </ng-container>
                </div>
                <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </nb-card>
</div>

<!-- Template para mostrar el pdf en ventana -->
<ng-template let-data #visualizarDoc>
    <div *ngIf="visualizando" >
        <button mat-icon-button class="close-button" (click)="this.windowRef.close()">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
        <h3 mat-dialog-title>
            {{data.Nombre}}
        </h3>
        <div mat-dialog-content>
            <iframe [src]="urlSafe" type="application/pdf" (load)="onResize()" id="iframe" ></iframe>
        </div>
        <div mat-dialog-content>
            <nb-accordion>
                <nb-accordion-item>
                    <nb-accordion-item-header>Detalles</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th scope="row">Descripción:</th>
                                    <td>{{data.Descripcion}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Facultades:</th>
                                    <td>
                                        <span *ngFor="let facultad of data.Metadatos.Facultad" class="badge badge-pill badge-primary">{{facultad}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">Serie:</th>
                                    <td>{{data.Metadatos.Serie}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">SubSerie:</th>
                                    <td>{{data.Metadatos.SubSerie}}</td>
                                </tr>
                                <tr>
                                    <th scope="row">Fecha del documento:</th>
                                    <td>{{data.Metadatos.Fecha}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </nb-accordion-item-body>
                </nb-accordion-item>
                <nb-accordion-item>
                    <nb-accordion-item-header>Registro</nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <table class="table">
                            <thead>
                                <tr>
                                  <th scope="col">Fecha</th>
                                  <th scope="col">Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let registro of data.Metadatos.Registros | keyvalue">
                                    <th scope="row">{{registro.key}}:</th>
                                    <td>{{registro.value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </div>
    </div>
</ng-template>
<ng-template #editarDoc id="divEditar"  >
    <div *ngIf="editando "  id="containerEditar" >
        {{onResize()}}
        <ngx-cargar (terminarEvent)="completarEdicion($event)" (onload)="onResize()" [documentoEditar]="documentoEditar" [editando]="true" [nombreArchivo]="nombreArchivo">
        </ngx-cargar>
    </div>
</ng-template>

<ng-template let-data #aviso>
    <div class="card text-center">
      <div class="card-header">
        <h6>No se puede encontrar el documento, ¿desea eliminar el registro?</h6>
      </div>
      <div class="card-body">
        <button nbButton type="button" class="button-cargar" status="success" (click)="aceptar(data)">Si<mat-icon>done</mat-icon></button>
        <button nbButton type="button" class="button-cargar" status="danger" (click)="this.windowRef.close()">No<mat-icon>close</mat-icon></button>  
      </div>
      <div class="card-footer text-muted">
        Los cambios realizados no se podrán deshacer.
      </div>
    </div>
</ng-template>

