<div>
    <nb-card *ngIf="dataSource.filteredData.length > 0">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort>
                <div *ngFor="let columna of columnas">
                    <ng-container matColumnDef={{columna}}>
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{ columna }} </mat-header-cell>
                        <ng-container *ngIf="columna === 'Ver'">
                            <mat-cell *matCellDef="let documento">
                                <button type="button" nbButton status='info' class="btn btn-warning btn-rounded btn-icon" (click)="visualizar(documento)">
                                    <mat-icon>file_open</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container> 
                        <ng-container  *ngIf="columna === 'Editar'">
                            <mat-cell *matCellDef="let documento"> 
                                <button nbTooltip="Editar" nbButton nbTooltipStatus="danger" status='danger' type="button" class="btn btn-danger btn-rounded btn-icon" (click)="editar(documento)">
                                    <mat-icon>edit_square</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container> 
                        <ng-container  *ngIf="columna !== 'Ver' && columna !== 'Editar' ">
                            <mat-cell  *matCellDef="let documento"> {{ evaluar(documento,columna) }} </mat-cell>
                            </ng-container> 
                    </ng-container>
                </div>
                <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
                <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
        </div>
    </nb-card>
</div>

<!-- Template para mostrar el pdf en ventana -->
<ng-template #visualizarDoc>
    <div *ngIf="visualizando" >
        <p>{{descripcion}}</p>
        <iframe [src]="urlSafe" type="application/pdf" (load)="onload('iframe')" id="iframe" ></iframe>  
    </div>
</ng-template>
<ng-template #editarDoc id="divEditar" >
    <div *ngIf="editando" (load)="onload('divEditar')" >
        <ngx-cargar (terminarEvent)="completarEdicion($event)" [documentoEditar]="documentoEditar" [editando]="true" [nombreArchivo]="nombreArchivo">
        </ngx-cargar>
    </div>
</ng-template>