table {
    width: 100%;
}

.btn.btn-rounded {
    border-radius: 50px;
    margin: 1em;
}  

.container{
    margin-top:100px;
}

.button-cargar {
    margin: 1em;
}

.close-button{
    float: right;
    top:-24px;
    right:-24px;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
  
  ::ng-deep .icon-outside .close-button{
    float: right;
    top:-52px;
    right:-52px;
  }
  
  ::ng-deep .icon-outside .mat-dialog-container {
   overflow: unset
  }