<div class="contain">
  <mat-form-field class="periodo">
      <mat-label>Facultades</mat-label>
      <select matNativeControl [(ngModel)]="facultad">
          <option *ngFor="let option of facultades;let i = index;" [ngValue]="option">
              {{option}}</option>
          <option [ngValue]="null">Todos las facultades</option>
      </select>
      <br>
  </mat-form-field>





  <mat-form-field class="example-full-width">
    <mat-label>  Fecha Inicio</mat-label>
    <input matInput [matDatepicker]="fechaI" [(ngModel)]="fechaInicio">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker #fechaI></mat-datepicker>
  </mat-form-field>
  <button mat-button color="warn" (click)="fechaI.open()">
    <mat-icon>event</mat-icon>
  </button>

  <mat-form-field class="example-full-width" >
    <mat-label>  Fecha Final</mat-label>
    <input matInput [matDatepicker]="fechaF" [(ngModel)]="fechaFinal">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker #fechaF></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="fechaF.open()">
    <mat-icon>event</mat-icon>
  </button>
  

  <button class="card-button m-2" type="submit" mat-raised-button color="accent"
  (click)="BuscarSolicitud()">
  <!-- [disabled]="!solicitarpyz.valid" esto va adentro de lo de arriba para activar y desactivar el boton -->
  <mat-icon>query_stats</mat-icon>  Buscar
</button>


<div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Atenciones  por Facultad</h5>
            <ngx-verticalBar></ngx-verticalBar>
           
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Atenciones  por tipo de Servicio</h5>
            <ngx-horizontalBar></ngx-horizontalBar>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Porcentaje de Uso de los Servicios</h5>
             <ngx-pie></ngx-pie>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Atenciones  por Periodo y Tipo De Servicio</h5>
            <canvas id="chart4" class="chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>





















    

   





</div>