<div class="contain">
  <mat-form-field class="periodo">
      <mat-label>Facultades</mat-label>
      <select matNativeControl [(ngModel)]="facultad">
          <option *ngFor="let option of facultades;let i = index;" [ngValue]="i">
              {{option}}</option>
          <option [ngValue]="null">Todos las facultades</option>
      </select>
      <br>
  </mat-form-field>

  <mat-form-field class="periodo">

    <mat-label>Periodo</mat-label>
    <select matNativeControl [(ngModel)]="periodo">
        <option *ngFor="let option of periodo;let i = index;" [ngValue]="i">
            {{option }}</option>
        <option [ngValue]="null">Todos los periodos </option>
    </select>

    <br>
</mat-form-field>


<div class="container">
    <div class="row">
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Atenciones de Desarrollo Humano por Facultad</h5>
            <ngx-verticalBar></ngx-verticalBar>
           
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Atenciones de Desarrollo Humano por tipo de Servicio</h5>
            <ngx-horizontalBar></ngx-horizontalBar>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Porcentaje de Uso de los Servicios</h5>
             <ngx-pie></ngx-pie>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="card bg-light mb-4">
          <div class="card-body">
            <h5 class="card-title">Atenciones Desarrollo Huamano por Periodo y Tipo De Servicio</h5>
            <canvas id="chart4" class="chart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>





















    

   





</div>