<nb-card>
    <nb-card-body>
        <div class="d-flex justify-content-center">
            <mat-horizontal-stepper #stepper [linear]="linearMode" id="stepper" (selectionChange)="onStepChange($event)">
                <mat-step label="{{'GLOBAL.detalle' | translate }}" [stepControl]="detalleValidationForm">
                    <ngx-dinamicform [normalform]="formDetalle" [modeloData]="detalleMovimiento"
                        (result)="detalleValidator($event)" [clean]="clean" >
                    </ngx-dinamicform>
                </mat-step>
                <mat-step label="{{'GLOBAL.seleccionar_modificacion' | translate }}" >
                        <nb-card>
                            <nb-card-body class="global-container">
                                <div class="basic-op-item">
                                    <nb-radio-group  [(ngModel)]="option">
                                        <nb-radio [status]="warning"
                                        *ngFor="let option of options"
                                        [value]="option">
                                        {{ option.label }}
                                    </nb-radio>
                                </nb-radio-group>
                                <nb-alert accent="warning" *ngIf="option.value !=='' ">Has seleccionado: {{ option.label }}</nb-alert>
                                </div>
                            <button
                            *ngIf="option.value !=='' "
                            class="btn btn-success btn-sm next-button-item"
                            (click)="nextStep()"
                          >
                            {{ "GLOBAL.siguiente" | translate }}
                          </button>
                        </nb-card-body>
                        </nb-card>
                    </mat-step>
                <mat-step *ngIf="option.value =='apropiacion' " label="{{'APROPIACION.apropiaciones' | translate }}" [stepControl]="setModValidationForm">
                    
                    <ngx-set-modificacion-apropiacion  (setStepValidationEvent)="setSteppValidator($event)">
                    </ngx-set-modificacion-apropiacion>
                </mat-step>
                <mat-step *ngIf="option.value =='fuente' " label="{{'GLOBAL.fuentes' | translate }}" [stepControl]="setModValidationForm">
                            <ngx-set-modificacion-fuente (setStepValidationEvent)="setSteppValidator($event)">
                            </ngx-set-modificacion-fuente>
                </mat-step>
                <mat-step label="{{'GLOBAL.guardar' | translate }}">
                       <ngx-show-modification-resume [(optionMod)]="option" (saved)="onSaved($event)" [(modificationData)]="modifiactionFinalData">

                       </ngx-show-modification-resume>
                    </mat-step>
            </mat-horizontal-stepper>
            
        </div>
    </nb-card-body>
</nb-card>