<nb-card>
    <nb-card-body>
        <div class="d-flex justify-content-center">
            <mat-horizontal-stepper #stepper [linear]="linearMode" id="stepper" (selectionChange)="onStepChange($event)">
                <mat-step label="{{'GLOBAL.detalle' | translate }}" [completed]="isDetalleCompleted">
                    <ngx-dinamicform [normalform]="formDetalle" [modeloData]="detalleMovimiento"
                        (result)="detalleValidator($event, stepper)" [clean]="clean">
                    </ngx-dinamicform>
                </mat-step>
                <mat-step label="{{'APROPIACION.apropiaciones' | translate }}" [completed]="step2Completed">
                    sdd
                </mat-step>
                <mat-step label="{{'GLOBAL.enviar' | translate }}" [completed]="step2Completed">
                        sdd
                    </mat-step>
            </mat-horizontal-stepper>
            
        </div>
    </nb-card-body>
</nb-card>