<form class="row" (ngSubmit) ="imprimir()">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <P><b>Proyecto :</b></P>
   
           
         <mat-form-field appearance="outline" class="select-group" class="col-md-12">
           <mat-label>Nombre</mat-label>
           <input matInput placeholder="john doe"required name="nombrep1"  [(ngModel)]="revisores.persona1.nombre" type="text" />
           <mat-hint>Su nombre</mat-hint>
           <mat-error >
               Campo
               obligatorio</mat-error>
         </mat-form-field>
   
       <mat-form-field appearance="outline" class="select-group" class="col-md-12">
           <mat-label>Programa</mat-label>
           <input matInput placeholder="Psicologa" name="programap1" required [(ngModel)]="revisores.persona1.programa"  type="text" />
           <mat-hint>Programa</mat-hint>
           <mat-error >
               Campo
               obligatorio</mat-error>
       </mat-form-field>
       <button type="button" mat-raised-button (click)="fileInput.click()">Subir Firma</button>
       <input hidden  #fileInput  id="file" type="file" name="firmap1"  (change)="onFileSelected($event, 'persona1')" >
       <div *ngIf="revisores.persona1.firma">
           <img width="100px"   [src]="revisores.persona1.firma" alt ="firma 1">
       </div>
       <!-- <input  (change)="onFileSelected($event)"   type="file">
       <div *ngIf="imagenPrevia">
           <img width="100px"   [src]="imagenPrevia" alt ="firma 1">
       </div> -->
   </div>
   
   <div class="col-xs-12 col-md-6 col-lg-4">
       <P><b>Reviso y Aprobó :</b></P>
       <mat-form-field appearance="outline" class="select-group" class="col-md-12">
           <mat-label>Nombre</mat-label>
           <input matInput placeholder="john doe" required  name="nombrep2" [(ngModel)]="revisores.persona2.nombre"  type="text" />
           <mat-hint>Su nombre</mat-hint>
           <mat-error >
               Campo
               obligatorio</mat-error>
       </mat-form-field>
   
       <mat-form-field appearance="outline" class="select-group" class="col-md-12">
           <mat-label>Programa</mat-label>
           <input matInput placeholder="Director centro de Bienestar" required  name="programap2" [(ngModel)]="revisores.persona2.programa"  type="text" />
           <mat-hint>Programa</mat-hint>
           <mat-error >
               Campo
               obligatorio</mat-error>
       </mat-form-field>
   
       <button type="button" mat-raised-button (click)="fileInput2.click()">Subir Firma</button>
       <input hidden  #fileInput2  id="file" type="file"  name="firmap2" accept="image/*" (change)="onFileSelected($event, 'persona2')" >
       <div *ngIf="revisores.persona2.firma">
           <img width="100px"   [src]="revisores.persona2.firma" alt ="firma 2">
       </div>
   
   </div>
   <button type="submit" mat-raised-button>Guardar</button>

</form>
