<div class=" container-fluid bg-white mh-100 mw-100 ">
    <h1 p-2>Generar Paz y Salvo del estudiante :  <em> lolita paola</em> </h1> 
    <br>
    <hr>
    <!-- card para  generar  datos del estudiante  la cual se puede generar en un compoente aparte-->
    <div class="row">
        <div class="col-12">
            <div  class="card card-content  p-3 mx-auto">
                <div  class="card-body">
                    <h1 class="card-title text-primary">Datos del Estudiante</h1>
                    <div class="card-body ">
                        <br>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Nombre :</b></P>
                                <label >Andres sanana</label>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Apellido :</b></P>
                                <label>pepito perez</label>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Codigo :</b></P>
                                <label>2121216546</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Proyecto :</b></P>
                                <label >Ingenieria social</label>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Numero :</b></P>
                                <label>5555555555</label>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>correo :</b></P>
                                <label>preubea@corre.udistrital.edu.co</label>
                            </div>
                        </div>
    
                    </div> 
                </div>
            </div>
        </div>

    </div>

    <!--  card para  generar  datos de solicitud la cual se puede generar en un compoente aparte-->
    <div class="row mt-3">
        <div class="col-12">
            <div  class="card card-content p-3 mx-auto">
                <div  class="card-body  ">
                    <h1 class="card-title ">Datos de la  Solicitud</h1>
                    <div class="card-body ">
                        <br>
                        <div class="row">
    
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Tipo de Soliciutd :</b></P>
                                <label >Cancelacion</label>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Motivo :</b></P>
                                <label>Socioeconomico</label>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <P><b>Causa Principal :</b></P>
                                <label>Economica</label>
                            </div>
    
                        </div>
                        <div class="row">
    
                          <div class="col-xs-12 col-md-6 col-lg-4">
                            <P><b>Otras Causas :</b></P>
                            <label >No aplica</label>
                          </div>
                          <div class="col-xs-12 col-md-6 col-lg-4">
                              <P><b>Dirigida a :</b></P>
                              <label >Quien interese</label>
                          </div>
      
                        </div>
                        <div class="row mt-4 justify-content-center">
                            <div class="col-xs-12 col-md-12 col-lg-8">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                            <th>Programa</th>
                                            <th>si</th>
                                            <th>No</th>
                                            <th>No Aplica</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                            <th>Apoyo Alimentario</th>
                                            <td>
                                                <label class="form-check-custom success">
                                                <input type="radio" name="radio-21" >
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom danger">
                                                <input type="radio" name="radio-21"  >
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom warning">
                                                    <input type="radio" name="radio-21" >
                                                    <span></span>
                                                    </label>
                                            </td>
                                            </tr>
                                            <tr>
                                            <th>Convocatoria Equipos y Conectividad</th>
                                            <td>
                                                <label class="form-check-custom success">
                                                <input type="radio" name="radio-22" >
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom danger">
                                                <input type="radio" name="radio-22"  >
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom warning">
                                                    <input type="radio" name="radio-22" >
                                                    <span></span>
                                                    </label>
                                            </td>
                                            </tr>
                                            <tr>
                                            <th>Deportes</th>
                                            <td>
                                                <label class="form-check-custom success">
                                                <input type="radio" name="radio-23">
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom danger">
                                                <input type="radio" name="radio-23" >
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom warning">
                                                    <input type="radio" name="radio-23" >
                                                    <span></span>
                                                    </label>
                                            </td>
                                            </tr>
                                            <tr>
                                            <th>Otros</th>
                                            <td>
                                                <label class="form-check-custom success">
                                                <input type="radio" name="radio-24" >
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom danger">
                                                <input type="radio" name="radio-24">
                                                <span></span>
                                                </label>
                                            </td>
                                            <td>
                                                <label class="form-check-custom warning">
                                                    <input type="radio" name="radio-24" >
                                                    <span></span>
                                                    </label>
                                            </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
    
                        </div>
    
                    </div> 
                </div>
            </div>


        </div>
    </div>

    
      
</div>

 


