<div *ngIf="!cambiotab" class="col-md-12 col-lg-12 ">
    <nb-card>
        <nb-card-header>
            <legend>{{ 'CDP.lista_cdp' | translate }}</legend>
        </nb-card-header>
        <nb-card-body>

            <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>
<ngx-ver-solicitud-cdp *ngIf="cambiotab && !modPresupuestal" [solicitudcdp]="cdp"  expedido="true" (eventChange)="cambiotab=$event"></ngx-ver-solicitud-cdp>
<ngx-show-modificacion-apropiacion [vigencia]="cdp.Vigencia" [modificationData]="cdp" (eventChange)="cambiotab=$event" *ngIf="cambiotab && modPresupuestal"></ngx-show-modificacion-apropiacion>
