.moneyField {
    text-align: right;
}

.mod-registration-input-item{
    flex-basis: 80%;
}

.spacingAddIngreso {
    padding-bottom: 3%;
    text-align: right;
}

:host /deep/ .customformat{ text-align: right; } 