<div class="home-div">

    <mat-card class="home-card center">
        <mat-card-header>
            <h3> Modulos SIBUD</h3>
        </mat-card-header>
        <mat-card-content class="center">
            <button mat-raised-button color="primary" (click)="navigateReliquidacion()">Reliquidación</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateApoyoAlimentario()">Apoyo Alimentario</button><br> <br>
            <button mat-raised-button color="primary" (click)="navigateSalud()">Salud</button><br> <br>
        </mat-card-content>
    </mat-card>
</div>