.mat-raised-button {
    margin-right: 1vw;
    background: #4285F4;
    color: white;
    font-size: 15px;
    height: auto;
    width: 225px;
}

.home-card {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-block: auto;
}

.center {
    width: 85%;
    margin: 15px auto;
    margin-left: auto;
    margin-inline-start: 300px auto;
}

.home-div {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}