<div class="row">
    <div class="col-xxxl-3 col-md-6">
        <nb-card>
            <nb-card-header class="header">Módulo apoyo alimentario</nb-card-header>

            <nb-card-body class="body">
                <p>Este módulo fue desarrollado como una pasantía en ingeniería de sistemas, con la intención de poder
                    sistematizar el servicio de apoyo alimentario, para así hacerlo más amigable para los coordinadores
                    y estudiantes.
                    <br> Los estudiantes podrán crear una inscripción al servicio logrando observar todos los cambios de
                    esta en el transcurso del proceso.
                    <br> Los coordinadores podrán evaluar inscripciones, registrar la entrega del servicio, registrar
                    las fallas, etc. Todo esto integrado a la infraestructura de la universidad distrital.
                </p>

            </nb-card-body>
            <nb-card-footer>
                <b>Desarrollado por:</b>
                <p>David Alejandro Romero Romero<br> Sergio Alejandro Gomez Lara</p>
            </nb-card-footer>

        </nb-card>

    </div>
    <div class="col-xxxl-3 col-md-6">
        <nb-card>
            <nb-card-header class="header">Módulo salud</nb-card-header>

            <nb-card-body class="body">
                <p>Este módulo fue desarrollado como una pasantia en ingenieria de sistemas, con la
                    intención de sistematizar el manejo de historias clínicas y el agendamiento de citas médicas.
                    <br>
                    Los estudiantes podrán solicitar una cita médica para la especialidad deseada y observar la lista de las mismas.
                    <br>
                    Los especialistas podrán tener acceso a las historias clínicas de los pacientes, así como, dependiendo del rol que tengan, modificarlas.
                </p>

            </nb-card-body>
            <nb-card-footer>
                <b>Desarrollado por:</b>
                <p>Bryan Alejandro Luis Torres<br>
                    Diego David Romero Quiroga</p>
            </nb-card-footer>

        </nb-card>

    </div>
</div>