<div class="row">
    <div class="col-xxxl-3 col-md-6">
        <nb-card>
            <nb-card-header class="header">Modulo apoyo alimentario</nb-card-header>

            <nb-card-body class="body">
                <p>Este modulo fue desarrollado como una pasantia en ingenieria de sistemas, con la
                    intension de poder sistematizar el servicio de apoyo alimentario, para si hacerlo
                    mas amigable para los coordinadores y estudiante.
                    <br>
                    Los estudiantes podran crear una inscripcion al servicio y poder ver todos los cambios de esta.
                    <br>
                    Los coordinadores podran evaluar inscripciones, registrar la entrega del servicio, registrar falla,
                    todos esto integrado a la infraestructura de la universidad distrital.
                </p>

            </nb-card-body>
            <nb-card-footer>
                <b>Desarrollado por:</b>
                <p>David Alejandro Romero Romero<br>
                    Sergio Alejandro Gomez Lara</p>
            </nb-card-footer>

        </nb-card>

    </div>
    <!-- <div class="col-xxxl-3 col-md-6">
        <nb-card>
            <nb-card-header class="header">Modulo apoyo alimentario</nb-card-header>

            <nb-card-body class="body">
                <p>Este modulo fue desarrollado como una pasantia en ingenieria de sistemas, con la
                    intension de poder sistematizar el servicio de apoyo alimentario, para si hacerlo
                    mas amigable para los coordinadores y estudiante.
                    <br>
                    Los estudiantes podran crear una inscripcion al servicio y poder ver todos los cambios de esta.
                    <br>
                    Los coordinadores podran evaluar inscripciones, registrar la entrega del servicio, registrar falla,
                    todos esto integrado a la infraestructura de la universidad distrital.
                </p>

            </nb-card-body>
            <nb-card-footer>
                <b>Desarrollado por:</b>
                <p>David Alejandro Romero Romero<br>
                    Sergio Alejandro Gomez Lara</p>
            </nb-card-footer>

        </nb-card>

    </div> -->
</div>