<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-body>
        <form class="form-inline">
            <div class="col-sm-6"> <button class="btn btn-success btn-block" [routerLink]="['/pages/reliquidacion/descuento-electoral']">Descuento electoral</button> </div>
            <div class="col-sm-6"> <button class="btn btn-success btn-block" [routerLink]="['/pages/reliquidacion/reliquidacion-matricula']">Reliquidación matricula</button> </div>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Datos del estudiante</nb-card-header>
      <nb-card-body>
        <form>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Código </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.codigo}} </p>
              </label>
            </div>
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Nombre </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.nombre}} </p>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Documento de identidad </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.documentoIdentidad}} </p>
              </label>
            </div>
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Edad </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.edad}} </p>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Dirección </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.direccion}} </p>
              </label>
            </div>
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Teléfono </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.telefono}} </p>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Estado civil </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.estadoCivil}} </p>
              </label>
            </div>
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Tiene personas a cargo </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.personasCargo}} </p>
              </label>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Facultad </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.facultad}} </p>
              </label>
            </div>
            <div class="col-sm-3">
              <label class="label col-sm-12 col-form-label"> Proyecto </label>
            </div>
            <div class="col-sm-3">
              <label>
                <p> {{estudiante.proyecto}} </p>
              </label>
            </div>
          </div>


        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>