<div  class="col-md-12 col-lg-12">
    <nb-card status="warning">
        <nb-card-header>
           {{ 'VIGENCIA.list_vigencia' | translate }}
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>
<!-- <button *ngIf="anularTab || cambiotab " (click)="returnToList()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
    Regresar</button>
<ngx-show-vigencia *ngIf="cambiotab" [modificationData] ="vigencia" (eventChange)="cambiotab=$event"></ngx-show-vigencia> -->
