<nb-card>
    <nb-card-body *ngIf="modificationData['detail']" class="mod-registration-container">
            <legend align="center">
                    <small>Resumen de la modificación</small>
                  </legend>
                  <br>
        <div class="mod-registration-container">
            <mat-form-field class="mod-registration-input-item" class="mod-registration-input-item">
                <input matInput placeholder="{{'GLOBAL.numero_documento' | translate }}"
                    value="{{modificationData['detail']['NumeroDocumento']}}" disabled="true">
            </mat-form-field>
            <mat-form-field class="mod-registration-input-item">
                <input matInput placeholder="{{'GLOBAL.tipo_documento' | translate }}"
                    value="{{modificationData['detail']['TipoDocumento']['Nombre'] }}"
                    disabled="true">
            </mat-form-field>
            <mat-form-field class="mod-registration-input-item">
                <input matInput placeholder="{{'GLOBAL.fecha_documento' | translate }}"
                    value="{{modificationData['detail']['FechaDocumento'] | date}}" disabled="true">
            </mat-form-field>
            <mat-form-field class="mod-registration-input-item">
                    <input matInput placeholder="{{'GLOBAL.organismo_emisor' | translate }}"
                        value="{{modificationData['detail']['OrganismoEmisor']}}" disabled="true">
                </mat-form-field>
            <mat-form-field class="mod-registration-input-item">
                <input matInput placeholder="{{'GLOBAL.descripcion' | translate }}"
                    value="{{modificationData['detail']['Descripcion']}}" disabled="true">
            </mat-form-field>
            <ngx-show-modification-afectation *ngIf="optionMod.value =='apropiacion' " class="mod-registration-input-item" [readonly]="readonly"
                [(afectationData)]="modificationData['afectation']"></ngx-show-modification-afectation>
            <ngx-show-modification-fuente *ngIf="optionMod.value =='fuente' " class="mod-registration-input-item" [readonly]="readonly"
                [(afectationData)]="modificationData['afectation']"></ngx-show-modification-fuente>
        </div>
        <button class="btn btn-success btn-sm botton-item" (click)="saveModification()">{{'GLOBAL.guardar' | translate }}</button>

    </nb-card-body>
</nb-card>