<nb-card>
    <div class="container">
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Consultar Informe por Fecha
                </h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="form-group input-group">
                    <div class="label-color-ud input-group-prepend input-group-text">
                        <i class="fa fa-calendar-day " aria-hidden="true"></i>
                        <span class="label-color-ud ml-2" id="inputGroup-sizing-default">Fecha</span>
                    </div>
                    <input type="date" placeholder="Fecha de Informe" name="fechaDia" class="form-control" required #fechaDia>
                </div>
                <hr>
                <div class="form-group">
                    <button nbButton fullWidth hero shape="semi-round" status="warning" (click)="navigateInformeDiario(fechaDia.value)" class="submit-button">
                    <!-- <button mat-raised-button color="primary" (click)="consultar()"> -->
                        <i class="fas fa-search mr-1"></i>
                        Consultar
                    </button>
                </div>
            </div>
        </div>
    </div>
</nb-card>