<nb-card>
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="text-center pt-2">
                <div class="menu-header">
                    <h1>
                        Listado de Periodos
                    </h1>
                    <button class="btn back-button" routerLink="../../">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Regresar
                    </button>
                </div>
            </div>
        </div>
    </nb-card-header>
    <hr>
    <nb-card-body>
        <table *ngIf="periodos.length>0" class="table mt-3">
            <thead class="bg-ud-table">
                <tr>
                    <th scope="col">Periodo</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody class="bg-ud-table-cell">
                <tr *ngFor="let item of periodos; let i = index">

                    <td>
                        {{ item.Nombre }} &nbsp; &nbsp;
                        <span *ngIf="item.Activo" class="badge rounded-pill bg-success">Activo</span>
                        <span *ngIf="!item.Activo" class="badge rounded-pill bg-danger">Inactivo</span>
                    </td>
                    <td>
                        <button *ngIf="mostrarIniciarInscripcion(i)" class="btn init-icon " (click)="iniciarParametro(i,'inscripciones')" title="Iniciar inscripciones">
                                <i class="fa fa-play " aria-hidden="true"></i>
                                Iniciar inscripciones
                            </button>
                        <button *ngIf="mostrarDetenerInscripcion(i)" class="btn delete-icon " (click)="detenerParametro(i,'inscripciones')" title="Detener inscripciones">
                                <i class="fa fa-stop " aria-hidden="true"></i>
                                Detener inscripciones
                            </button>
                        <button *ngIf="mostrarReactivarInscripcion(i)" class="btn student-icon" (click)="reactivarParametro(i,'inscripciones')" title="Reactivar periodo">
                                <i class="fa fa-redo-alt fa-lg " aria-hidden="true"></i>
                                Reactivar inscripciones
                            </button>
                        <button *ngIf="mostrarIniciarServicio(i)" class="btn init-icon" (click)="iniciarParametro(i,'servicio')" title="Iniciar servicio">
                                <i class="fa fa-play " aria-hidden="true"></i>
                                Iniciar servicio
                            </button>
                        <button *ngIf="mostrarDetenerServicio(i)" class="btn delete-icon" (click)="detenerParametro(i,'servicio')" title="Detener servicio">
                                <i class="fa fa-stop " aria-hidden="true"></i>
                                Detener servicio
                            </button>
                        <button *ngIf="mostrarReactivarServicio(i)" class="btn student-icon" (click)="reactivarParametro(i,'servicio')" title="Reactivar servicio">
                                <i class="fa fa-redo-alt fa-lg " aria-hidden="true"></i>
                                Reactivar servicio
                            </button>
                        <button *ngIf="mostrarFinalizarPeriodo(i)" class="btn delete-icon" (click)="iniciarParametro(i, 'cierre')" title="Cerrar periodo">
                                <i class="fa fa-times-circle fa-lg" aria-hidden="true"></i>
                                Cerrar periodo
                            </button>
                        <p *ngIf="periodoCerrado(i)">
                            Periodo cerrado
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="periodos.length==0" class="alert alert-warning text-center mt-3">
            <h3 class="alert-heading">No hay registros</h3>
            <p>
                <i class="fa fa-exclamation fa-2x    "></i>
            </p>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</nb-card>
<!-- {{ parametros | json }} -->

<!-- <button *ngIf="periodo.estado==='inscripciones'" class="btn init-icon " (click)="iniciarPeriodo(periodo, i)" title="Iniciar periodo">
    <i class="fa fa-play " aria-hidden="true"></i>
    </button>
    <button *ngIf="periodo.estado==='activo'" class="btn label-color-ud" style="background-color:transparent" (click)="pausarPeriodo(periodo, i)" title="Pausar periodo">
                            <i class="fa fa-toggle-on fa-2x " aria-hidden="true"></i>
                        </button>
    <button *ngIf="periodo.estado==='inactivo'" class="btn label-color-ud" style="background-color:transparent" (click)="iniciarPeriodo(periodo, i)" title="Reactivar periodo">
                            <i class="fa fa-toggle-off fa-2x " aria-hidden="true"></i>
                        </button> -->

<!-- <button nbButton shape="semi-round" status="warning" class="edit-icon">
                            <i class="fas fa-store-alt-slash"></i>
                            drumstick-bite
                        </button> -->




<!-- 


<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h3 class="alert-heading">Cargando</h3>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x    "></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div *ngIf="bntNuevo" class="row">
    <div class="col text-right">
        <button class="btn btn-warning btn-block" routerLink="/periodo/nuevo">
            <i class="fa fa-plus"></i>
            Agregar periodo
        </button>
    </div>
</div> -->