<nb-card>
    <div class="container">
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Listado de Periodos
                </h1>
                <button class="btn back-button ml-5 mr-n5" routerLink="/fechas">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>
            </div>
        </div>

        <hr>

        <table *ngIf="periodos.length>0" class="table mt-3">
            <thead class="bg-ud-table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Periodo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody class="bg-ud-table-cell">
                <tr *ngFor="let item of periodos; let i = index">
                    <th scope="row">{{ i +1 }}</th>
                    <td>{{ item.Nombre }}</td>
                    <td>
                        <p *ngIf="item.Activo">Activo</p>
                        <p *ngIf="!item.Activo">Inactivo</p>
                    </td>
                    <td>
                        <button *ngIf="item.Activo" class="btn init-icon " (click)="iniciarInscripciones(item, i)" title="Iniciar inscripciones">
                            <i class="fa fa-play " aria-hidden="true"></i>
                        </button>


                    </td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="periodos.length==0" class="alert alert-warning text-center mt-3">
            <h3 class="alert-heading">No hay registros</h3>
            <p>
                <i class="fa fa-exclamation fa-2x    "></i>
            </p>
        </div>





    </div>
</nb-card>



<!-- <button *ngIf="periodo.estado==='inscripciones'" class="btn init-icon " (click)="iniciarPeriodo(periodo, i)" title="Iniciar periodo">
                            <i class="fa fa-play " aria-hidden="true"></i>
                        </button>
                        <button *ngIf="periodo.estado==='activo'" class="btn label-color-ud" style="background-color:transparent" (click)="pausarPeriodo(periodo, i)" title="Pausar periodo">
                            <i class="fa fa-toggle-on fa-2x " aria-hidden="true"></i>
                        </button>
                        <button *ngIf="periodo.estado==='inactivo'" class="btn label-color-ud" style="background-color:transparent" (click)="iniciarPeriodo(periodo, i)" title="Reactivar periodo">
                            <i class="fa fa-toggle-off fa-2x " aria-hidden="true"></i>
                        </button> -->

<!-- <button nbButton shape="semi-round" status="warning" class="edit-icon">
                            <i class="fas fa-store-alt-slash"></i>
                        </button> -->


<!-- 


<div *ngIf="cargando" class="alert alert-info text-center mt-3">
    <h3 class="alert-heading">Cargando</h3>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x    "></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>

<div *ngIf="bntNuevo" class="row">
    <div class="col text-right">
        <button class="btn btn-warning btn-block" routerLink="/periodo/nuevo">
            <i class="fa fa-plus"></i>
            Agregar periodo
        </button>
    </div>
</div> -->