<div>access_token:{{access_token}}</div>
<div>{{textStudents}}</div>
<div class="container container--list">
    <h2>Lista de solicitudes de reliquidación</h2>
    <button (click)="consultarEstudiantes()" type="button">Consultar</button>
    <br />
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Nombre</th>
          <th scope="col">Estado del estudiante</th>
          <th scope="col">Facultad</th>
          <th scope="col">Carrera</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let estudiante of estudiantes">
        <tr>
          <th scope="row">{{estudiante.codigo_estudiante}}</th>
          <td>{{estudiante.nombre | uppercase}}</td>
          <td>{{estudiante.estado | uppercase}}</td>
          <td>{{estudiante.facultad}}</td>
          <td>{{estudiante.proyecto}}</td>
          <td>
            <button (click)="verSolicitud(estudiante)" type="button">Ver solicitud</button>
          </td>
        </tr>
      </tbody>
    </table>
</div>