<nb-card>
        <nb-card-body class="cards-container">
            <div *ngFor="let afectationItem of afectationData" class="cards-items">
    
                <div class="card">
                    <div class="header-container card-header bg-warning text-white">
                        <b class="card-title">{{'GLOBAL.tipo' | translate }} : {{afectationItem.Tipo.Nombre}}</b>
                        <button *ngIf="!readonly" class="btn btn-danger"
                                (click)="removeAprData(afectationItem)">X</button>
                    </div>
                    <div *ngIf="afectationItem.MovimientoOrigen" class="card-body">
                        <b>{{'MODIF.fuente_origen' | translate }}</b> : {{afectationItem.MovimientoOrigen.Codigo}} / {{afectationItem.MovimientoOrigen.Nombre}}
                            <br>                       
                            <b>{{'GLOBAL.valor' | translate }} </b> :<span class="moneyField"> {{afectationItem.Valor | currency:'COP':'symbol':'4.2-2':'co' }}
                            </span>
                            <br>                         
                    </div>
                    <div *ngIf="afectationItem.CuentaCredito" class="card-body">
                        <b>{{'MODIF.cuenta_credito' | translate }}</b> : {{afectationItem.CuentaCredito.Codigo}} / {{afectationItem.CuentaCredito.Nombre}}
                            <br>
                            <b>{{'GLOBAL.valor' | translate }} </b> :<span class="moneyField"> {{afectationItem.Valor | currency:'COP':'symbol':'4.2-2':'co' }}
                            </span>
                            <br>                         
                    </div>
                </div>
            </div>
        </nb-card-body>
    </nb-card>