
<div class="card text-center">
    <span class="h3">Cargar evidencias</span>
</div>
<div class="container pt-4">        
    <div class="card text-center">
        <div class="card-body">
            <form [formGroup]="cargarEvidencias">

             <div>
                <input type="file" (change)="capturarFile($event)">
             </div> 
             <div *ngIf="previsualizacion">
                <img [src]="previsualizacion" alt="">
                
             </div> 
                      
             <button class="card-button" type="button" (click)="cargarEvidencia()" mat-raised-button>
                Editar
            </button>  

            </form>
        </div>
    </div>
        
    

</div>

