<nb-card>
    <nb-card-header>
        Solicitud de reliquidación para: {{'Nicolas Riveros'}}<br><br>
        <div class="row">
            <div class="col-md-6"><b>Nombres y apellidos:</b> {{estudiante?.FamilyName}}</div>
            <div class="col-md-6"><b>Documento:</b> {{estudiante?.documento_compuesto}}</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b>Código:</b> {{estudiante?.Codigo}}</div>
            <div class="col-md-6"><b>Fecha de nacimiento:</b> {{'20 enero 1994'}}</div>
        </div>

        <div class="row">
            <div class="col-md-6"><b>Proyecto:</b> {{'Sistemas'}}</div>
            <div class="col-md-6"><b>Facultad:</b> {{'Tecnológica'}}</div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item expanded>
                <nb-accordion-item-header>Información básica</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <p>En el siguiente apartado, se deben llenar los datos relacionados con el lugar de residencia.</p>

                    <form [formGroup]="residencia">
                        <div class="row item-list">
                            <div class="col-md-4">Localidad:</div>
                            <div class="col-md-8">
                                <nb-select fullWidth>
                                    <nb-option *ngFor="let localidad of localidades" [value]="localidad">
                                        {{localidad}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Municipio:</div>
                            <div class="col-md-8">
                                <nb-select fullWidth>
                                    <nb-option *ngFor="let municipio of municipios" [value]="municipio">
                                        {{municipio}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <div class="row item-list" *ngIf="residencia.get('municipio').value === 'Otros'">
                            <div class="col-md-4">¿Cuál?:</div>
                            <div class="col-md-8">
                                <input fullWidth nbInput placeholder="Otro municipio">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Dirección:</div>
                            <div class="col-md-8">
                                <input nbInput fullWidth formControlName="direccion">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Barrio:</div>
                            <div class="col-md-8">
                                <input nbInput fullWidth formControlName="barrio">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Correo electrónico:</div>
                            <div class="col-md-8">
                                <input nbInput fullWidth formControlName="email">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Teléfono o Celular:</div>
                            <div class="col-md-8">
                                <input nbInput fullWidth formControlName="telefono">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">¿Tiene Sisben?:</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="SI">SI</nb-radio>
                                    <nb-radio value="NO">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Información socioeconómica</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="socioeconomica">
                        <div class="row item-list">
                            <div class="col-md-4">Estado civil:</div>
                            <div class="col-md-8">
                                <nb-select formControlName="estadocivil">
                                    <nb-option *ngFor="let estadocivi of estado_civil" [value]="estadocivi">
                                        {{estadocivi}}
                                    </nb-option>
                                </nb-select>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Estrato:</div>
                            <div class="col-md-8">
                                <input nbInput type="number" formControlName="estrato">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Dependencia económica</label>
                                <nb-radio-group>
                                    <nb-radio value="sMadre">Padre</nb-radio>
                                    <nb-radio value="Padre">Madre</nb-radio>
                                    <nb-radio value="Familiar">Familiar</nb-radio>
                                    <nb-radio value="El mismo">El mismo</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <input nbInput placeholder="Ingresos mensuales" type="number"
                                       formControlName="ing_mesual">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <textarea rows="4" nbInput placeholder="Discapacidad" maxlength="500"
                                          formControlName="descDis"></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Información escolar</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="colegio">
                        <div class="row item-list">
                            <div class="col-md-4">Tipo de colegio:</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="Publico">Publico</nb-radio>
                                    <nb-radio value="Privado">Privado</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Pensión:</div>
                            <div class="col-md-8">
                                <input nbInput fullWidth type="number" formControlName="pension">
                            </div>
                        </div>

                        <div>
                            <p>Certificado del valor cancelado por pensión del último año de bachillerato aclarando el
                                valor mensual, si el (la) estudiante fue becado debe especificarlo en la
                                certificación.</p>
                            <ul>
                                <li>Egresado de Colegio Privado: Anexar Certificación del colegio donde se determine el
                                    valor cancelado en el último año de Bachillerato.
                                </li>
                                <li>Egresado de Colegio público: Anexar acta y diploma de grado.</li>
                            </ul>
                            <p><b>Nota: No anexar recibos de pago ni notas adicionales.</b></p>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Adjuntar:</div>
                            <div class="col-md-8">
                                <input nbInput fullWidth type="file">
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button nbButton>Continuar</button>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Información residencial</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="vivienda">
                        <div class="flex-container">
                            <label>VIVIENDA DEL ESTUDIANTE Y SU FAMILIA</label>
                        </div>

                        <div class="flex-container">
                            <div class="opciones">
                                <nb-radio-group>
                                    <label>LUGAR DE RESIDENCIA DEL ESTUDIANTE</label>
                                    <nb-radio value="Publico">Propio</nb-radio>
                                    <nb-radio value="Privado">Arriendo</nb-radio>
                                    <nb-radio value="Privado">Familiar</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="opciones">
                                <nb-radio-group>
                                    <label>CON QUIEN VIVE</label>
                                    <nb-radio value="Publico">Familia</nb-radio>
                                    <nb-radio value="Privado">Solo</nb-radio>
                                    <nb-radio value="Privado">Amigos</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="flex-container">
                            <div class="opciones">
                                <nb-radio-group>
                                    <mat-label>LUGAR DE RESIDENCIA FAMILIA</mat-label>
                                    <br>
                                    <nb-radio value="Publico">Propio</nb-radio>
                                    <nb-radio value="Privado">Arrendado</nb-radio>
                                    <nb-radio value="Privado">Hipotecado</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="flex-container">
                            <label>Adjuntar el soporte arriendo</label>
                            <input nbInput type="file">
                        </div>

                        <div class="flex-container">
                            <label>Adjuntar el soporte de hipoteca</label>
                            <input nbInput type="file">
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Situaciones de caso fortuito</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="futurofort">
                        <div class="row item-list">
                            <div class="col-md-4">¿Responsable de la matricula desempleado?:</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">¿El estudiante es desplazado político?:</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">¿Falleció responsable de la matricula?:</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">¿El estudiante es madre o padre cabeza de familia?:</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">¿El estudiante cambio de estrato después de su ingreso en la
                                Universidad?:
                            </div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button nbButton>Continuar</button>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Formulario Reliquidacion</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="documentos">
                        <div class="row item-list">
                            <div class="col-md-4">FORMULARIO RELIQUIDACIÓN</div>
                            <div class="col-md-8">
                                <label>Formulario de Reliquidación Matrícula completamente diligenciado, firmado y
                                    escaneado.
                                </label>
                                <input nbInput type="file">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">CARTA DE SOLICITUD A BIENESTAR</div>
                            <div class="col-md-8">
                                <label>Carta Dirigida al Director del Centro de Bienestar Institucional TITO ERNESTO
                                    GUTIERREZ DAZA
                                    Explicando los
                                    motivos por los cuales solicita la Reliquidación (elaborada y firmada por el (la)
                                    estudiante).
                                </label>
                                <input nbInput type="file">
                            </div>
                        </div>


                        <div class="row item-list">
                            <div class="col-md-4">CERTIFICADO ESTRATIFICACIÓN</div>
                            <div class="col-md-8">
                                <label>Certificado de estratificación del lugar de residencia del estudiante -
                                    Estudiantes
                                    que
                                    residen en Bogotá expedido por Catastro o Supercade
                                    (no superior a 1 año) - Para estudiantes que residen fuera de Bogotá anexar
                                    Certificado
                                    de
                                    estratificación por las Alcaldías Municipales (no superior a 1 año).
                                </label>
                                <input nbInput type="file">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">RECIBO PÚBLICO</div>
                            <div class="col-md-8">
                                <label>Fotocopia de un recibo de Servicio Público (agua, luz, gas) del lugar de
                                    residencia
                                    del
                                    estudiante donde
                                    se especifique la dirección y estrato, con una vigencia de tres (3) meses.
                                </label>
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Certificado de ingresos</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="doccertificadoingreso">
                        <label>Documento - Certificado de Ingresos</label><br>
                        <label>Continúe adjuntando los documentos

                            Señor estudiante NO se acepta el Formato de certificado de no declarante o certificado
                            de no
                            contribuyente, que adjunto en el momento de ingresar a la universidad.<br>


                            Tenga en cuenta cuál es su caso con el fin de adjuntar el documento correspondiente:<br>

                            • Para Independientes: Si la persona de quién depende económicamente el estudiante es
                            trabajador
                            independiente o el (la) estudiante trabaja como independiente,
                            debe presentar una carta donde especifique la labor que desempeña y los ingresos que
                            recibe
                            mensualmente, debe venir firmada, con número de Cédula, número de teléfono y
                            dirección.<br>

                            • Para Empleados: Si la persona de quien depende el (la) estudiante es empleado o el
                            (la)
                            estudiante es
                            empleado, debe presentar una carta laboral vigente, especificando los ingresos mensuales
                            y
                            la
                            actividad,
                            con número de teléfono y dirección del empleador.<br>

                            • Si presenta Certificado de ingresos y retenciones debe corresponder al año 2018.<br>

                            • Cabeza de familia: Si el (la) estudiante depende únicamente de madre o padre cabeza de
                            familia
                            debe
                            anexar fotocopia del documento de identidad del Padre o Madre del Estudiante y Registro
                            civil de
                            Nacimiento del Estudiante.<br>

                        </label>

                        <div class="row item-list">
                            <div class="col-md-4">CERTIFICADO DE INGRESOS</div>
                            <div class="col-md-8">
                                <label>Certificado de ingresos de la persona de quien depende el (la) estudiante</label>
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Personas a cargo</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="peracargo">
                        <div class="row item-list">
                            <div class="col-md-4">opciones</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <label>Hijos a cargo</label>
                                    <label>Si el (la) estudiante tiene hijos y ellos dependen económicamente de él
                                    </label>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Registro civil</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="registrocivil">
                        <div class="row item-list">
                            <div class="col-md-4">Numero de hijos</div>
                            <div class="col-md-8">
                                <input nbInput type="number" formControlName="numero_hijos">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Edad</div>
                            <div class="col-md-8">
                                <input nbInput type="number" formControlName="edad">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Edad</div>
                            <div class="col-md-8">
                                <input nbInput type="number" formControlName="edad">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Adjuntar el registro civil</div>
                            <div class="col-md-8">
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Desplazado</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="desplazado">
                        <div class="row item-list">
                            <div class="col-md-4">DESPLAZADO</div>
                            <div class="col-md-8">
                                <nb-radio-group>
                                    <label>Indique si el estudiante esta en condición de desplazado</label>
                                    <nb-radio value="si">SI</nb-radio>
                                    <nb-radio value="no">NO</nb-radio>
                                </nb-radio-group>
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">DESPLAZADO</div>
                            <div class="col-md-8">
                                <label>Adjuntar el soporte</label>
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Recibo de pago</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="recibopago">
                        <div class="row item-list">
                            <div class="col-md-4">Valor matricula</div>
                            <div class="col-md-8">
                                <input nbInput type="number"
                                       formControlName="valor_matricula">
                            </div>
                        </div>

                        <div class="row item-list">
                            <div class="col-md-4">Adjuntar el recibo</div>
                            <div class="col-md-8">
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>Otros Documentos</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <form [formGroup]="otrosdoc">
                        <label>Otros Documentos</label>
                        <label>Papeles que soporten la situación que describe en la carta dependiendo el caso
                            (Hipotecas,
                            acta de
                            defunción, demandas),<br>
                            Discapacidad física (si existe) del estudiante o acudiente certificada por la EPS o
                            SISBEN
                            donde
                            se
                            determina el porcentaje de la discapacidad, etc.
                        </label>
                        <div class="row item-list">
                            <div class="col-md-4">Otros documentos</div>
                            <div class="col-md-8">
                                <input nbInput type="file">
                            </div>
                        </div>
                    </form>
                </nb-accordion-item-body>
            </nb-accordion-item>

        </nb-accordion>

        <mat-label>Enviar documentación</mat-label>
        <mat-hint>El envío de documentos solo puede realizarse una vez.<br>

            Si usted diligencia nuevamente este formulario adjuntando los documentos solo se tendrá en cuenta el
            primer
            envío,
            se realizará la validación y dará respuesta únicamente basándose en el primer diligenciamiento.<br>

            Si está seguro(a) de enviar los documentos presione el botón enviar.<br>

            <div class="flex-container">
                <button nbButton (click)="llamardialogo()">ENVIAR</button>
            </div>

        </mat-hint>
    </nb-card-body>
</nb-card>

<ng-template #dialogo>
    <p>¡Sus datos han sido enviados!</p>
</ng-template>
