.item-list {
  align-items: center;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

 nb-accordion {
   box-shadow: none;
   border: 1px solid #efefef;
   margin-bottom: 30px;
 }

 .accordion-item-header-collapsed{
   &--error{
    border-left: 5px solid red;
    background-color: #fff0f0;
   }
 }
