<nb-card>
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Informe de registro por estudiante
                </h1>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body *ngIf="tercero==undefined">
        <div class="row">
            <div class="col">
                <form (ngSubmit)="buscar( f )" #f="ngForm">

                    <div class="form-group input-group">
                        <div class="label-color-ud input-group-prepend input-group-text">
                            <i class="fa fa-file-signature " aria-hidden="true"></i>
                            <span class="label-color-ud ml-1" id="inputGroup-sizing-default">Periodo</span>
                        </div>

                        <select class="form-control custom-select input-text-ud" name="periodo" [(ngModel)]="periodo" [disabled]="periodos.length === 0" [class.is-invalid]="periodo.invalid && periodo.touched" required placeholder="Periodos academicos" #periodoM="ngModel">
                            <option [value]="-1">Todos los periodos</option>
                            <option *ngFor="let periodo of periodos; let i=index;" [value]="i">{{periodo.Nombre}}
                            </option>
                        </select>
                        <br>
                    </div>

                    <div class="form-group input-group">
                        <div class="label-color-ud input-group-prepend input-group-text mt-1n">
                            <i class="fa fa-barcode mt-2n mr-1" aria-hidden="true"></i>
                            <span class="label-color-ud ml-1" id="inputGroup-sizing-default">
                                Codigo
                                <br>
                                Estudiante
                            </span>
                        </div>
                        <input class="form-control input-text-ud mt-3" type="number" name="codigo" placeholder="Codigo estudiante o documento" [(ngModel)]="codigo" #codigoM="ngModel" [class.is-invalid]="codigo.invalid && codigo.touched" pattern="[0-9]{9,}" required>
                    </div>
                    <div class="small-ud">
                        <small *ngIf="codigoM.invalid && codigoM.touched " class="form-text text-danger mt-n4 mb-2">Tienes
                            que ingresar un codigo correcto</small>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button nbButton fullWidth hero shape="semi-round" status="warning" type="submit" class="submit-button">
                            <i class="fas fa-search mr-1"></i>
                            Buscar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </nb-card-body>

    <nb-card-body *ngIf="tercero!=undefined">
        <button class="btn btn-danger btn-block mb-3" (click)="borrarBusqueda()">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Regresar
        </button>
        <p><b>Nombre:</b> {{ tercero.NombreCompleto }}</p>
        <p><b>Cantidad asistencias:</b> {{ regApoyoAlimentario.length }}</p>

        <hr>
        <table *ngIf="regApoyoAlimentario.length>0" class="table">
            <thead class="bg-ud-table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Sede</th>
                    <th scope="col">Responsable</th>

                </tr>
            </thead>
            <tbody class="bg-ud-table-cell">
                <tr
                    *ngFor="let item of regApoyoAlimentario">
                    <th scope="row">{{ item.id }}</th>
                    <td>{{ item.fecha_creacion | date }}</td>
                    <td>{{ sedesAcceso.get(item.espacioFisicoId) }}</td>
                    <td>{{ item.usuarioAdministrador }}</td>
                   
                </tr>
            </tbody>
        </table>
    
        
        <div *ngIf="regApoyoAlimentario.length==0" class="alert alert-warning text-center mt-3">
            <h3 class="alert-heading">No hay registros</h3>
            <p>
                <i class="fa fa-exclamation fa-2x    "></i>
            </p>
        </div>
    </nb-card-body>
</nb-card>


