  
<div class="card text-center">
    <span class="h3">Previsualización de Actividad Cultural</span>
</div>

<div class="row">
    <div class="col-xxxl-3 col-md-6">
        <nb-card status="warning">
            <nb-card-header>Taller de Danza contemporanea</nb-card-header>
            <nb-card-body>
                <nb-list>
                    <nb-list-item><img src="https://fakeimg.pl/200x200/"></nb-list-item>
                    <nb-list-item>Facultad de ingeniería</nb-list-item>
                    <nb-list-item>28/Marzo/2024</nb-list-item>
                    <nb-list-item>4:00 pm</nb-list-item>
                </nb-list>
                
                <button nbButton status="success" class="mx-2" type="button" routerLink='../actividad-cultural'>
                    Link de Inscripción
                </button>

                <button nbButton status="success" class="mx-2" type="button" routerLink='../actividad-cultural'>
                    Mayor información
                </button>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-xxxl-3 col-md-6">
        <nb-card accent="warning">
            <nb-card-header>Descripcción</nb-card-header>
            <nb-card-body>
                Esta actividad ilustra la danza contemporanea contada desde
                tres decadas atras antes de que llegara la innovación del baile
                a Colombia
            </nb-card-body>
        </nb-card>
    </div>
</div>
<div class="row">
    <div class="col-xxxl-3 col-md-6">
        <button nbButton status="success" class="mx-2" type="button" routerLink='../actividad-cultural'>
            <mat-icon>arrow_back</mat-icon> Regresar
        </button>
    </div>
</div>


