<div class="container-fluid">
  <nb-card>
    <nb-card-header>Gestión de Rubros Presupuestales
    </nb-card-header>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xxxl-6">
          <ngx-arbol (rubroSeleccionado)="receiveMessage($event)" [updateSignal]="eventChange" [optionSelect] = "optionView"> </ngx-arbol>
        </div>
        <div class="col-md-6 col-lg-6 col-xxxl-6">
          <nb-card *ngIf="insertarRubro">
            <nb-card-header>
              <h1>{{'GLOBAL.registrar-rubro' | translate }}</h1>
            </nb-card-header>
            <nb-card-body>
              <ngx-dinamicform [normalform]="formInfoRubro" [modeloData]="info_rubro" (result)="validarForm($event)"
                [clean]="clean">
              </ngx-dinamicform>
              <div class="row">
                <div class="col">
                  <button type="submit" class="btn btn-success btn-block" (click)="aniadirNodo()">
                    {{'GLOBAL.cancelar' | translate }}
                  </button>
                </div>
                <div class="col">
                  <button type="submit" class="btn btn-success btn-block" (click)="cleanForm()">
                    {{'GLOBAL.limpiar' | translate }}
                  </button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>

          <!-- form detalle rubro -->

          <nb-card *ngIf="!insertarRubro">
            <nb-card-header>{{'GLOBAL.detalle-rubro' | translate }}</nb-card-header>
            <nb-card-body>
              <form>
                  <div class="form-group">
                      <label>{{'GLOBAL.codigo-rubro' | translate }}</label>
                      <input name="codigo_rubro_seleccionado" type="text" class="form-control" [value]="rubroSeleccionado.Codigo || ''" disabled />
                    </div>

                    <div class="form-group">
                        <label>{{'GLOBAL.unidad-ejecutora' | translate }}</label>
                        <input name="ue_rubro_seleccionado" type="number" class="form-control" [(ngModel)]="rubroSeleccionado.UnidadEjecutora" [readonly]="!editandoRubro" />
                      </div>

                    <div class="form-group">
                      <label>{{'GLOBAL.nombre-rubro' | translate }}</label>
                      <input name="nombre_rubro_seleccionado" type="text" class="form-control" [(ngModel)]="rubroSeleccionado.Nombre" [readonly]="!editandoRubro" />
                    </div>
                
                    <div class="form-group">
                      <label>{{'GLOBAL.descripcion' | translate }}</label>
                      <textarea name="descripcion_rubro_seleccionado" class="form-control" placeholder="Descripción" [(ngModel)]="rubroSeleccionado.Descripcion "
                      [readonly]="!editandoRubro"></textarea>

                      <button *ngIf="!editandoRubro && rubroSeleccionado" type="submit" class="btn btn-primary btn-block"
                        (click)="editandoRubro=!editandoRubro;" [disabled]="rubroSeleccionado.Codigo===undefined">
                        {{'GLOBAL.editar' | translate }}
                      </button>
                      <button *ngIf="editandoRubro" type="submit" class="btn btn-success btn-block"
                      (click)="editRubro()">
                      {{'GLOBAL.guardar' | translate }}
                    </button>
                </div>

                <!-- productos -->

                <div class="row" *ngIf="false">
                    <div class="col-md-12">
                        <ngx-productos-rubro [productosAsignados]="listaProductosAsignados" (cambioListaProductosAsignados)="cambioProductosAsignados($event)"></ngx-productos-rubro>
                        <!-- <pre>{{listaProductosAsignados | json}}</pre> -->
                    </div>
                </div>
                <div class="row">
                  <div class="col">
                    <button type="submit" class="btn btn-success btn-block" (click)="aniadirNodo()">
                      {{'GLOBAL.add-nodo' | translate }}
                    </button>
                  </div>
                  <div class="col">
                    <button *ngIf="rubroSeleccionado.Codigo" type="submit" class="btn btn-danger btn-block"
                      (click)="deleteRubro()">
                      {{'GLOBAL.eliminar' | translate }}
                    </button>
                  </div>
                </div>
              </form>
            </nb-card-body>
          </nb-card>

          
        </div>
      </div>
    </div>
  </div>
</nb-card>
</div>