<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-body>
        <form class="form-inline">
            <div class="col-sm-12"> <button class="btn btn-success btn-block" [routerLink]="['/pages/reliquidacion/home-estudiante']">Volver a datos del estudiante</button> </div>
        </form>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>Docuemntación requerida para reliquidación de matrícula</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.FORMULARIO' | translate}}<a href="http://bienestar.udistrital.edu.co:8080/reliquidacion#reliquidacion+de+matricula">Link del formulario</a> </label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Carta a la directora -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> 
                    <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.FORMULARIO']">
                      Seleccionar archivo
                    </button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.CARTA' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Carta a la directora -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.CARTA']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.ESTRATIFICACION' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!--Certificado de estratificación -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.ESTRATIFICACION']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.SERVICIOS' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Fotocopia recibo de servicio público -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.SERVICIOS']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.INGRESOS' | translate}}</label>
            <div class="alert alert-light" role="alert">
              Señor estudiante, NO se acepta el Formato de certificado de no declarante o certificado de no contribuyente que adjunto en el momento de ingresar a la universidad.
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Certificado de ingresos economicos -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.INGRESOS']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.PENSION' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Certificado valor pensión último año cursado de bachillerato -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.PENSION']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.ARRIENDO' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Contrato arrendamiento en caso de estar en arriendo -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.ARRIENDO']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.HIJOS' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Registro civil de hijos en caso de tener -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.HIJOS']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-12 col-form-label">{{'REL_MATRICULA.DESPLAZADO' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Certificado de estar en condición de desplazado -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.DESPLAZADO']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.RECIBO' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9">
              <!-- Último recibo de pago de la Universidad cancelado -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.RECIBO']">Seleccionar archivo</button> </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="label col-sm-12 col-form-label">{{'REL_MATRICULA.SOLICITUD' | translate}}</label>
          </div>
          <div class="form-group row">
            <div class="col-sm-9 ">
              <!-- Otros papeles que soporten la solicitud -->
              <div class="input-group mb-3">
                <div class="custom-file">
                  <div class="col-sm-6"> 
                    <button class="btn btn-info btn-block" [routerLink]="['/pages/reliquidacion/documentos', 'REL_MATRICULA.SOLICITUD']">
                      Seleccionar archivo
                    </button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button type="submit" nbButton status="primary">Enviar</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>