<div class="row item-list" [formGroup]="grupo" *ngIf="!mostrar.descargar">
    <div
        class="input-archivo {{grupo.get(nombreInput).invalid && grupo.get(nombreInput).dirty || validar && grupo.get(nombreInput).invalid ? 'error': ''}}"
        [class.deshabilitado]="deshabilitarUpload"
        >
        <button type="button" (click)="fileUpload.click()" [disabled]="deshabilitarUpload">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.4 489.4">
                <path
                    d="M382.4 422.75H277.4v-106.1h34.7c8.8 0 14-10 8.8-17.2l-67.5-93.4c-4.3-6-13.2-6-17.5 0l-67.5 93.4c-5.2 7.2-.1 17.2 8.8 17.2h34.7v106.1H94.3c-52.5-2.9-94.3-52-94.3-105.2 0-36.7 19.9-68.7 49.4-86-2.7-7.3-4.1-15.1-4.1-23.3 0-37.5 30.3-67.8 67.8-67.8 8.1 0 15.9 1.4 23.2 4.1 21.7-46 68.5-77.9 122.9-77.9 70.4.1 128.4 54 135 122.7 54.1 9.3 95.2 59.4 95.2 116.1 0 60.6-47.2 113.1-107 117.3z" />
            </svg>
            {{etiqueta || 'Adjuntar un archivo'}}{{requerido ? '*':''}}
        </button>
        <div class="col-md-8 file-upload--hidden">
            <input fullWidth #fileUpload nbInput type="file" [formControlName]="nombreInput" [required]="requerido"
                [multiple]="false" (change)="onFileSelected($event)">
        </div>
    </div>
</div>
<div class="row item-list" *ngIf="mostrar.descargar">
    <div class="input-archivo">
        <button type="button" (click)="onFileSelectedDownload()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 489.4 489.4">

                <g>
                    <g id="Download_1_">
                        <g>
                            <path d="m256 432.041-88.022-132.041h58.022v-120h60v120h58.022z" />
                        </g>
                        <g>
                            <path d="m391 512h-270v-77h30v47h210v-47h30z" />
                        </g>
                    </g>
                    <path
                        d="m439.354 91.816c-23.422-55.283-77.929-91.816-138.354-91.816-34.805 0-68.101 11.895-94.746 33.662-45.531-13.497-94.246 11.174-110.127 56.484-51.27-3.369-96.127 38.511-96.127 89.854 0 49.629 41.371 90 91 90h105v-120h120v120h105c49.629 0 91-40.371 91-90 0-43.154-31.205-79.541-72.646-88.184z" />
                </g>
            </svg>
            {{'Visualizar un archivo '}}{{documentosCargados[nombreInput].Nombre}}
        </button>
    </div>
</div>