<div class="container-fluid">
    <nb-card>
        <nb-card-header>
            Cita Médica
        </nb-card-header>
        <nb-card-body>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-4 col-xs-4" floatLabel="always">
                    <mat-label>*Especialidad</mat-label>
                    <mat-select formControlName="tipoEspecialidad" placeholder="">
                        <mat-option *ngFor="let especialidad of tipoEspecialidadesData" [value]="especialidad.Id">
                            {{especialidad.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-4 col-md-4 col-sm-4 col-xs-4" floatLabel="always">
                    <mat-label>*Sede</mat-label>
                    <mat-select formControlName="sede" placeholder="">
                        <mat-option *ngFor="let sede of sedesData" [value]="sede.Id">
                            {{sede.Nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="col-lg-3 col-md-3 col-sm-3 col-xs-3" floatLabel="always">
                    <mat-label>*Fecha y hora</mat-label>
                    <input formControlName="fecha"  matInput [matDatepicker]="picker" type="datetime-local" placeholder="Fecha">
                </mat-form-field>
                <div class="row">
                    <div class="col text-center">
                        <button type="submit" class="btn btn-success" (click)="guardar()">
                            Guardar
                        </button>
                    </div>
                </div>
        </nb-card-body>
    </nb-card> 
    </div>