.mat-column-nombre {
    flex: 0 0 23%;
}
.mat-column-facultad {
    flex: 0 0 27%;
}
.mat-column-documento{
    flex: 0 0 10%;
}
.mat-column-telefono{
    flex: 0 0 9%;
}
.mat-column-acciones{
    flex: 0 0 5%;
}
.mat-column-especialista{
    flex: 0 0 12%;
}
.mat-warn {
    color: green;
}