<div *ngIf="!cambiotab" class="col-md-12 col-lg-12 ">
    <nb-card>
        <nb-card-header>
            <legend>{{ 'CDP.solicitudes_cdp' | translate }}</legend>
        </nb-card-header>
        <nb-card-body>

            <ng2-smart-table [settings]="settings" [source]="source" (custom)="onCustom($event)">
            </ng2-smart-table>
        </nb-card-body>
    </nb-card>
</div>
<ngx-ver-solicitud-cdp *ngIf="cambiotab" [solicitudcdp]="solicitudcdp"  (eventChange)="cambiotab=$event"></ngx-ver-solicitud-cdp>