<!-- CSS de Bootstrap -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

<!-- JS de Bootstrap (requiere jQuery) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- CSS de Bootstrap Icons -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<!-- <table class="table">
    <thead>
      <tr class="text-center">
        <th class="border-end">Nombre</th>
        <th class="border-end">Fecha</th>
        <th class="border-end">Facultad</th>
        <th class="border-end">Estado</th>
        <th class="border-end">Ver/Generar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border-end">Juan Pérez</td>
        <td class="border-end">2023-02-22</td>
        <td class="border-end">Facultad de Ingeniería</td>
        <td class="border-end">Activo</td>
        <td class="text-center"><a href="https://www.example.com"><i class="bi bi-eye"></i></a></td>
      </tr>
    </tbody>
  </table> -->

<div class="containter">
  <div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          <!-- <ngx-custom-paginator [(page)]="page" (pageChange)="recargarTablaPage($event)" [totalElementos]="elementosEncontrados"></ngx-custom-paginator>
         -->
         <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </mat-card-content>
      </mat-card>   
      
      
      <div class="col-12">
        <button class="btn btn-success" (click)="listar()" >Listar informacion</button>

      </div>
    </div>
  </div>
</div>


















