.botonesApI {
    padding-bottom: 3%;
}

.detalleApI {
    padding-left: 3%;
}

.formPreasignacion {
    padding-left: 3%;
}

.tablaApropiacion td {

    vertical-align: middle;
}

.spacingValorAp {
    padding-top: 3%;
}
.ingresos {
    color: green;
    font-size: 20px;
  }
.egresos {
    color: #DAA520;
    font-size: 20px;
  }

.rubro {
    color: black;
    font-size: 20px;
}
.error {
    color: red;
    font-size: 15px;
}
.correcto {
    color: green;
    font-size: 15px;
}

/* .moneyField::before {
    content:"$";
    
} */

.moneyField {
    text-align: right;
}