<nb-card>
<nb-card-header>
<h4>{{ "APROPIACION.comprobacion" | translate }}</h4>
</nb-card-header>
<nb-card-body>
<div class="row detalleApI">
    <table class="table tablaApropiacion">
      <thead>
        <tr>
          <th scope="col">
            {{ "GLOBAL.rubro" | translate }}
          </th>
          <th scope="col">
            {{ "GLOBAL.apropiacion-inicial" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p class="rubro">{{ "APROPIACION.ingresos" | translate }}</p></td>
          <td><p class="ingresos">{{ingresos}}</p></td>
        </tr>
        <tr>
          <td><p class="rubro">{{ "APROPIACION.egresos" | translate }}</p></td>
          <td><p class=egresos>{{egresos}}</p></td>
        </tr>
      </tbody>
      <tr *ngIf="balanceado">
          <td colspan="2"><p class="correcto">{{ "APROPIACION.comprobacion-igualdad" | translate }}</p></td>
      </tr>
      <tr *ngIf="!balanceado">
          <td *ngIf="ingresos-egresos !== 0" colspan="2"><p class="error">{{ "APROPIACION.comprobacion-diferencia" | translate }}{{diferencia}}</p></td>
          <td *ngIf="ingresos-egresos === 0" colspan="2"><p class="error">{{ "APROPIACION.comprobacion-diferencia-cero" | translate }}</p></td>
      </tr>
    </table>
  </div>
</nb-card-body>
</nb-card>