<div class="col-md-12 col-lg-12 ">
    <nb-card *ngIf="mostrandoPDF===false" >
        <nb-card-header>
            <legend *ngIf="solicitud&&!expedido">{{ 'CDP.detalle_solicitud_cdp' | translate }}:
                {{solicitud.consecutivo}}</legend>
            <legend *ngIf="solicitud&&expedido">{{ 'CDP.detalle_cdp' | translate }}: {{solicitud.consecutivo_cdp}}
            </legend>
        </nb-card-header>
        <nb-card-body>
            <!-- <pre>scdp{{solicitud | json}}</pre> preview of object for debugging purpouses
            <pre>nes{{necesidad | json}}</pre> -->
            <div class="container-fluid">
                <table class="table table-hover table-bordered">
                    <thead class="bg-warning">
                        <th width="15%">{{'GLOBAL.vigencia' | translate}}</th>
                        <th width="40%">{{'GLOBAL.unidad-ejecutora' | translate}}</th>
                        <th width="45%">{{'GLOBAL.centro_gestor' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{TrNecesidad.Necesidad.Vigencia}}</td>
                            <td>{{solicitud.centroGestor}}</td>
                            <td>{{solicitud.entidad}}</td>
                        </tr>
                    </tbody>

                </table>
                <table class="table table-hover table-bordered">
                    <thead class="bg-warning">
                        <th *ngIf="!expedido">{{'CDP.n_sol_cdp' | translate}}</th>
                        <th *ngIf="expedido">{{'CDP.n_cdp' | translate}}</th>
                        <th>{{'CDP.n_necesidad' | translate}}</th>
                        <th>{{'CDP.solicitante' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="!expedido">{{solicitud.consecutivo}}</td>
                            <td *ngIf="expedido">{{solicitud.consecutivo_cdp}}</td>
                            <td>{{TrNecesidad.Necesidad.ConsecutivoNecesidad}}</td>
                            <td>{{TrNecesidad.Necesidad.DependenciaNecesidadId.JefeDepSolicitanteId}}</td>
                        </tr>
                        <tr>
                            <td class="bg-warning">{{'CDP.objeto' | translate}}</td>
                            <td colspan="2">{{TrNecesidad.Necesidad.Objeto}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- apropiaciones -->
                <table *ngFor="let rubro of TrNecesidad.Rubros" class="table table-hover table-bordered">
                    <!-- rubro -->
                    <thead class="bg-warning">
                        <th width="60%">{{'GLOBAL.rubro' | translate}}</th>
                        <th width="40%">{{'GLOBAL.valor' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{rubro.RubroId}} {{rubro.InfoRubro.Nombre}}</td>
                            <td class="moneyField">$000</td>
                            <!-- TODO calcular valor rubro -->
                        </tr>
                    </tbody>
                    <!-- metas y actividades si es de inversion -->
                    <thead *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.Id==1" class="bg-warning">
                        <th width="60%">{{'GLOBAL.meta' | translate}}</th>
                        <th ></th>
                    </thead>
                    <tbody *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.Id==1">
                        <tr>
                            <!-- TODO traer nombre meta -->
                            <td>{{rubro.Metas[0].MetaId}} </td>
                            <td class="moneyField">{{rubro.metas[0].valor | currency: COP}}</td>
                        </tr>
                        <tr class="bg-warning">
                            <td>{{'GLOBAL.actividades' | translate}}</td>
                            <td></td>
                        </tr>
                        <tr *ngFor="let act of rubro.Metas[0].Actividades">
                            <td>{{act.ActividadId}} {{act.Nombre}}</td>
                            <td class="moneyField">{{act.Valor | currency: COP }}</td>
                        </tr>
                    </tbody>
                    <!-- fuentes -->
                    <thead class="bg-warning">
                        <th>{{'GLOBAL.fuente' | translate}}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of rubro.Fuentes">
                            <td>{{f.codigo}} {{f.nombre}}</td>
                            <td class="moneyField">{{f.valor | currency: COP}}</td>
                        </tr>
                    </tbody>
                    <!-- productos -->
                    <thead class="bg-warning">
                        <th>{{'GLOBAL.producto' | translate}}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of rubro.Productos">
                            <td>{{p.codigo}} {{p.nombre}}</td>
                            <td class="moneyField">{{p.valor | currency: COP}}</td>
                        </tr>
                    </tbody>

                </table>
                <!-- responsables y fecha -->
                <table class="table table-hover table-bordered">
                    <thead class="bg-warning">
                        <th width="33%" *ngIf="!expedido">{{ 'CDP.fecha_solicitud' | translate }}</th>
                        <th width="33%" *ngIf="expedido">{{ 'CDP.fecha_expedicion' | translate }}</th>
                        <th width="33%">{{ 'CDP.responsable' | translate }}</th>
                        <th width="33%">{{ 'CDP.elaboro' | translate }}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="!expedido">{{TrNecesidad.Necesidad.FechaSolicitud | date}}</td>
                            <td *ngIf="expedido">{{solicitud.fecha_cdp | date}}</td>
                            <td>responsable</td>
                            <td>elaboró</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-align: center;">
                    <button (click)="cambioTab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
                        {{ 'GLOBAL.regresar' | translate}}</button>
                    <button *ngIf="!expedido" (click)="expedirCDP(solicitud.consecutivo)" class="btn btn-info btn-sm">
                        {{ 'CDP.expedir' | translate}}</button>
                    <button *ngIf="expedido" (click)="mostrarPDF(solicitud.consecutivo_cdp)" class="btn btn-info btn-sm">
                        {{ 'CDP.mostrar_pdf' | translate}}</button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <ngx-pdfviewer *ngIf="mostrandoPDF===true" [tituloPDF]="tituloPDF" [enlacePDF]="enlacePDF" (goBack)="mostrandoPDF=$event"></ngx-pdfviewer>
</div>
<div>
    <pre>{{TrNecesidad | json}}</pre>
</div>