<div class="col-md-12 col-lg-12 ">
    <button (click)="cambioTab()" class="btn btn-info btn-sm"> <i class="nb-arrow-dropleft"></i>
        {{ 'GLOBAL.regresar' | translate}}
    </button>
    <nb-card *ngIf="mostrandoPDF===false">
        <div>
        </div>
        <nb-card-header>
            <legend *ngIf="solicitud && !expedido">{{ 'CDP.detalle_solicitud_cdp' | translate }}:
                {{solicitud.consecutivo}}</legend>
            <legend *ngIf="solicitud && expedido">{{ 'CDP.detalle_cdp' | translate }}: {{solicitud.Consecutivo}}
            </legend>
        </nb-card-header>
        <nb-card-body *ngIf="TrNecesidad">
            <div class="container-fluid">
                <table class="table table-hover table-bordered">
                    <thead class="bg-kronos">
                        <th width="15%">{{'GLOBAL.vigencia' | translate}}</th>
                        <th width="40%">{{'GLOBAL.centro_gestor' | translate}}</th>
                        <th width="45%">{{'GLOBAL.area_funcional' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{TrNecesidad.Necesidad.Vigencia}}</td>
                            <td>{{centroGestor}}</td>
                            <td>{{areaFuncional}}</td>
                        </tr>
                    </tbody>

                </table>
                <table class="table table-hover table-bordered">
                    <thead class="bg-kronos">
                        <th *ngIf="!expedido">{{'CDP.n_sol_cdp' | translate}}</th>
                        <th *ngIf="expedido">{{'CDP.n_cdp' | translate}}</th>
                        <th>{{'CDP.n_necesidad' | translate}}</th>
                        <th>{{'CDP.solicitante' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="!expedido">{{solicitud.consecutivo}}</td>
                            <td *ngIf="expedido">{{solicitud.Consecutivo}}</td>
                            <td>{{TrNecesidad.Necesidad.ConsecutivoNecesidad}}</td>
                            <td>{{TrNecesidad.Necesidad.DependenciaNecesidadId.DependenciaSolicitante.Nombre}}</td>
                        </tr>
                        <tr>
                            <td class="bg-kronos">{{'CDP.objeto' | translate}}</td>
                            <td colspan="2">{{TrNecesidad.Necesidad.Objeto}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- apropiaciones -->
                <table *ngFor="let rubro of TrNecesidad.Rubros" class="table table-hover table-bordered">
                    <!-- rubro -->
                    <thead class="bg-kronos">
                        <th width="50%">{{'GLOBAL.rubro' | translate}}</th>
                        <th width="50%">{{'GLOBAL.valor' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{rubro.RubroId}} {{rubro.InfoRubro.Nombre}}</td>
                            <td class="moneyField">{{rubro.MontoParcial | currency: COP }}</td>
                            <!-- TODO calcular valor rubro -->
                        </tr>
                    </tbody>
                    <!-- metas y actividades si es de inversion -->
                    <thead *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.CodigoAbreviacion==='I'"
                        class="bg-kronos">
                        <th colspan="2">{{'GLOBAL.meta' | translate}}</th>
                    </thead>
                    <tbody *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.CodigoAbreviacion==='I'">
                        <tr colspan="2">
                            <td>{{rubro.Metas[0].MetaId}} </td>
                            <td>{{rubro.Metas[0].InfoMeta[0].meta}}</td>
                        </tr>
                        <tr class="bg-kronos">
                            <th>{{'GLOBAL.actividades' | translate}}</th>
                            <th>{{'GLOBAL.fuentes' | translate}}</th>
                        </tr>
                        <tr *ngFor="let act of rubro.Metas[0].Actividades">
                            <td (rowspan)="act.FuentesActividad.length">{{act.ActividadId}} -
                                {{act.InfoActividad[0].actividad}}</td>
                            <ul *ngFor="let f of act.FuentesActividad">
                                <li><a>{{f.FuenteId}}</a>-<a *ngIf="f.InfoFuente">{{f.InfoFuente.Nombre}}</a><br>
                                    <p class="moneyField">{{'GLOBAL.valor' | translate}}: {{f.MontoParcial | currency: COP }}</p>
                                </li>
                                <hr>
                            </ul>
                        </tr>

                    </tbody>
                    <!-- fuentes -->
                    <thead *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.CodigoAbreviacion==='F'"
                        class="bg-kronos">
                        <th>{{'GLOBAL.fuente' | translate}}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of rubro.Fuentes">
                            <td>{{f.FuenteId}} - <a *ngIf="f.InfoFuente">{{f.InfoFuente.Nombre}}</a></td>
                            <td class="moneyField">{{f.MontoParcial | currency: COP}}</td>
                        </tr>
                    </tbody>
                    <!-- productos -->
                    <thead class="bg-kronos" *ngIf="rubro.Productos.length>0">
                        <th colspan="2">{{'GLOBAL.producto' | translate}}</th>

                    </thead>
                    <tbody>
                        <tr *ngFor="let p of rubro.Productos">
                            <td colspan="2">{{p.InfoProducto.Nombre}}</td>
                            <!-- <td class="moneyField">{{p.valor | currency: COP}}</td> -->
                        </tr>
                    </tbody>

                </table>
                <!-- Valores CDP -->
                <table *ngIf="expedido" class="table table-hover table-bordered">
                    <thead class class="bg-kronos">
                        <th>{{ 'CDP.valor_inicial' | translate }}</th>
                        <th>{{ 'CDP.valor_actual' | translate }}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{solicitud.ValorInicial | currency: COP}}</td>
                            <td>{{solicitud.ValorActual | currency: COP}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- responsables y fecha -->
                <table class="table table-hover table-bordered">
                    <thead class="bg-kronos">
                        <th width="33%" *ngIf="!expedido">{{ 'CDP.fecha_solicitud' | translate }}</th>
                        <th width="33%" *ngIf="expedido">{{ 'CDP.fecha_expedicion' | translate }}</th>
                        <th width="33%">{{ 'CDP.responsable' | translate }}</th>
                        <th width="33%">{{ 'CDP.elaboro' | translate }}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="!expedido">{{TrNecesidad.Necesidad.FechaSolicitud | date:'dd/MM/yyyy'}}</td>
                            <td *ngIf="expedido">{{solicitud.FechaRegistro | date:'dd/MM/yyyy'}}</td>
                            <td *ngIf="!expedido">{{ordenadorGasto}}<br>{{'CDP.ordenador_gasto' | translate}}</td>
                            <td *ngIf="expedido">{{responsable}} <br>{{'GLOBAL.jefe_presupuesto' | translate}}</td>
                            <td>{{ username }}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <button *ngIf="!expedido" (click)="expedirCDP(solicitud.consecutivo)"
                        class="btn btn-success col-md-6">
                        {{ 'CDP.expedir' | translate}}</button>
                    <!-- <button *ngIf="!expedido" (click)="rechazarSolicitud()" class="btn btn-danger col-md-6">
                        {{ 'CDP.rechazar_solicitud_cdp' | translate}}</button> -->
                    <button *ngIf="expedido" (click)="mostrarPDF(solicitud.consecutivo_cdp)"
                        class="btn btn-info btn-sm">
                        {{ 'CDP.mostrar_pdf' | translate}}</button>
                    <!-- <button *ngIf="expedido" (click)="anularCdp()" class="btn btn-danger">
                            {{ 'CDP.anular_cdp' | translate}}</button> -->
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <ngx-pdfviewer *ngIf="mostrandoPDF===true" [tituloPDF]="tituloPDF" [enlacePDF]="enlacePDF"
        (goBack)="mostrandoPDF=$event"></ngx-pdfviewer>
</div>