<button class="btn back-button btn-block" routerLink="../../">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Regresar
</button>

<nb-card>
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Buscar solicitud
                </h1>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body>
        <div class="row">
            <div class="col">
                <form (ngSubmit)="buscar( f )" #f="ngForm">


                    <div class="form-group input-group">
                        <div class="label-color-ud input-group-prepend input-group-text">
                            <i class="fa fa-file-signature " aria-hidden="true"></i>
                            <span class="label-color-ud ml-1" id="inputGroup-sizing-default">Periodo</span>
                        </div>

                        <select class="form-control custom-select input-text-ud" name="periodo" [(ngModel)]="periodo"
                            [disabled]="periodos.length === 0" [class.is-invalid]="periodo.invalid && periodo.touched"
                            required placeholder="Periodos academicos" #periodoM="ngModel">
                            <option *ngFor="let periodo of periodos; let i=index;" [value]="i">{{periodo.Nombre}}
                            </option>
                        </select>
                        <br>
                    </div>

                    <div class="small-ud">
                        <small *ngIf="periodoM.invalid && periodoM.touched" class="form-text text-danger mt-n3 mb-2">Tienes que
                            seleccionar un sede</small>
                        <small *ngIf="periodos.length === 0" class="form-text text-danger mt-n3 mb-2">No hay periodos
                            disponibles</small> 
                    </div> 

                    <div class="form-group input-group">
                        <div class="label-color-ud input-group-prepend input-group-text mt-1n">
                            <i class="fa fa-barcode mt-2n mr-1" aria-hidden="true"></i>
                            <span class="label-color-ud ml-1" id="inputGroup-sizing-default">
                                Codigo
                                <br>
                                Estudiante
                            </span>
                        </div>
                        <input class="form-control input-text-ud mt-3" type="number" name="codigo"
                            placeholder="Codigo estudiante o documento" [(ngModel)]="codigo" #codigoM="ngModel"
                            [class.is-invalid]="codigo.invalid && codigo.touched" pattern="[0-9]{9,}" required>
                    </div>
                    <div class="small-ud">
                        <small *ngIf="codigoM.invalid && codigoM.touched " class="form-text text-danger mt-n4 mb-2">Tienes
                            que ingresar un codigo correcto</small>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button nbButton fullWidth hero shape="semi-round" status="warning" type="submit"
                            class="submit-button">
                            <i class="fas fa-search mr-1"></i>
                            Buscar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>
{{ periodo }}
{{ codigo }}