<nb-card>
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1>
                    Buscar solicitud
                </h1>
            </div>
        </div>
    </nb-card-header>

    <nb-card-body *ngIf="solicitudes.length==0">
        <div class="row">
            <div class="col">
                <form (ngSubmit)="buscar( f )" #f="ngForm">


                    <div class="form-group input-group">
                        <div class="label-color-ud input-group-prepend input-group-text">
                            <i class="fa fa-file-signature " aria-hidden="true"></i>
                            <span class="label-color-ud ml-1" id="inputGroup-sizing-default">Periodo</span>
                        </div>

                        <select class="form-control custom-select input-text-ud" name="periodo" [(ngModel)]="periodo" [disabled]="periodos.length === 0" [class.is-invalid]="periodo.invalid && periodo.touched" required placeholder="Periodos academicos" #periodoM="ngModel">
                            <option [value]="-1">Todos los periodos</option>
                            <option *ngFor="let periodo of periodos; let i=index;" [value]="i">{{periodo.Nombre}}
                            </option>
                        </select>
                        <br>
                    </div>

                    <div class="form-group input-group">
                        <div class="label-color-ud input-group-prepend input-group-text mt-1n">
                            <i class="fa fa-barcode mt-2n mr-1" aria-hidden="true"></i>
                            <span class="label-color-ud ml-1" id="inputGroup-sizing-default">
                                Codigo
                                <br>
                                Estudiante
                            </span>
                        </div>
                        <input class="form-control input-text-ud mt-3" type="number" name="codigo" placeholder="Codigo estudiante o documento" [(ngModel)]="codigo" #codigoM="ngModel" [class.is-invalid]="codigo.invalid && codigo.touched" pattern="[0-9]{9,}" required>
                    </div>
                    <div class="small-ud">
                        <small *ngIf="codigoM.invalid && codigoM.touched " class="form-text text-danger mt-n4 mb-2">Tienes
                            que ingresar un codigo correcto</small>
                    </div>
                    <hr>
                    <div class="form-group">
                        <button nbButton fullWidth hero shape="semi-round" status="warning" type="submit" class="submit-button">
                            <i class="fas fa-search mr-1"></i>
                            Buscar
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </nb-card-body>


    <nb-card-body *ngIf="solicitudes.length>0">
        <button class="btn back-button btn-block" (click)="solicitudes=[]">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Regresar
        </button>
        <table class="table">
            <thead class="bg-ud-table">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">JSON</th>
                    <th scope="col">Tipo solicitud</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Fecha radicacion</th>

                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody class="bg-ud-table-cell">
                <tr *ngFor="let item of solicitudes; let i = index">
                    <!-- (pagina -1)*tamPag :  ((pagina)*tamPag) -->
                    <th scope="row">{{ (i+1) }}</th>
                    <td>{{ item | json }}</td>
                    <td>{{ item.EstadoTipoSolicitudId.TipoSolicitud.Nombre }}</td>
                    <td>{{ item.EstadoTipoSolicitudId.EstadoId.Nombre }}</td>
                    <td>{{ item.FechaRadicacion | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <button class="btn init-icon " routerLink="./{{item.Id}}" title="Ver solicitante">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Evaluar solicitud
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </nb-card-body>
</nb-card>