<div class="col-md-12 col-lg-12 ">
    <nb-card status="warning" *ngIf="mostrandoPDF===false">
        <nb-card-header>
            {{ 'CRP.crp' | translate }}
        </nb-card-header>
        <nb-card-body>
            <button (click)="cambioTab()" class="btn btn-info btn-sm"><i
                    class="nb-arrow-dropleft"></i>{{ 'GLOBAL.regresar' | translate}}</button>
            <legend *ngIf="!expedido">{{ 'CRP.detalle_solicitud_crp' | translate }}: {{ solicitud.solicitudCrp }}</legend>
            <legend *ngIf="expedido">{{ 'CRP.detalle_crp' | translate }}: {{ solicitud.Consecutivo }}</legend>
            <p>{{ 'CRP.solicitud-efectuada' | translate }}</p>
            <div class="container-fluid">
                <table class="table table-hover table-bordered">
                    <thead class="bg-kronos">
                        <th width="50%">{{'GLOBAL.entidad' | translate}}</th>
                        <th width="40%">{{'GLOBAL.area_funcional' | translate}}</th>
                        <th width="10%">{{'GLOBAL.vigencia' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="entidad">{{entidad[0].Nombre}}</td>
                            <td *ngIf="area">{{area[0].Nombre}}</td>
                            <td>{{solicitudc.vigencia}}</td>
                        </tr>
                    </tbody>

                </table>
                <table class="table table-hover table-bordered">
                    <thead class="bg-kronos">
                        <th>{{'CDP.n_cdp' | translate}}</th>
                        <th>{{'CRP.tipo-compromiso' | translate}}</th>
                        <th>{{'CRP.numero-compromiso' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td *ngIf="cdpInfo.Data">{{solicitudc.consecutivoCdp}}</td>
                            <td *ngIf="tCompromiso">{{tCompromiso.Nombre}}</td>
                            <td *ngIf="solicitudc.compromiso">{{solicitudc.compromiso.numeroCompromiso}}</td>
                        </tr>
                        <tr>
                            <td class="bg-kronos boldTitle">{{'CDP.objeto' | translate}}</td>
                            <td colspan="2">{{ objetoNecesidad }}</td>
                        </tr>
                        <tr *ngIf="!expedido">
                            <td class="bg-kronos boldTitle" width="50%">{{'CDP.saldo' | translate}}</td>
                            <td class="moneyField" colspan="2" width="50%">{{cdpInfo.ValorActual | currency}}</td>
                        </tr>
                        <tr>
                            <td class="bg-kronos boldTitle" width="50%">{{'CRP.valor' | translate}}</td>
                            <td class="moneyField" colspan="2" width="50%">{{solicitudc.valor | currency}}</td>
                        </tr>
                        <tr *ngIf="expedido">
                            <td class="bg-kronos boldTitle" width="50%">{{'CRP.saldo' | translate}}</td>
                            <td class="moneyField" colspan="2" width="50%">{{solicitud.ValorActual | currency}}</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-hover table-bordered">
                    <thead class="bg-kronos">
                        <th width="40%">{{'CRP.id-contratista' | translate}}</th>
                        <th width="60%">{{'CRP.nombre-contratista' | translate}}</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{doc}}</td>
                            <td *ngIf="beneficiario">{{beneficiario}}</td>
                        </tr>
                    </tbody>

                </table>
                <!-- apropiaciones -->
                <ng-container *ngIf="TrNecesidad">
                    <table *ngFor="let rubro of TrNecesidad.Rubros" class="table table-hover table-bordered">
                        <!-- rubro -->
                        <thead class="bg-kronos">
                            <th width="60%">{{'GLOBAL.rubro' | translate}}</th>
                            <th width="40%">{{'GLOBAL.valor' | translate}}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{rubro.RubroId}} - <span *ngIf="rubro.InfoRubro">{{rubro.InfoRubro.Nombre}}</span>
                                </td>
                                <td class="moneyField">{{rubro.MontoParcial | currency}}</td>
                            </tr>
                        </tbody>
                        <!-- metas y actividades si es de inversion -->
                        <thead *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.Id==1" class="bg-kronos">
                            <th colspan="2">{{'GLOBAL.meta' | translate}}</th>
                        </thead>
                        <tbody *ngIf="TrNecesidad.Necesidad.TipoFinanciacionNecesidadId.Id==1">
                            <tr>
                                <!-- Metas -->
                                <td *ngIf="rubro.Metas[0].InfoMeta">{{rubro.Metas[0].MetaId}} -
                                    {{rubro.Metas[0].InfoMeta[0].meta}}</td>
                                <td class="moneyField">{{rubro.MontoParcial | currency: COP }}</td>
                            </tr>
                            <tr class="bg-kronos">
                                <th>{{'GLOBAL.actividades' | translate}}</th>
                                <th>{{'GLOBAL.fuentes' | translate}}</th>
                            </tr>
                            <!-- Actividades -->
                            <tr *ngFor="let act of rubro.Metas[0].Actividades">
                                <td rowspan="act.FuentesActividad.lenght" *ngIf="act.InfoActividad">{{act.ActividadId}}
                                    - {{act.InfoActividad[0].actividad}}</td>
                                <ul>
                                    <li *ngFor="let f of act.FuentesActividad">
                                        <a>{{f.FuenteId}}</a>-<a *ngIf="f.InfoFuente">{{f.InfoFuente.Nombre}}</a><br>
                                        <p class="moneyField">{{'GLOBAL.valor' | translate}}:
                                            {{f.MontoParcial | currency: COP }}</p>
                                        <hr>
                                    </li>
                                </ul>
                            </tr>
                        </tbody>
                        <!-- fuentes -->
                        <thead class="bg-kronos" *ngIf="rubro.Fuentes.length!==0">
                            <th>{{'GLOBAL.fuente' | translate}}</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let f of rubro.Fuentes">
                                <td>{{f.FuenteId}}-<a *ngIf="f.InfoFuente">{{f.InfoFuente.Nombre}}</a></td>
                                <td class="moneyField">{{f.MontoParcial | currency: COP}}</td>
                            </tr>
                        </tbody>
                        <!-- productos -->
                        <thead class="bg-kronos" *ngIf="rubro.Productos.length > 0">
                            <th colspan="2">{{'GLOBAL.producto' | translate}}</th>

                        </thead>
                        <tbody>
                            <tr *ngFor="let p of rubro.Productos">
                                <td colspan="2">{{p.InfoProducto.Nombre}}</td>
                                <!-- <td class="moneyField">{{p.valor | currency: COP}}</td> -->
                            </tr>
                        </tbody>

                    </table>
                    <!-- responsables y fecda -->
                    <table class="table table-hover table-bordered">
                        <thead class="bg-kronos">
                            <th width="33%" *ngIf="!expedido">{{ 'CDP.fecha_solicitud' | translate }}</th>
                            <th width="33%" *ngIf="expedido">{{ 'CDP.fecha_expedicion' | translate }}</th>
                            <th width="33%">{{ 'CDP.responsable' | translate }}</th>
                            <th width="33%">{{ 'CDP.elaboro' | translate }}</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="!expedido">{{solicitudc.fechaCreacion | date:'dd/MM/yyyy'}} </td>
                                <td *ngIf="expedido">Oct 2, 2019</td>
                                <td>Usuario que expide</td>
                                <td>Usuario que elabora</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
                <div class="text-center">
                    <div *ngIf="!expedido">
                        <ngx-expedir-crp #ngxExpedirCrpComponent [rubros]="TrNecesidad.Rubros" [solicitudCdp]="solicitud"
                            [solicitudCrp]="solicitudc" [docPresupuestalCdp]="cdpInfo"
                            (buildMovimiento)="onMovimientoBuiled($event)" *ngIf="formRubros">
                        </ngx-expedir-crp>
        
                        <button [disabled]="movimiento === null" (click)="expedirCRP()" class="btn btn-success col-md-4">
                            {{ 'CRP.expedir' | translate}}</button>
                    </div>

                    <button *ngIf="expedido" (click)="mostrarPDF(solicitudc.consecutivo_cdp)"
                        class="btn btn-warning col-md-4">
                        {{ 'CDP.mostrar_pdf' | translate}}</button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
    <ngx-pdfviewer *ngIf="mostrandoPDF===true" [tituloPDF]="tituloPDF" [enlacePDF]="enlacePDF"
        (goBack)="mostrandoPDF=$event"></ngx-pdfviewer>

</div>