<nb-card *ngIf="solicitud==null && !nueva">
    <div class="text-center pt-2">
        <div class="menu-header">
            <h1>
                No se encontro la solicitud
            </h1>
            <button class="btn back-button btn-block" routerLink="../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>
        </div>
    </div>
</nb-card>
<nb-card *ngIf="solicitud!=null || nueva">
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1 *ngIf="!nueva">
                    Solicitud apoyo alimentario No. {{ idSolicitud }}
                </h1>
                <h1 *ngIf="nueva">
                    Nueva solicitud apoyo alimentario
                </h1>
                <button class="btn back-button btn-block" routerLink="../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>

            </div>
        </div>
    </nb-card-header>
    <hr>
    <nb-card-body>
        <nb-accordion>
            <!-- Informacion solicitante -->
            <nb-accordion-item expanded>
                <nb-accordion-item-header>
                    <h4 class="non-selectable">Información solicitante</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    {{ solicitante | json }}
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Informacion solicitud -->
            <nb-accordion-item>
                <nb-accordion-item-header>
                    <h4 class="non-selectable">Información solicitud</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="menu-list">
                        <div class="item ">
                            <!-- form-group  -->
                            <label class="sub-item label-color-ud">
                                ID :
                            </label >       
                            <label ng-readonly="!nueva" class="sub-item ">
                                {{solicitud?.Id}}
                            </label >                   
                            <!-- <input ng-readonly="!nueva" fullWidth nbInput value={{solicitud?.Id}}> -->
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Estado :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.Activo}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha Radicación :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.FechaRadicacion}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha Creación :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.FechaCreacion}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha Modificación :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.FechaModificacion}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Solicitud Finalizada :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.SolicitudFinalizada}}
                            </label>

                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Referencia :
                            </label>
                            <label class="sub-item">
        
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Tipo Solicitud :
                            </label>
                            <label class="sub-item">
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Estado Solicitud :
                            </label>
                            <label class="sub-item">
                            </label>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

        </nb-accordion>

    </nb-card-body>
</nb-card>

<div *ngIf="solicitud==null && !nueva" class="alert alert-warning text-center mt-3">
    <h3 class="alert-heading">No se encuentra la solicitud {{idSolicitud}}</h3>
    <p>
        <i class="fa fa-exclamation fa-2x    "></i>
    </p>
</div>