<nb-card *ngIf="solicitud==null && !nueva">
    <div class="text-center pt-2">
        <div class="menu-header">
            <h1>
                No se encontro la solicitud
            </h1>
            <button class="btn back-button btn-block" routerLink="../">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Regresar
            </button>
        </div>
    </div>
</nb-card>
<nb-card *ngIf="solicitud!=null || nueva">
    <nb-card-header>
        <div class="text-center pt-2">
            <div class="menu-header">
                <h1 *ngIf="!nueva">
                    Solicitud apoyo alimentario No. {{ idSolicitud }}
                </h1>
                <h1 *ngIf="nueva && periodo!=null">
                    Nueva solicitud apoyo alimentario periodo {{ periodo?.Nombre }}
                </h1>
                <button class="btn back-button btn-block" routerLink="../">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Regresar
                </button>

            </div>
        </div>
    </nb-card-header>
    <hr>
    <nb-card-body>
        <div class="container" *ngIf="tercero==null && nueva">

            <h5>Documento del solicitante</h5>
            <input #documentoNew nbInput fullWidth shape="semi-round" placeholder="Documento o Carné" alt="Documento o Carné" class="input-query-ud" value={{solicitante?.Id}}>
            <br>
            <hr>
            <div class="mt-2">
                <button nbButton fullWidth hero shape="semi-round" status="success" (click)="cargarSolicitante(documentoNew.value)" class="submit-button">
                <i class="far fa-id-card mr-1"></i>
                    Cargar solicitante
                </button>
            </div>

        </div>

        <nb-accordion *ngIf="tercero!=null">
            <!-- Informacion solicitante -->
            <nb-accordion-item expanded>
                <nb-accordion-item-header>
                    <h4 class="non-selectable">Información solicitante</h4>
                </nb-accordion-item-header>

                <nb-accordion-item-body *ngIf="tercero!=null">
                    <!-- <input [disabled]="!nueva" fullWidth nbInput value={{solicitante?.Id}}> -->
                    <div class="menu-list">
                        <div class="item ">
                            <label class="sub-item label-color-ud">
                                ID :
                            </label>
                            <label class="sub-item ">
                                {{tercero?.Id}}
                            </label>
                            <!-- <input ng-readonly="!nueva" fullWidth nbInput value={{solicitud?.Id}}> -->
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Nombres:
                            </label>
                            <label class="sub-item">
                                {{tercero?.PrimerNombre}} {{tercero?.SegundoNombre}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Apellidos :
                            </label>
                            <label class="sub-item">
                                {{tercero?.PrimerApellido}} {{tercero?.SegundoApellido}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha de Nacimiento :
                            </label>
                            <label class="sub-item">
                                {{tercero?.FechaNacimiento}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Estado:
                            </label>
                            <label class="sub-item">
                                <!-- {{tercero?.Activo}} -->
                                <span *ngIf="tercero?.Activo" class="badge rounded-pill bg-success">Activo</span>
                                <span *ngIf="!tercero?.Activo" class="badge rounded-pill bg-danger">Inactivo</span>
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Usuario App:
                            </label>
                            <label class="sub-item">
                                {{tercero?.UsuarioWSO2}}
                            </label>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Informacion solicitud -->
            <nb-accordion-item *ngIf="solicitud!=null">
                <nb-accordion-item-header>
                    <h4 class="non-selectable">Información solicitud</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="menu-list">
                        <div class="item ">
                            <!-- form-group  -->
                            <label class="sub-item label-color-ud">
                                ID :
                            </label>
                            <label ng-readonly="!nueva" class="sub-item ">
                                {{solicitud?.Id}}
                            </label>
                            <!-- <input ng-readonly="!nueva" fullWidth nbInput value={{solicitud?.Id}}> -->
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha Radicación :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.FechaRadicacion}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha Creación :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.FechaCreacion}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Fecha Modificación :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.FechaModificacion}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Solicitud Finalizada :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.SolicitudFinalizada}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Referencia :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.Referencia}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Tipo Solicitud :
                            </label>
                            <label class="sub-item">
                                {{solicitud?.EstadoTipoSolicitudId.EstadoId.Nombre}}
                            </label>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Estado :
                            </label>
                            <label class="sub-item">
                                <!-- {{solicitud?.Activo}} -->
                                <span *ngIf="solicitud?.Activo" class="badge rounded-pill bg-success">Activo</span>
                                <span *ngIf="!solicitud?.Activo" class="badge rounded-pill bg-danger">Inactivo</span>
                            </label>
                        </div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Observaciones -->
            <nb-accordion-item *ngIf="observaciones!=[] && !nueva">
                <nb-accordion-item-header>
                    <h4 class="non-selectable">Observaciones</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Titulo</th>
                                <th scope="col">Mensaje</th>
                                <th scope="col">Fecha creacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obs of observaciones">
                                <th><b>{{obs.Titulo}}</b></th>
                                <td> {{obs.Valor}}</td>
                                <td> {{ obs.FechaCreacion.split('.')[0] }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-success btn-block" (click)="agregarObservacion()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        Agregar observacion
                    </button>
                </nb-accordion-item-body>
            </nb-accordion-item>

            <!-- Estado de la solicitud -->
            <nb-accordion-item *ngIf="solicitud!=null && !nueva">
                <nb-accordion-item-header>
                    <h4 class="non-selectable">Estado solicitud</h4>
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="menu-list">
                        <div class="item ">
                            <!-- form-group  -->
                            <label class="sub-item label-color-ud">
                                Estado actual :
                            </label>
                            <label ng-readonly="!nueva" class="sub-item ">
                                {{solicitud?.EstadoTipoSolicitudId.EstadoId.Nombre}}
                            </label>
                            <!-- <input ng-readonly="!nueva" fullWidth nbInput value={{solicitud?.Id}}> -->
                        </div>
                        <div class="item">
                            <hr>
                            <h6>Cambiar estado</h6>
                            <br>
                        </div>
                        <div class="item">
                            <label class="sub-item label-color-ud">
                                Nuevo estado :
                            </label>

                            <select class="browser-default custom-select" [(ngModel)]="nuevoEstado">
                                <option [ngValue]="null">Selecciona el siguiente estado</option>
                                <option *ngFor="let estadoTipo of estadosTipoSolicitud;let i = index;" [ngValue]="i">
                                    {{estadoTipo.EstadoId.Nombre }}</option>
                            </select>
                            <br>

                        </div>
                        <br>
                        <div *ngIf="nuevoEstado!=null" class="item mt-3">
                            <label class="sub-item label-color-ud">
                                Observacion cambio de estado:
                            </label>
                            <textarea [(ngModel)]="obseravacionText" nbinput="" fullwidth="" placeholder="Observacion" class="input-full-width size-medium status-basic shape-rectangle nb-transition" style="margin-top: 0px; margin-bottom: 0px; height: 60px;"></textarea>
                        </div>
                    </div>
                </nb-accordion-item-body>
                <hr>
            </nb-accordion-item>



        </nb-accordion>
        <hr *ngIf="tercero!=null">
        <div class="form-group" *ngIf="tercero!=null">
            <button *ngIf="!nueva" nbButton fullWidth hero shape="semi-round" status="warning" (click)="save()" class="submit-button">
                <i class="fas fa-save mr-1"></i>
                Guardar cambios
            </button>
            <button *ngIf="nueva" nbButton fullWidth hero shape="semi-round" status="warning" (click)="save()" class="submit-button">
                <i class="fas fa-save mr-1"></i>
                Crear Solicitud
            </button>
        </div>
    </nb-card-body>
</nb-card>

<div *ngIf="solicitud==null && !nueva" class="alert alert-warning text-center mt-3">
    <h3 class="alert-heading">No se encuentra la solicitud {{idSolicitud}}</h3>
    <p>
        <i class="fa fa-exclamation fa-2x    "></i>
    </p>
</div>